[2018-11-14 09:59] pvandorp opened #2 "Add NuGet, Chocolatey or npm support"
To improve the getting started experience it would be better to have Azure DevOps publish to a package management system like NuGet or npm.

When using npm the solution should also support running on Linux and Mac. It's a big change, but it will definitely increase the relevant user base.

[2018-11-14 23:02] Jura opened #3 "Unauthorised access error in jira-export"
Following command
`jira-export -u [bitbucket username] -p [personal token] --url [url of the project] --config config.json --force `
producing uncaught 401 Unauthorized error after passing initial connection step. Apparently it fails at
https://github.com/solidify/jira-azuredevops-migrator/blob/80bb539fa33a433d1f6a425d5ce2151306982701/src/WorkItemMigrator/JiraExport/JiraProvider.cs#L36
since here

[2018-11-15 07:29] MOlausson commented on #3
Thanks for reporting, we'll have a look. What version of Jira are you on? Also it would be helpful if you could share the format of the url you are using.

[2018-11-15 15:07] Jura commented on #3
It;'s Jira cloud (latest version, I presume: Jira c7720088 in Help -> ABout Jira menu).

I tried URL in the format of https://[org_name].atlassian.net and https://[org_name].atlassian.net/projects/[project_name] - both end up with the same error

[2018-11-15 16:22] MOlausson commented on #2
We've talked about pushing to nuget and publishing a chocolatey package, but I couldn't see the immediate benefit of this. What would you say make that easier since you need to have nuget/chocolatey/npm installed first?

[2018-11-15 22:15] MOlausson commented on #3
I've tried to repo but it works with a normal user in my account. Is it possible for you to test with a different account or give a bit more context on your permission setup?

[2018-11-16 08:36] pliljecrantz opened #6 "Azure DevOps task getting wrong state at import if state is To Do"
When importing to Azure DevOps/TFS tasks (wit Task) gets the wrong state if the corresponding Jira sub task has state To Do. In Azure DevOps/TFS the state should be set to To Do but gets state New which isn´t a valid state for Task.

[2018-11-16 09:26] pliljecrantz opened #8 "States missing for Epic and Feature"
There is no mapping for states on epics and features between Jira and Azure DevOps/TFS.

[2018-11-16 09:49] #6 closed

[2018-11-16 20:02] Jura commented on #3
I assigned account to the project admin role and also listed it as project lead in Jira cloud
![image](https://user-images.githubusercontent.com/417604/48644246-060f9300-e9b0-11e8-945b-d8ac8fe42b6f.png)

but result is exactly the same. I'm also attaching log for your reference

[log.6753f8b4-aa6e-4c68-ac5a-5d6a88ca6bbe.txt](https://github.com/solidify/jira-azuredevops-migrator/files/2590710/log.67

[2018-12-04 17:07] MOlausson commented on #8
Fixed in release 2.0.

[2018-12-04 17:07] #8 closed

[2018-12-05 11:12] 6uillaume opened #10 "Cannot deserialize the JSON text from configuration file"
Hello,
I'm getting the message "Cannot deserialize the JSON text from configuration file" when launching a jira-export or wi-import command. It was working with the 1.0.15 version adapting the sample json file.
Thanks

[2018-12-05 13:13] MOlausson commented on #10
Can you share the config file? Or compare it to the sample file in the repo/release. We made some changes to the schema to better support mapping of work item types and domain values, hence the 2.0 version, so make sure to use the matching execuables.

[2018-12-05 13:44] 6uillaume commented on #10
Hi, thanks for answering. I attach the config file. I took the sample file in the release. I modified source, target, query, effort field and remove remaining work. See attached.
[config-XXX.zip](https://github.com/solidify/jira-azuredevops-migrator/files/2649008/config-XXX.zip)

[2018-12-05 18:14] pliljecrantz commented on #10
It seems you are missing a comma after "effort" in your json file which results in invalid json I´m afraid, please add the comma and try again. If the error persists we´ll dig into it. Thank you.

[2018-12-06 15:58] 6uillaume commented on #10
Thanks, sorry for the issue :(

[2018-12-06 22:28] Jura opened #13 "Incorrect URI for REST call to retrieve changelog records"
Jira export tool fails to process issues with the following stack trace:
[code]
According to the [documentation](https://docs.atlassian.com/software/jira/docs/api/REST/7.13.0/#api/2/issue)  there is no "/changelog" endpoint and it should be referenced as https://[jira server]/rest/api/2/issue/[issue ID]**?expand=changelog**&maxResults=100&startAt=0 instead.

I've tested this construction and amend

[2018-12-06 22:31] Jura commented on #3
@MOlausson , I cannot validate this issue anymore since I lost access to Jira Cloud and Jira Server is not affected. I think this issue can be closed as non-reproducible.

[2018-12-06 22:31] #3 closed

[2018-12-07 21:51] Jura commented on #13
@pliljecrantz it's a pretty easy fix, do you want me to create PR for it?

[2018-12-08 12:16] MOlausson commented on #13
@Jura get to get input so feel free to make the changes and submit a PR.

[2018-12-11 17:11] MOlausson commented on #13
Thanks for your contribution @Jura. We've integrated the fix in [R2.0.10](https://github.com/solidify/jira-azuredevops-migrator/releases/tag/v2.0.10).

[2018-12-11 17:11] #13 closed

[2018-12-11 20:35] Jura opened #16 "Add option to define default target user mapping"
Add [optional] possibility to indicate default target user account which should be used to map all unmappable usernames from source repository. Usually there are many historical entities which do not have counterparts in the new setup so export tool should map those to default user.

[2018-12-17 13:54] Jura commented on #16
Can it be implemented as a fallback option? I mean if specific user is not provided explicitly but wildcard option is present.

[2018-12-18 13:15] MOlausson commented on #16
Yes. Checkout the latest release, we've added the * match so now explicit first then if * is present we map to a default user, if not then we copy over the source value.

[2018-12-18 13:17] Jura commented on #16
@MOlausson , I've tested release [2.1.1](https://github.com/solidify/jira-azuredevops-migrator/releases/tag/v2.1.1) and also I have `*=[username]` line in my users.txt mapping file exporter doesn't use it - that's what I got in revisions (partial excerpt):

[code]

[2018-12-21 13:39] pliljecrantz commented on #16
We will not implement the default user functionality on unassigned tasks or revisions without an author (this last one was your use case) at this moment. Especially for revisions it will throw the history off when setting the author to a user that did not make the change in the beginning, so we have decided not to implement that. For unassigned work items we recommend you to do a bulk update on th

[2018-12-21 13:39] #16 closed

[2019-01-28 12:34] lcempulik opened #22 "401 System.Security.Authentication.AuthenticationException:"
I'm having some problems with connecting to cloud version of JIRA ( V2a39c429 ), I have .bat file with following statement :

jira-export.exe -u some@login.com -p somepassword --url https://someorg.atlassian.net/ --config .\Samples\config-scrum.json

but it looks like I'm unable to authenticate, why I get 401 here ?

[2019-01-28 12:49] lcempulik commented on #22
Ok, I have solution for this problem :
Instead of using full  :    username@some-host.com  I switched to username . It would be good to point it in doc.

[2019-01-28 12:49] #22 closed

[2019-01-28 21:31] MOlausson commented on #22
@lcempulik thanks for pointing this out. I will try to repro and update the docs accordingly.

[2019-02-07 17:55] SukramAbAnvil opened #23 "FieldDefinitionNotExistException because of ReproSteps"
I have migrated a project with the "Sample config" as a test, only the project names and the Jira query have been changed.
The  jira export seem to work fine, but during the import I get the above mentioned exception.

[2019-02-07 18:10] SukramAbAnvil commented on #23
Based on my analysis, the problem is the following code passage:
[Jira Mapper Line 367](https://github.com/solidify/jira-azuredevops-migrator/blob/master/src/WorkItemMigrator/JiraExport/JiraMapper.cs)

`{ WorkItemType.Task, MergeMapping(commonFields, bugFields, taskFields) },`

The type "task" get also the fields of a bug because of the merge.

I mean the following code should fix the problem:
`{

[2019-02-07 18:48] MOlausson opened #25 "Missing Jira user gives The user named 'nnn' does not exist exception in export"

[2019-02-07 18:54] #25 closed

[2019-02-07 19:00] MOlausson opened #26 "Missing Jira user gives The user named 'nnn' does not exist error"
If a user in an issue does not exist in Jira anymore the export tool fails to read the user's email (needed to map identities between systems).

[2019-02-09 08:57] #26 closed

[2019-02-11 15:00] Tallies opened #28 "wi-import: System.NullReferenceException"
Hi,

I exported from my Jira project without error. I can see a whole lot of `JiraProject-<NUM>.json` files as well as attachments in the Attachments folder. Step 6 in the migration guides mentions a journal file, which I don't see, but I might not be far enough in to process to see one.

When running import, I get the following exception:

`Unexpected error: System.NullReferenceException: Object

[2019-02-11 15:20] MOlausson commented on #28
Hi Charl,

It looks like the import tool fails to iterate over the set of exported .json files. Can you verify that the path used in the export is the same as for the import? Also check if the folder contains any .json files that aren't exporter Jira issues (I assume that can be a problem). To simplify I would suggest having the tools and configuration in one folder (i.e. c:\temp\jira-azuredevop)

[2019-02-13 20:07] MOlausson commented on #28
@Tallies Did you get to work around this? I tested and get the same error if for instance the config.json is in the same folder as the export files. I'll start work on a fix to resolve this issue but in the meantime you should be unblocked by keeping the export files in a separate directory for the import.

[2019-02-14 05:58] Tallies commented on #28
@MOlausson

Apologies for the tardy response. I haven't had a chance to retry. I'm running right now with the proposed solution, and will let you know.

Thanks for your prompt response!

Tals

[2019-02-16 13:14] MOlausson commented on #28
@Tallies take your time. Let us know when you have tested, we've got an update in the works what will handle the error but you should be fine by separating the file types for now.

[2019-02-16 15:48] MOlausson commented on #23
Hi @SukramAbAnvil, Appologies for not geting back sooner. We've had a look at this and it seems to be caused by code that's not supposed to be there anymore. We're working on an update with the same intent as your PR.

[2019-02-28 06:04] Tallies commented on #28
Hi Mathias,

Work if your config is separate from your export/import folder.

Thanks!

On Sat, Feb 16, 2019 at 3:14 PM Mathias Olausson <notifications@github.com>
wrote:

[2019-03-04 12:45] Jeroenskie opened #29 "The request was rejected by the server because of unicode control characters"
When there is an unicode control character (like \u000b) in the JSON file in the "Value":  section the JSON file import generates an error:

`[l:E][d:16:40:23] [Microsoft.TeamFoundation.TeamFoundationServerInvalidRequestException] The request was rejected by the server.
Technical information:
  HTTP code 400: Bad Request:
   at Microsoft.TeamFoundation.Client.Channels.TfsHttpWebRequest.ReadRespons

[2019-03-05 11:19] JulienDecottignies commented on #28
Hi, I have exactly the same exception but my Export folder is not in my config folder.

Here is my export.config.json file:

[export.config.zip](https://github.com/solidify/jira-azuredevops-migrator/files/2930683/export.config.zip)

Here the log with the exception
[log.5c4ba1ae-5440-42e7-98cb-6089316fccda.zip](https://github.com/solidify/jira-azuredevops-migrator/files/2930686/log.5c4ba1ae-5440-42

[2019-03-05 22:33] Jeroenskie commented on #28
I had the same problem. When I delete the hidden file .json  in the export directory the problem is fixed.

[2019-03-05 22:44] MOlausson commented on #28
Thanks all for your feedback. We have an update in progress, hope to release it tomorrow. The new version will also include more verbose logging to help troubleshoot.

[2019-03-07 21:41] MOlausson commented on #29
Hi @Jeroenskie, it sounds like something we should handle. Would it be possible for you to post a sample here?

[2019-03-08 10:19] Jeroenskie commented on #29
Hi @MOlausson, thanks for looking into it. Below an example, if you need more info please let me know.
![dat-263](https://user-images.githubusercontent.com/13356814/54022899-d8836b00-4193-11e9-83ef-3963a919d690.png)

[2019-03-08 18:50] MOlausson commented on #29
Perfect @Jeroenskie, good description and should help us repro the issue.

[2019-03-09 10:18] MOlausson opened #32 "Improve logging for better troubleshooting"
The current logging lacks details. Add more verbose logging

- Field mapping
- User mapping
- Export issues
- Import issues

Also improve progress and summary information.

[2019-03-09 10:42] MOlausson opened #33 "Missing type mapping creates corrupt .json file without name"
If the an issue type isn't mapped in the config file a corrupt un-named file called ".json" is created. The import of that file generates a "Unexpected error: System.NullReferenceException: Object reference not set to an instance of an object." error.

[2019-03-17 21:27] #28 closed

[2019-03-17 22:56] #33 closed

[2019-03-19 14:19] eeerrrwwwuuu opened #37 "TF201077: The work item type Product Backlog Item cannot be found."
I'm having some problem with Importing tickets from JIRA due to problem with mapping types.

[code]

ech of tickets stored in Json starts with :
[code]
what leads to an error
[code]

If I understand it correctly, there's no match in target schema for this type, I believe I should remap it somehow ? I was thinking about :

[code]
and
[code]

[2019-03-19 17:10] MOlausson commented on #37
Hi @eeerrrwwwuuu, you are right that if the work item types don't exist in your target azure devops project (like Product Backlog Item in your case) it will err out and agree that the error could be better. I'll see if we can improve that.

But the solution is as you describe to map to the correct types (User Story in your case).

[2019-03-22 00:28] MOlausson opened #38 "Correct JSON Path for changelog history"
Corrected JSON Path for changelog history because it was incorrect and therefore not returning any history.

[2019-03-22 00:29] #38 closed

[2019-03-22 00:37] MOlausson commented on #23
We ended up not doing more changes that this at the moment so thanks for your fix for this specific issue.

[2019-03-22 00:37] #23 closed

[2019-04-10 22:51] cris-b opened #40 "Cant transfer components/fixVersions/versions"
The components, fixVersions and versions fields are arrays of objects, whatever I try I cant get these to populate in the exported json.

[2019-04-11 08:49] MOlausson commented on #40
@cris-b can you share an example of the field definition in Jira and the config file you have for the migration mapping?

[2019-04-11 09:02] cris-b commented on #40
sure, configuration:

      {
        "source": "versions",
        "target": "Microsoft.VSTS.Build.FoundIn",
        "source-type": "name"
      },
      {
        "source": "fixVersions",
        "target": "Microsoft.VSTS.Build.IntegrationBuild",
      }

jira response content:

    "fields": {
    "fixVersions": [{
      "self": "https://test:8443/rest/api/2/version/47829",
      "id": "47829",

[2019-04-11 18:17] MOlausson commented on #40
Ok, got it. @cris-b how would you expect the result in Azure DevOps to look? A formated list? Azure DevOps doesn't have a multi-select list by default, is that how you would like to see it?

[2019-04-11 20:18] cris-b commented on #40
i created a pull request for this, i guess a comma separated list (as it would look in jira) is all you can do as the field is just a string.

for components i'm not sure where the most appropriate place is for them.  I'm guessing converting to tags would probably suit, but what if you have tags and labels on a jira?  at the moment i dont think there is a way to merge multiple jira fields to one d

[2019-04-11 20:28] srikanthachutuni commented on #40
**@MOlausson** ,

I do have the same issue described by **@cris-b**.

Source: JIRA field **fixVersions** is of type **array**.
Target: Azure DevOps field **Microsoft.VSTS.Build.IntegrationBuild** is of type **String**
![image](https://user-images.githubusercontent.com/46751968/55990491-c8b8e400-5c75-11e9-91c4-2389b6e93360.png)

In the JSON file I have done the mapping as below. Since the source fi

[2019-04-12 21:03] MOlausson commented on #40
@srikanthachutuni, @cris-b thanks for the suggestions and examples. I'll try to make the configurable but if we change the proposed PR to use semicolons instead of commas then it will map nicely to https://marketplace.visualstudio.com/items?itemName=ms-devlabs.vsts-extensions-multivalue-control as a way to get it looking more like the Jira issue. I'll have a look, at least approve the PR that seem

[2019-04-15 11:46] vesselinmilanov commented on #3
Hi,
i have the same issue:
[error.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3079896/error.txt)

I tried with 3 accounts and tried URL in the format of https://[org_name].atlassian.net and https://[org_name].atlassian.net/projects/[project_name] - both end up with the same error

We use Jira CLOUD.

Thank you .

[2019-04-16 08:12] JulienDecottignies commented on #3
Just have the same problem. Solved by creating an API Token in my account settings. Then paste this token in the -p argument of the jira-export command

[2019-04-16 12:31] MOlausson commented on #3
@JulienDecottignies thanks for the suggestion. I'll have to check what makes username/password work on most accounts but not all. @vesselinmilanov happy to take a call and try to figure it out together since I can't repro. But using a token should get you unblocked.

[2019-04-16 12:42] vesselinmilanov commented on #3
Yes - after many tries i discover this workaround with API Token.

Thank you .

[2019-04-16 13:00] MOlausson commented on #3
Ok, so good for now @vesselinmilanov ?

[2019-04-17 06:48] MOlausson opened #42 "Add check for new version"
Add a version check so it's easy to see if an update is available.

[2019-04-17 21:06] Laul0 opened #43 "Product Backlog Items and iterations"
## Summary

I exported my Jira content successfully (I guess) and now, I can import it to DevOps but something is missing...

## Current Behavior

### Iterations

My iterations are created successfully (from the project settings):

![Screen Shot 2019-04-17 at 16 51 26](https://user-images.githubusercontent.com/15279205/56320033-3d39ca00-6131-11e9-8ad8-07c80aaade93.png)

but not "recognize" by DevO

[2019-04-21 13:21] MOlausson commented on #43
Hi @Laul0. Can you share your config file?

[2019-04-21 14:33] Laul0 commented on #43
Hi @MOlausson, yes:

[code]

[2019-04-21 22:12] MOlausson commented on #43
Thanks @Laul0 this will help us troubleshoot the issue. I'll also check how sprint dates are handled.

[2019-04-25 21:45] #32 closed

[2019-04-28 13:59] MOlausson commented on #37
Fixed in release 2.2.x

[2019-04-28 13:59] #37 closed

[2019-04-28 17:22] MOlausson commented on #40
Fixed in release 2.2.x

[2019-04-28 17:22] #40 closed

[2019-04-30 09:07] MOlausson commented on #43
Hi @Laul0 I finally got to check this. Currently we don't create sprints as part of the import, we only create iterations. And we don't migrate dates so I'll add this as a separate thing to consider. Then for your real problem, I can reproduce this and if I set the area for the team to include sub items then they will show in the backlog and board. Can you check if this solves the problem for you?

[2019-04-30 13:18] Laul0 commented on #43
Hi @MOlausson
I tested your suggestion and you right 🙂 by changing iteration and include 'sub-areas', all tasks are appearing into the backlog.
And now, I just have to add existing sprint to show them, cool !

[2019-04-30 20:02] #43 closed

[2019-04-30 20:20] MOlausson commented on #43
Hi again @Laul0, this workaround led me to believe there was something else not working. Turned out not all area/iteration properties got set so I changed implementation in the 2.2.10 release. Feel free to give it a try.

[2019-05-01 00:17] Laul0 commented on #43
I'll do ! Thank you for your investigation 💪🏻

[2019-05-01 10:35] MOlausson commented on #29
Hi @Jeroenskie , I finally got to look at this. I cannot reproduce, can you help me how I can setup a test for this? We'll add some form of scrubbing to the text to avoid the problem but I would like to have a test case for it.

[2019-05-01 18:15] #42 closed

[2019-05-03 02:56] ndbadmin commented on #3
I found using the API token was necessary as well - regular password didn't work. Got the token from here: https://id.atlassian.com/manage/api-tokens.

[2019-05-03 05:22] MOlausson commented on #3
Ok, sorry to hear but good you got it resolved @ndbadmin. Did you try using your Jira username as well? The api auth seems to behave differently when using username, email or tokens.

Here's an example (exported from the Users admin in Jira);

[code]

[2019-05-06 12:29] yfrindel opened #50 "Problem with the attachments"
Hi, all seems fine except with the attachements. I have the following message with a ticket (during the JIRA import step) :

[code]

All the process is stopped, so the import is not correctly finished.
Does someone could help me please ? thx

[2019-05-06 13:05] Jura commented on #50
I have the same issue - image in comment is referenced but missing on server, it would be useful to have an option to skip over attachment errors to continue export.

[2019-05-06 14:14] yfrindel commented on #50
I added a "Try Catch" in the class JiraMapper.cs to fix the problem :

![Uploading Capture.GIF…]()

[2019-05-06 17:39] MOlausson commented on #50
Thanks for the feedback @yfrindel and @Jura. What about an option like "ignore-failed-links": true for choosing to treat missing linked work items as workings or error? For instance ignore-failed-attachments where true => warnings and false => errors?

[2019-05-06 22:28] Jura commented on #50
Sounds good to me, warnings instead of aborts are exactly what I'm looking for. Thanks

[2019-05-07 03:09] hasithamgh opened #51 "Issue when exporting work items"
I'm trying to export multiple work items from JIRA and when I execute the export tool I recive following issue. I was only able to export one work item from JIRA.
image
![image](https://user-images.githubusercontent.com/12080391/57269014-6fd94180-70a3-11e9-87f1-d78a7279ce98.png)

[D][15:38:12] Mapped value 'Committed' to field 'System.State'.
[D][15:38:12] Exported as type 'Product Backlog Item'.

[2019-05-07 11:27] MOlausson commented on #51
Thanks for reporting @hasithamgh. Can you share a little more context regarding your structure. Which issue types are you using? Which process? Do you use parent epics at all?

[2019-05-07 12:37] hasithamgh commented on #51
Thanks @MOlausson for looking in to this. I'm totally new to JIRA but I need to do a work item migration from JIRA to AzureDevOps. I'm currently using a test jira instance where it contains few users stories, tasks and bugs. I used the default config file given with the tool and just renamed the project names. I can grant you permission to the JIRA instance if you could provide your email address.

[2019-05-07 13:24] srijampani commented on #51
@MOlausson , i am also running into the same issue, In our JIRA project we have Epics, Stories, bugs, tasks, sub tasks. EPIC's have tasks present under them.
![image](https://user-images.githubusercontent.com/43587506/57302740-7ebef480-70a1-11e9-8e4b-001c66cb9639.png)

[2019-05-08 20:20] davidlbueno opened #52 "Links not being added to work items"
When attempting to import work items into DevOps, some link types are not getting imported properly, specifically 'Related' and 'Duplicate' link types.

Only some of the 'Hierarchy-Reverse' link types are getting imported properly, and none of the 'Related' and 'Duplicate' link types. Instead, a comment is added to the Work Item that looks like this:

[code]

The import log shows the following for

[2019-05-10 11:39] MOlausson commented on #51
Fixed in v2.2.21.

[2019-05-10 11:39] #51 closed

[2019-05-12 08:37] MOlausson commented on #52
Hi @davidlbueno and thanks for bringing this to our attention. Links in Azure DevOps are bi-directional so if for instance the parent work item cannot create a child link since the child work item does not exist, the link should be established later when the child creates a parent link. But of course if the child item isn't in the import set than it will result in missing links. We'll investigate.

[2019-05-13 13:20] davidlbueno commented on #52
Thanks for the response @MOlausson, Parent and child links of the Hierarchy-Reverse linkType appear to be working just as you described. Links that are of the Dupicate or Related Linktypes are not getting created on either end of the link however. For example, we have:

**Jira ID: EN-1934**
Export file excerpt:
[code]
Excerpt from import log:
[code]
(The above message is added as a comment, but th

[2019-05-13 13:31] BenOberholzer commented on #3
Thank you for this thread!  I've been searching for this question and the token did the trick!

[2019-05-14 16:01] yfrindel commented on #50
Sounds good to me too. Thx

[2019-05-15 07:18] yfrindel commented on #50
May I ask why 7 for "download-options" please ?

[2019-05-15 08:01] yfrindel commented on #50
Sometimes, in a ticket, an attachment is created, then deleted or renamed. So, in my opinion, that's why the program doesn't find the attachment, and that's certainly why I have this kind of error :

[code]
(I tried with the last source code of the program)
Maybe just creating (or adding the revision) without the attachment could be enough in this case ?

[2019-05-15 09:46] MOlausson commented on #50
It's a bit field so all options => 1 + 2 +4 ? 7. I should clarify this in the docs.

[2019-05-15 17:27] dan-miller commented on #50
@MOlausson is this issue still being worked?

[2019-05-15 18:42] MOlausson commented on #50
I've created a release for this now, it was actually a bug as I see it. I cannot repro with the test data I have at hands so great if someone can test v2.2.24.

[2019-05-15 18:48] MOlausson commented on #50
Check out release v2.2.24.

[2019-05-16 08:06] yfrindel commented on #50
I will try to check the new version ASAP

[2019-05-16 08:59] yfrindel commented on #50
Just to understand, could you tell me, please, if the workitem is created (or not) when an attachment is not found ?

[2019-05-16 12:06] dan-miller commented on #50
We've moved past the attachment error, but now I can't seem to find the output directory/files
![image](https://user-images.githubusercontent.com/3630374/57852608-925d1000-77b1-11e9-86f3-97863a603424.png)

[2019-05-16 15:58] yfrindel commented on #50
The process of migration is very very very long...Is it possible to reduce the timeout value when an exception is thrown ? (for example when an attachment is not found)

![image](https://user-images.githubusercontent.com/22955005/57868709-ca8d3e80-7803-11e9-80e3-0d873d646dfb.png)

![image](https://user-images.githubusercontent.com/22955005/57868792-f1e40b80-7803-11e9-9ab2-bf2d8eb9a594.png)

[2019-05-16 17:07] MOlausson commented on #50
@yfrindel yes the work item is created regardless but attachments may be missing. Regarding the user warning it comes from not finding the user in Jira. Is there a user called Admin still? I don't know that code so well, we might check agains email adresses so will have to check.

[2019-05-16 18:32] MOlausson commented on #50
@yfrindel regarding perf I don't see the exceptions taking time, from your screenshots it looks like the api calls in general takes a long time in your case. Are you accessing the Jira server remote over network with latency? I also just pushed an update where I changed the above exception to a warning to be inline with how other non-critical situations are handled.

[2019-05-19 10:06] contactsimonwilson opened #56 "Custom field mapping to Microsoft.VSTS.TCM.ReproSteps is ignored"
Mapping any field other than description to Microsoft.VSTS.TCM.ReproSteps does not work as expected. Instead of copying the field details from the specified field (eg a custom repro steps field in Jira), the contents from the description field are used.

This occurs because the description field is always mapped to the repro steps field for bugs by the first line in the MapLastDescription method i

[2019-05-19 13:05] MOlausson commented on #50
Closing this as it should work as design now. @yfrindel let me know if you find something that's not as expected.

[2019-05-19 13:05] #50 closed

[2019-05-20 07:22] yfrindel commented on #50
Hi. and thanks for your answer.

"Are you accessing the Jira server remote over network with latency?" => yes it's possible. I will try directly from 1 of our boxes.

[2019-05-22 12:17] cris-b opened #57 "Some items get assigned to the wrong user"
If in the JIRA history the item only changes state, we end up generating a revision like:

    {
      "Author": "test.user@email.com",
      "Time": "2019-05-17T09:07:25+01:00",
      "Index": 2,
      "Fields": [
        {
          "ReferenceName": "System.State",
          "Value": "Active"
        }
      ],
      "Links": [],
      "Attachments": [],
      "AttachmentReferences": false
    }

[2019-05-22 13:18] cris-b commented on #57
raised pull request 58 to fix this

[2019-05-22 19:42] cris-b commented on #57
hmm i'm not sure if that does indeed fix it.

something strange is going on here, on certain imported issues the user is still set wrong.  It's like when the user changes the update silently fails and gets assigned the default user (the one doing the import).

I see in the wi-import log that it maps the user change correctly, but on the next update the user has been set to the migration user inste

[2019-05-23 11:58] cris-b commented on #57
ok figured it out, it seems like if the revision fields are in the order:

System.AssignedTo
System.State

the user doing the migration gets assigned, and if the fields are in the order:

System.State
System.AssignedTo

the user in the field gets assigned.  So its like its doing two updates, with the State Update always resetting the user.  So the assignment must be the last one.

[2019-05-23 13:21] cris-b commented on #57
i've updated the PR to reflect this, excuse the extreme tactical nature of my code :-)

[2019-05-30 12:36] BenOberholzer opened #59 "Custom IssueTypes on both ends fails to map"
In JIRA our team had created a 'Technical Debt' issuetype.  We similarly created a 'Technical Debt' issuetype in ADO.  I mapped the objects like I mapped any other object and ran the export.  In the individual export items, none of the standard fields (title, description, etc.) were created in the resulting JSON files for those issues.  Epics were created, bugs were created, etc.  I tried all sort

[2019-05-30 13:47] MOlausson commented on #59
Hi @BenOberholzer I would expect this to work. Let's work to track this down.

[2019-05-30 13:58] BenOberholzer commented on #59
No problem.  I have attached both here.
[jira-export-log-190530-095606.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3237303/jira-export-log-190530-095606.txt)
[config-swat.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3237304/config-swat.txt)

Apparently I can't post a json file so the config file is just changed to a .txt extension.

[2019-05-30 14:10] MOlausson commented on #59
Thanks. Realized I would like to look at the import log as well. But the config looks fine at a first look.

[2019-05-30 15:41] BenOberholzer commented on #59
[wi-import-log-190530-113754.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3237700/wi-import-log-190530-113754.txt)
Here's the import log.

[2019-06-09 08:47] MOlausson commented on #59
@BenOberholzer did you get this resolved? I checked the logs and don't see the issue, perhaps these were for the files you have manually corrected?

[2019-06-10 01:19] BenOberholzer commented on #59
@MOlausson I actually don't recall seeing errors during the import.  The items were created but most of the details (title, description, etc.) were missing.  It's like it couldn't map the fields on the import.  But then again the exported items from JIRA didn't have those details either.  I personally think the problem is on the export side, not the import.

[2019-06-10 13:44] cia0mari commented on #59
@MOlausson I'm having same problem: I'm trying to export Bugs from Jira and importing them as Issues in DevOps but it fails. If I import them as Bugs in DevOps it works correctly.

[2019-06-18 09:35] yfrindel commented on #50
I have still a problem with the type "Test". When I try to import a "Test" from Jira, the workitem is empty if it's mapped with the type "Test Case" of VSTS. Could you help me please ?

[2019-06-18 14:08] tj-incycle opened #61 "The value '[Insert Project Id]' does not exist for the field 'project'"
I'm currently using the latest version, `2.2.25`, and migrating a series of projects and last night I started getting this error. No matter what project I try, I consistently get this error right now. I've verified the query I'm using works in Jira but doesn't work in the tool. Let me know what additional information you need for this.

[code]

[2019-06-20 07:18] yfrindel opened #62 "Problem with the import of a "Test""
I have a problem with the type "Test". When I try to import a "Test" from Jira, the workitem is empty if it's mapped with the type "Test Case" of VSTS. Could you help me please ?

[2019-06-20 11:56] MOlausson commented on #62
Can you share your mapping, I'm sure it's correct but want to make sure we start looking from the right angle.

[2019-06-20 14:30] yfrindel commented on #62
yes sure, thx
[config-scrum.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3310851/config-scrum.zip)

[2019-06-21 12:44] yfrindel commented on #62
I need especially some things like the "history" or the "test step"

[2019-06-24 22:27] hacksoi commented on #59
I have the same problem too.

[2019-06-25 10:38] yfrindel commented on #62
I can extract now the "test step" in a XML file, like that :
![image](https://user-images.githubusercontent.com/22955005/60091993-2376bd80-9746-11e9-8ca3-9f36f6d89919.png)

[2019-06-26 06:58] vishwanathk26071981 opened #63 "Migrate JIRA WIKI to Azure DevOps WIKI"
Hi All,

Can we migrate JIRA WIKI to Azure DevOps WIKI using this tool? If yes, can you please help in this.
I did not find any documentation for this. It will be helpful if someone can share the documentation for the same.

[2019-06-26 17:20] MOlausson commented on #63
Do you mean Atlassian Confluence? If so, no, we don't support that yet.

[2019-06-26 19:01] machinatus commented on #62
I have also run into this issue for a number of the fields from a Jira Test record. I am attaching my config file as well.

For the Summary/Title, I am not sure what the standard {"mapper": "MapTitle"} includes, so I also tried adding a separate {"source": "summary", "target": "Microsoft.VSTS.TCM.AutomatedTestName", "for": "Test Case"} section but to no avail.

Note that I am migrating to an Agile

[2019-06-27 16:00] Chintunie opened #64 "Replicate backlog priority in Azure Devops"
Hi,

Is it possible for the work items in Azure DevOps (in backlogs) to appear in the same order as in JIRA.
Currently, the open work items in Azure DevOps are are ordered based on the creation date in JIRA.

[2019-06-27 16:29] MOlausson commented on #64
Good point and that makes sense. We'll investigate.

[2019-06-27 16:30] MOlausson commented on #63
We'll have to close this, good idea but would be a Confluence and not Jira migration tool.

[2019-06-27 16:30] #63 closed

[2019-07-03 15:30] machinatus commented on #62
If this cannot be fixed for Test issues from Jira, what would the work around be? To export using code (as shown by yfrindel) and to import to ADO using Excel (https://docs.microsoft.com/en-us/azure/devops/boards/backlogs/office/bulk-add-modify-work-items-excel?view=azure-devops)?

[2019-07-03 16:17] MOlausson commented on #62
@machinatus we've had limited bandwidth last month but I'll take a look at this now. It sounds like a gap that needs to be fixed. Hope to have an update for you tomorrow.

[2019-07-10 16:21] machinatus commented on #62
Thank you for responding. Since there has been no further update, would it be correct to assume that I should look for alternate methods than the Solidify tool? I am under some time pressure to resolve this, so while I like the tool and want to support it, I cannot allow this issue to stop my migration project. :)

[2019-07-10 16:49] MOlausson commented on #62
Hi @machinatus, sorry but we started with some other issue so did not get to look at this. But will now. Can you help me repro, how are you creating the test cases (tests) in Jira? Using a custom issue type or an extension? Great if you can share some details regarding the issue definition.

[2019-07-10 17:19] machinatus commented on #62
Thanks. I am not an active Jira participant in the development project. The team says that they are using the Zephyr extension, which I guess must modify the Test record object.

[2019-07-10 17:22] MOlausson commented on #62
Got it, I just installed that one so will give it a try. Should be enough for me to repro and the you can help me verify. I'll post an update later today.

[2019-07-10 20:04] MOlausson commented on #62
So I looked at the data we get back from the Jira REST api and unfortunately we don't get the specifics from the Zephyr test case. What I can see (from a very quick glance) is that the extension makes an external call to get the custom data (like test steps) and that's not something we currently support. It makes for an interesting extension so will add that to the backlog but not likely something

[2019-07-17 13:04] #57 closed

[2019-07-17 13:05] MOlausson commented on #62
@yfrindel are/were you also using the Zephyr test extension?

[2019-07-17 13:07] MOlausson commented on #61
@tj-incycle did you get this working?

[2019-07-17 13:09] MOlausson commented on #56
@contactsimonwilson appoligies for the delayed response here. What type of field are you using instead of repro step for your mapping? Agree it should not be hard-coded as it is and we'll adress it.

[2019-07-17 22:34] yfrindel commented on #62
Indeed, we use the zephyr extension. And with this XML export, I'm able now to import/export all the fields that I want (spec steps for the tests cases, Integrated build, found build, etc...). I have just still some issues with some "histories" not correctly imported, I don't know why...

[2019-07-18 09:21] MOlausson commented on #62
Ok, got it. I've been in contact with Zephyr support and they have an api we can use to get the test case information, now we have to look at a design for this type of extension. So short-term we're not supporting 3rd party extensions but I hope we will soon. If you feel the history issues are related to our tool then feel free to open a separate issue for that.

[2019-07-25 15:32] dlauryssen commented on #61
Hi,

I am having the same issue. I am not able to get the jira export working. For confidentiality purposes I have replaced the project name with XXXX.

The query "project = XXXX" is working however in Jira.

Jira Exporter v2.2.25
Copyright (c) Solidify
[I][17:08:42] Connecting to Jira...
[I][17:08:42] Retrieving Jira fields...
[I][17:08:43] Retrieving Jira link types...
[E][17:08:43] Unexpected m

[2019-07-26 08:51] MOlausson commented on #61
Hi @dlauryssen, can you provide the config setting for your JQL (something like this:

"query": "project = SCRUM ORDER BY Rank ASC"

Also make sure the user/api token you are using has permissions to access the specified project.

[2019-07-26 14:58] dlauryssen commented on #61
Hi @MOlausson, attached the config file I used with a query status = Done,
[config.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3436199/config.txt)
leading to the result

The api token is of my user, and I have access to the project. I can run all of the used queries in jira and they are having results. I'm copy pasting the query to the config file but not leading to any result

[2019-07-26 15:03] dlauryssen commented on #61
@MOlausson interesting just tried with query   "query": "status = Done ORDER BY Rank ASC", with result

[2019-07-26 17:51] MOlausson commented on #61
Thanks @dlauryssen for the additional info. I think the code (or the Jira api) expects a project in the query, haven't tested but can you try adding it to the query and see what happens? I.e

Project = PB AND status = Done ORDER BY Rank ASC

[2019-07-28 19:34] dlauryssen commented on #61
@MOlausson no luck.

I find it also strange that it says it is not able to sort by rank, like it doesn't recognize that column...

[E][21:30:28] Unexpected migration error.
[System.AggregateException] System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Response Status Code: 400. Response Content: {"errorMessages":["The value 'FB' does not exist for the fi

[2019-07-28 19:37] dlauryssen commented on #61
also just tried it with 2.2.24 in stead of 25 but same behaviour.

[2019-07-29 11:06] MOlausson commented on #61
I tested with the latest code (2.2.25) and this query works fine for me: Status = Done ORDER BY Rank ASC

Can you make sure it works if you run the same query from an advanced query view in Jira:

![image](https://user-images.githubusercontent.com/7904771/62043817-a2f22380-b201-11e9-91f7-92e7571a97c8.png)

[2019-07-29 11:33] dlauryssen commented on #61
Yes it returns values

![image](https://user-images.githubusercontent.com/11612664/62045304-5f99b400-b205-11e9-9307-7cb4af03d40b.png)

[2019-07-29 11:34] dlauryssen commented on #61
[E][13:33:45] Unexpected migration error.
[System.AggregateException] System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Response Status Code: 400. Response Content: {"errorMessages":["Not able to sort using field 'Rank'."],"warningMessages":[]}
   at Atlassian.Jira.Remote.JiraRestClient.GetValidJsonFromResponse(IRestRequest request, IRestResponse respon

[2019-07-29 11:40] MOlausson commented on #61
What if you ignore the ORDER BY part?

[2019-07-29 12:52] tj-incycle commented on #61
Sorry for the delay, I was away on vacation. I was able to get the tool to work without making any changes, all I did was simply change location. I was remote at a client's office when I got the error originally and opened the issue. When I returned back to my office it worked fine for me. I pulled the source code down and did a little debugging and I honestly feel like this issue is actually on J

[2019-07-29 12:58] dlauryssen commented on #61
It goes through then, but no items found. But then starts complaining about Epic Link missing.

[I][14:23:29] Connecting to Jira...
[I][14:23:29] Retrieving Jira fields...
[I][14:23:30] Retrieving Jira link types...
[I][14:23:30] Export started. Exporting 0 items.
[W][14:23:30] Epic link field missing for config field 'Epic Link'.
[W][14:23:30] Sprint link field missing for config field 'Sprint'.

[2019-07-29 13:05] dlauryssen commented on #61
just tried on the pc of a colleague and having the same (lack of) results; also tried using my personal hotspot, no luck.

please also note that I'm having the same issue as https://github.com/solidify/jira-azuredevops-migrator/issues/3 that is why i am using an apitoken

also could this be related? https://community.atlassian.com/t5/Jira-Software-questions/REST-error-quot-The-value-XXX-does-not-e

[2019-07-29 14:01] dlauryssen commented on #61
Issues solved. I was using the wrong parameters when using the apitoken.

As mentioned above I was using the following command jira migration installer>jira-export -u APITOKEN --url https://PROJECTURL.atlassian.net --config config.json

while i should have been using the following command jira migration installer>jira-export -u emailaddress -p APITOKEN --url https://PROJECTURL.atlassian.net --conf

[2019-07-29 17:22] MOlausson commented on #61
@dlauryssen great to hear you sorted it out! I'll look into improving the input validation so we can avoid going down the wrong path when troubleshooting. Thanks for your patience :)

[2019-07-29 17:23] MOlausson commented on #61
@tj-incycle thanks for checking in and happy to hear it works for you. I'll add a story to improve input checks and potentially logging to make this kind of issue easier to spot.

[2019-07-29 17:23] #61 closed

[2019-08-01 13:41] dan-miller commented on #64
Is this planned to be done anytime in the near future? We'd like to do a heavy migration from Jira to ADO, but this is a big blocker for my organization.

[2019-08-01 15:14] MOlausson commented on #64
We're planning for an update in a couple of weeks, I'll investigate this tomorrow and see if we can get this done soon(ish). I assume you are using the default rank to order the backlog in Jira and have that come over to Azure DevOps?

[2019-08-01 15:17] dan-miller commented on #64
Correct. What seems to happen is that the ADO tickets are ordered by the Jira ticket # (i.e. by created date, ascending)

[2019-08-02 01:38] ShadowXVII opened #66 "AreaPath migration"
Is there any support/sample configuration for migrating Jira Components => DevOps Area Path?

[2019-08-02 01:43] ShadowXVII commented on #59
+1

[2019-08-02 14:20] MOlausson commented on #64
I took a look at this and it looks pretty straight-forward to convert the string value the rank has in Jira (using a form of lexicographical ordering) to a number. We could then just use that value as the backlog ordering and the Jira order will be preserved. It may however conflict with other Azure DevOps items in the backlog when existing and new items are merged in the backlog list. But I think

[2019-08-02 14:43] dan-miller commented on #64
Can you elaborate a bit more on the conflicts? When we've used this migrator, we always put the migrated items into an isolated area path. If I'm interpreting what you're saying correctly, that means we shouldn't have too much to worry about.

[2019-08-02 15:24] MOlausson commented on #64
Exactly, if you use an isolated area then it would work just right. If not then existing items may potentially have the same rank or new items may get inserted between existing items which for a large backlog will be less ideal I suppose. But I don't think that's a particularly big problem and we would make this an opt-in behavior in the tool so you could choose if you want the original order or n

[2019-08-02 18:34] dan-miller commented on #64
Sounds good to me.

From: Mathias Olausson
Sent: Friday, August 2, 2019 11:24 AM
To: solidify/jira-azuredevops-migrator
Cc: Dan Miller; Comment
Subject: Re: [solidify/jira-azuredevops-migrator] Replicate backlog priorityin Azure Devops (#64)

Exactly, if you use an isolated area then it would work just right. If not then existing items may potentially have the same rank or new items may get insert

[2019-08-05 20:24] Dustinparkes08 opened #67 "Acceptance Criteria not being passed"
It is not passing the acceptance criteria for User Stories or PBIs.

 "field-map": {
    "field": [
{
 "source": "Acceptance Criteria",
 "target": "System.AcceptanceCriteria"
},

Tried mapping other fields to the acceptance criteria and errors in log claiming acceptance criteria isn't defined.  Is the target not correct for acceptance criteria?

[2019-08-05 20:56] MOlausson commented on #67
Can you check how the acceptance criteria is defined in Jira? You can probably map it by name and not key (a custom field will be called customfield_ something) and the name of the Azure DevOps field probably has the default reference name Microsoft.VSTS.Common.AcceptanceCriteria.

"field": [
{
"source": "Acceptance Criteria",
"source-type": "name",
"target": "Microsoft.VSTS.Common.AcceptanceCrite

[2019-08-06 12:00] Dustinparkes08 commented on #67
How I was mapping the target was the issue.  Copied your field mapping and all acceptance criteria is now being passed.  Thank you!

[2019-08-06 12:00] #67 closed

[2019-08-06 13:23] Dustinparkes08 opened #68 "New work item types not populating all information in ADO"
I created two new work item types in ADO (Maintenance and Enhancement).  After migrating each it appears the Title, Assignee, State, Description and comments are not being passed.  It does appear that created date and attachments are being passed.  Please see attached files and logs.

[config.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3472443/config.txt)
[log.c082af4e-7685-4d

[2019-08-06 21:41] brbones commented on #62
I am running into this same issue and exporting from Jira to excel does not export the needed data either...so i am unable to import all that i need to VSTS.

[2019-08-06 22:18] machinatus commented on #62
@brbones: For what it's worth, getting the Test Cases which have Zephyr additional info out of Jira required assistance from the Zephyr support team initially. I took the resulting CSV file and massaged it into what I wanted to paste into the Grid View in Azure DevOps (https://docs.microsoft.com/en-us/azure/devops/test/reference-qa?view=azure-devops#q-is-there-a-way-to-quickly-add-multiple-test-ca

[2019-08-07 06:26] MOlausson commented on #62
@brbones I understand your consern here, we're investigating how we can add support for 3rd party extensions. No update there yet so short term I would suggest you look into the approach @machinatus has used.

[2019-08-09 09:25] RubenOuwerkerk commented on #68
Check, I have the same issue.

[2019-08-09 14:27] Jnaneshnayak opened #70 "Failed to get Azure DevOps/TFS project '<projectName>'"
Need help. it fails when I try to import the Project data when there is no project created in the Azure DevOps.
Does the script have the functionality to create Project automatically when not found?

**On Console**

[W][19:10:28] Project '<ProjectName>' does not exist.
**Would you like to create one? (Y/N)**
y[I][19:10:31] Creating project '<ProjectName>'.
[E][19:10:31] Unexpected migration error.

[2019-08-09 17:20] dan-miller opened #71 "Error, failed to import revisions"
When running a recent import, many of the work item revisions showed this error:

[code]

Looking through the Jira issues that triggered this error, I have not been able to find the cause of this. Do you have any thoughts or suggestions?

[2019-08-09 20:14] MOlausson commented on #71
@dan-miller can you share one of the files you are having trouble with?

[2019-08-09 20:38] MOlausson commented on #70
@Jnaneshnayak, the tool can create a new Azure DevOps project if the one speficied in the config file does not exist. Looking at your log it looks like you haven't specified the target-project property, make sure it's set to the name you want the new project to have.

[2019-08-12 04:57] Jnaneshnayak commented on #70
@MOlausson Thanks for your quick response

My config file looks like this, let me know if I am doing anything wrong.

`{
  "source-project": "Jira-abc",
  "target-project": "abc",
  "query": "project = Jira-abc",
  "workspace": "C:\\Temp\\JiraExport\\",
  "epic-link-field": "Epic Link",
  "sprint-field": "Sprint",
  "download-options": 7,
  "batch-size": 20,
  "log-level": "Debug",
  "attachment-f

[2019-08-12 06:54] ShadowXVII commented on #68
See #59

[2019-08-12 06:59] RubenOuwerkerk commented on #59
+1

[2019-08-12 14:40] dan-miller commented on #71
[PRJ-123-scrubbed.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3492988/PRJ-123-scrubbed.zip)

[2019-08-19 15:55] Jnaneshnayak commented on #59
+1

[2019-08-20 20:55] quadmig commented on #71
I am having a similar problem.  I had a config file that was working a few weeks ago and now without any changes it is giving me this error.

I tried using the sample config instead (and just updating the top area) and I still get this error message.  It's possible this started after the Sprint 156 Update of ADO.

Failed to import revisions for '0'.
[Microsoft.TeamFoundation.WorkItemTracking.Clien

[2019-08-21 07:58] hqaffesha-acacustech commented on #71
I managed to fix the issue, on the Agent.cs go to ImportRevision function and the following code to the try-catch at line 822:
[code]

it seems that the issue was happening because of the short time between each revision insert so it should wait a while before inserting the next one.

[2019-08-21 08:02] MOlausson commented on #71
Thanks for the details @quadmig and @dan-miller. I've tested importing your files and it worked ok on my Azure DevOps account. Will review @hqaffesha-acacustech comment to see if that's the root cause but great if you give it a try to see if it works for you.

[2019-08-21 15:25] quadmig commented on #71
@MOlausson , thanks for the response.  Unfortunately, the @hqaffesha-acacustech  comment did not solve the issue for me.  However, it appears the cause of my problem was that the work item type I was trying to import as had been disabled on the ADO server.  It is working now.  Thank you.

[2019-08-21 18:52] MOlausson commented on #71
@quadmig happy to hear you got passed this issue! I do also think we're on to something timing related, I'll review the code and see if it makes sense to add retries for some error conditions. Thanks @hqaffesha-acacustech for spotting this.

[2019-08-21 19:18] quadmig commented on #59
+1
It does not give an error but it mostly doesn't load (see attachment0.
The exact same item and config imports correctly if the WIT is something else like product backlog item.
![customADOtype](https://user-images.githubusercontent.com/54333499/63461596-93d84d00-c41e-11e9-956a-64b0a289a906.JPG)

[2019-08-21 19:29] quadmig commented on #66
I don't know if this helps, but I coded mine in the config to use another field.
		{
		"source": "components",
		"target": "Custom.MigratedComponent"
		},

That said, you should be able to something like
      {
        "source": "components",
        "target": "System.AreaPath"
      },

That should work although I can't test it now because it will mess up my migration in progress.

[2019-08-21 19:43] quadmig opened #72 "is jira custom field type option supported?"
I have been trying to export a jira custom field but I cannot get it to work.  It is a dropdown field in Jira with type "option" where the user selects 1 of the options presented.

I was able to get a different custom field to work; just not any of the ones that we have of type "option."

If I put it in the config file, the export ignores it entirely.  The field is not contained in the exported fi

[2019-08-21 19:43] quadmig commented on #72
Here is the config info:
{
        "source": "customfield_13555",
        "target": "Custom.QuadPriority",
}

Here is the field info from Jira.
"customfield_13555":{"required":false,"schema":{"type":"option","custom":"com.atlassian.jira.plugin.system.customfieldtypes:select","customId":13555},"name":"ITSD-Quad Priority","hasDefaultValue":false,"operations":["set"],"allowedValues":[{"self":"https:/

[2019-08-21 23:29] ShadowXVII commented on #66
Ah, I tried

[code]

will try components :)

[2019-08-22 00:29] nicksimons-limeade opened #73 "Can't map GitHub PR links in Jira to DevOps"
I'm trying to get the github PR links in my Jira tickets to show up as plain text links (anywhere in the work item) in DevOps.

No combination of source & target in the link mapping or field mapping has been successful

[2019-08-22 03:45] ShadowXVII commented on #66
The following does work and includes the new area path. I was able to include some mapping logic to take into account the area path.
[code]

[2019-08-22 03:45] #66 closed

[2019-08-22 13:08] quadmig commented on #16
@pliljecrantz , what is your recommendation for work items that are unassigned during the history of the work item?  We have a lot of items that originally assigned to staff and then changed to unassigned while they waited in the backlog to be selected for a sprint, but this causes the history item to fail to import.

[I][15:19:58] Processing 9/20 - wi '4282', jira 'ERTA-1, rev 8'.
[E][15:19:58] F

[2019-08-23 17:09] beverts312 commented on #56
This same code also causes custom field mapping description mappings to get overridden on non bug types.

[2019-08-23 22:30] beverts312 commented on #56
@MOlausson is the intention behind `MapLastDescription` just to try and make it so you dont have to define the Description/Steps to Reproduce mappings?

It seems like the easiest fix would be to just remove this method, I am running migrations with https://github.com/solidify/jira-azuredevops-migrator/blob/master/src/WorkItemMigrator/JiraExport/JiraMapper.cs#L135 commented out and everything works

[2019-08-27 07:08] jonada commented on #59
I have the same problem. No error or warning, but in the exported .json files several system fields were missing (not exported).

My workaround:
- Instead of exporting from Jira Task to DevOps Task, I configured it to export from Jira Task to DevOps Issue.
- After export, replaced “Task” for “Issue” at the beginning of all .json-files, for those work items that should be Issue instead of Task (sin

[2019-08-28 14:27] amitnavehjob commented on #29
+1
Happened to me as well and for me the whole first revision's info wasn't written because of that.

I've attached the import log and the JIRA issue json.

[server_rejected_unicode.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3551373/server_rejected_unicode.zip)

[2019-08-28 14:35] AmitNaveh23 commented on #29
+1
It happened to me also and because of that the whole first revision (had Unicode characters in one of the fields) wasn't written.

I've attached the import log + Jira issue json

[server_rejected_unicode.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3551412/server_rejected_unicode.zip)

[2019-08-28 19:22] MOlausson commented on #73
Hi @nicksimons-limeade, we're looking into this for the next release. Currently we haven't explicitly supported links other than issure relations so I don't expect this will come over.

[2019-08-28 21:15] nicksimons-limeade commented on #72
@MOlausson is there any workaround for mapping custom fields?

[2019-08-29 02:52] pablomujica opened #75 "All User Stories migrate with state "New""
When i try to migrate the user stories, using the type "All", the new states are created in the process, and only happens for the type User Story.

[config-agile.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3553644/config-agile.txt)

[2019-08-29 05:10] nicksimons-limeade commented on #75
A work around this I found was to create another state mapping group just for User Stories (even if it's identical to the "All" type)

[2019-08-29 13:09] AmitNaveh23 commented on #72
+1 also happens to me

[2019-08-29 13:18] pliljecrantz commented on #16
@quadmig Which version of the tool are you using?

[2019-08-29 13:28] quadmig commented on #72
I am using version 2.2.31.

I am able to export this custom field, but it is just a string, not a dropdown option.

{
        "source": "customfield_15050",
        "target": "Custom.URL"

      },

{"id":"customfield_15050","name":"ITSD-Quad URL","custom":true,"orderable":true,"navigable":true,"searchable":true,"clauseNames":["cf[15050]","ITSD-Quad URL"],"schema":{"type":"string","custom":"com.at

[2019-08-29 13:39] quadmig commented on #16
2.2.31

[2019-08-29 13:58] pliljecrantz commented on #16
@quadmig How does the user file look? If that is used it should not throw an exception but if it does we have to take a look at it.

[2019-08-29 14:25] quadmig commented on #16
@pliljecrantz , The user file has about 30 names on it that are matching correctly.

I tried putting *=itsd.quadmig@oururl.com at the end of the user file but with it or without it I get the same error.

[2019-08-29 15:15] 5nowx commented on #75
@nicksimons-limeade this is a Mapping that only contains the Type Mapping to "User Story"?

[code]

[2019-08-29 16:14] quadmig commented on #75
@5nowx  , what if you take out the for line entirely?
and just have
"source": "status",
        "target": "System.State",
        "mapping": {
          "values": [

That's how I got mine to work.

[2019-08-30 15:57] vishwanathk26071981 opened #76 "Adding filters to move only Epics from different projects."
Can we move only list of  epics from different projects in JIRA to Azure boards? If yes can you please let me know how to apply the filter for this.

[2019-08-31 12:08] MOlausson commented on #76
Yes, customize the JQL query in the config file to include the issuetype, for instance

  "query": "project = SCRUM and issuetype = Epic ORDER BY Rank ASC",

[2019-09-02 04:33] ShadowXVII commented on #59
I tried using Issue instead of a custom work item type, but it still didn't export correctly. As soon as it's a custom type on either side, it seems to fail.

[2019-09-03 18:15] 5nowx commented on #75
Following @quadmig response the User Stories have the correct state, but i still cannot have custom state mapping for the UE, but is a working as intended right now

[2019-09-04 13:07] AmitNaveh23 opened #77 "Export crashing: 'JsonReaderException: Could not convert string to DateTime'"
I've noticed it happens when I try to export Jira tickets that its creation date is in the last 7 days.
In the Jira GUI when It happens I see in the creation date something like -
'6 days ago' or  '1 week ago'
And when it works as expected and doesn't crush I see in the creation date something like-
'22/Aug/19 5:18 PM'

Attached sample log,
[jira-export-log-190904-100254.txt](https://github.com/so

[2019-09-07 09:10] MOlausson commented on #76
@vishwanathk26071981 did you manage to get this working? I'm closing the issue, feel free to re-open if you find any issues with the JQL implementation.

[2019-09-07 09:10] #76 closed

[2019-09-07 09:15] MOlausson commented on #77
@AmitNaveh23 can you share a scrubbed version of an export file that doesn't work for you so I can have a look at the exported date values?

[2019-09-07 09:25] MOlausson commented on #75
@5nowx are you good with the migration for now? Can you share the mapping to wanted and I'll have a look.

[2019-09-08 07:45] AmitNaveh23 commented on #77
@MOlausson the export json file is not created, only the export log.

Here is a json file (and its export log) of Item that it's export works-
[JiraExport.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3587394/JiraExport.zip)

[2019-09-08 09:00] MOlausson commented on #77
@AmitNaveh23 got it, the export fails. Can you share a screenshot and export the jira using the rest api (https://your-jira-instance.atlassian.net/rest/api/latest/issue/YOUR-ISSUE-ID?expand=all) and share the json with me? DM me if it's easier.

[2019-09-08 09:18] AmitNaveh23 commented on #77
I sent you an email (to mathiaso@solidify.se) with all the information. thank you!

[2019-09-08 17:24] 5nowx commented on #75
Hey @MOlausson

I ended up using:
[code]

This works, and was able to migrate the User Story with the respective states because those are the only ones I use, but if i had to use custom states for the User Stories i'll be with no luck.

As recommended by @quadmig i didn't used a state "for" value in the mapping.

[2019-09-08 17:53] MOlausson commented on #75
Thanks for the details @5nowx! Just so I understand, this mapping works:

[code]

and this doesn't:

[code]

If so, have you added the custom states in the Azure DevOps project before the import?

[2019-09-08 17:56] 5nowx commented on #75
Yes, all the new states where created previously to the migration, Some of them just have a semantics difference in jira compared to AZ DevOps, but that was planed.

[2019-09-09 08:35] annamarieHelberg opened #78 "Activation Date / By not updating if issue state changes from in progress to new / to do"
Good day

I am trying to migrate my parked jira issues to Azure Devops work items. This means that the history of the issue usually follows a flow of: New / To Do -> In Progress -> New / To Do.
![history](https://user-images.githubusercontent.com/36559294/64515328-ad1d3c80-d2ec-11e9-9d1a-99a4374bd3c1.png)

When the tool is used the states do get updated correctly, but the Activated Date and Activa

[2019-09-10 16:49] MOlausson commented on #78
Hi @annamarieHelberg, thanks for reporting this. Do you have an exported issue (json) file you can share with me for troubleshooting?

[2019-09-10 16:50] MOlausson commented on #75
Ok, will try to repro.

[2019-09-10 16:57] MOlausson commented on #72
I'll try to repro, it is supposed to work. Can you see if adding a "mapper": "MapArray" element to the field mapping helps.

[2019-09-10 16:59] MOlausson commented on #70
@Jnaneshnayak sorry for the slow response, I couldn't repro this. Were you able to move forward? I'll put this under review/observation for now.

[2019-09-10 17:25] quadmig commented on #72
@MOlausson, that did not change anything.  It still ignores the field entirely.

On a semi-related note, it tries to map a different custom field of type array, but if only 1 value is selected in the array, the value comes up blank.
{"ReferenceName":"Custom.MigratedEnvironment","Value":""}
If 2 values are selected, they both appear in the value separated by a semi-colon.
{"ReferenceName":"Custom.M

[2019-09-11 12:19] annamarieHelberg commented on #78
Hi @MOlausson. Thank you for getting back to me in such a short time. Here is the json for an exported issue that causes that error message. This issue was exported using the default/example config file.

`
{
    "Type": "Bug",
    "OriginId": "SCRUM-13",
    "WiId": -1,
    "Revisions": [
        {
            "Author": "author@email.com",
            "Time": "2019-05-30T04:58:33.374+02:00",

[2019-09-16 06:33] cforce opened #80 "Links in readme dead"
https://solidify.se/jira-azure-devops-migration/
https://solidify.se/jira-to-vsts-migration-work-items/

[2019-09-16 12:07] prashanthbv12 commented on #72
Is this issue is fixed? tool is not reading values from Jira drop down fild. export log file shows blank

[2019-09-16 19:32] MOlausson commented on #80
@cforce Thanks for reporting, the links are ok now, apparently a DNS issue at our end.

[2019-09-16 19:32] #80 closed

[2019-09-17 05:04] prashanthbv12 commented on #72
@MOlausson @AmitNaveh23 Did you find any solution for this?

[2019-09-17 18:35] wasser-winfried commented on #78
This not only happens on  New / To Do -> In Progress -> New / To Do.
In my case, its also happening in CMMI process for Requirements, Tasks, ... in situations where I go back in lifecycle e.g. Proposed -> Active -> Proposed (ActivatedDate, ActivatedBy) or Proposed -> Active -> Resolved -> Active ( ResolvedDate, ResolvedBy)

I tried to modify exported issue (json) file by adding this fields with em

[2019-09-18 06:22] wasser-winfried opened #81 "Convert Jira formatted descriptions and comments on migration"
Azure DevOps does not support Jira formatted texts (and also no markdown). Therefore the Jira formatted texts should be converted to a supported format e.g. HTML at migration time.
This may be done by using `expand='renderedFields'` on Jira API calls and using Field values from `renderedFields `instead of `fields`.

Currently it is not possible to set this option.

[2019-09-18 10:43] annamarieHelberg commented on #78
@wasser-winfried  That is correct. It seems that the migration tool does not remove the attributes when you move the state from committed / in development, etc. back to open (I am specifically referring to a SCRUM project).

I have spent some time looking into how to do it manually via a python script and I got it to work.  However, having it built into the tool would be much easier.

Here is the

[2019-09-18 11:07] annamarieHelberg commented on #81
I also ran into that problem. I wrote an ugly, but quick-fix python script to convert the markdown into html for comments but it can easily be extended to the descriptions as well.

It would be nice to have this built into the tool but for those who need a quick fix now, here is a script to convert the markdown of an image to html image tags.

**Please note**, I use regular expression to find the

[2019-09-18 18:31] kenjdavidson commented on #59
I ran into this issue as well, attempting to convert Jira BUG to DevOps ISSUE and found that the main problem stems from the WorkItemType (enum I guess) only containing a limited number of options, instead of actually being built from the configuration TypeMap.

JiraExport.JiraMapper line 377 - The mappingPerWiType is being built statically with no reference to Issue, therefore if Bug is Mapped to

[2019-09-19 06:38] MOlausson commented on #59
@kenjdavidson thanks for your feedback. Happy to review your code if you want to submit a PR.

[2019-09-19 19:27] kenjdavidson commented on #81
This one poses a little bit of an issue as to where the changes should be made. In most cases this will probably require a rewrite of a number of classes. I've been looked at adding it to the Build Revisions section.

It's essentially using the rendered desc method that's already there, just not getting called due to the custom type issue I referenced yesterday.

I've added a property

RenderedFie

[2019-09-25 06:25] ValekMal opened #84 "Cannot log in to JIRA cloud via API key"
How do you authenticate via JIRA API KEY?

I have two-factor authentication in my JIRA account in the cloud.
In the jira-export.exe I used
-u username@domain.com:APIKEY
and did not use -p switch.

The application logs in but cannot see any projects.
I get this

"The value 'PROJECTNAME' does not exist for the field 'project'."

Which suggests that there is no visibility of the project,

[2019-09-25 07:52] vishwanathk26071981 opened #85 "Error : The work item type Product Backlog cannot be found. It may have been renamed or destroyed."
Hi,

I am getting the below error while importing  from JIRA. Can you please let me know the fix for this.

[Microsoft.TeamFoundation.WorkItemTracking.Client.WorkItemTypeDeniedOrNotExistException] Microsoft.TeamFoundation.WorkItemTracking.Client.WorkItemTypeDeniedOrNotExistException: TF201077: The work item type Product Backlog cannot be found. It may have been renamed or destroyed.
   at Microsof

[2019-09-25 20:11] MOlausson commented on #84
Check out https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/overview.md#jira-requirements for more ways to authenticate. You should use both the -u and -p parameters.

[2019-09-25 20:11] #84 closed

[2019-09-25 20:12] MOlausson commented on #85
@vishwanathk26071981 Check your Azure DevOps configuration, most likely the name of the work item type is "Product Backlog Item" and not "Product Backlog" like the log shows you are using.

[2019-09-26 02:00] vishwanathk26071981 commented on #85
Hi,

I have made the necessary changes, but still facing the same problem. I
also tried removing the "Product Backlog Item" from the config still no
luck. Please let me know how to fix this.

Regards,
Vishwanath K

On Thu, Sep 26, 2019 at 1:42 AM Mathias Olausson <notifications@github.com>
wrote:

--
_This mail contains confidential information intended only for the
individual(s) named. If you’re

[2019-09-26 02:35] vishwanathk26071981 commented on #85
Below is the error message :

[Microsoft.TeamFoundation.WorkItemTracking.Client.WorkItemTypeDeniedOrNotExistException]
Microsoft.TeamFoundation.WorkItemTracking.Client.WorkItemTypeDeniedOrNotExistException:
TF201077: The work item type Product Backlog Item cannot be found. It may
have been renamed or destroyed.
   at
Microsoft.TeamFoundation.WorkItemTracking.Client.WorkItemTypeCollection.get_Item(

[2019-09-26 05:31] MOlausson commented on #85
Odd. Can you make sure that the PAT you are using was created with the correct scope (https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/overview.md#azure-devopstfs-requirements) and that the project you are migrating to is configure with the Scrum template.

Also great if you can share your config file so we can take a look.

[2019-09-26 05:54] vishwanathk26071981 commented on #85
Hi,

Please find the config as attachment.

On Thu, Sep 26, 2019 at 11:01 AM Mathias Olausson <notifications@github.com>
wrote:

--
_This mail contains confidential information intended only for the
individual(s) named. If you’re not the named addressee, don’t disseminate,
distribute or copy this e-mail. Please notify the sender immediately and
delete it from your system.If you wish not to receive

[2019-09-26 06:59] ValekMal opened #86 "User mapping file cannot have empty lines"
When an empty line (CRLF) is inserted in the user mapping file, the jira-export fails with the below message.
Maybe need to tolerate empty lines.

[E][16:50:05] Unexpected migration error.
[System.IndexOutOfRangeException] System.IndexOutOfRangeException: **Index was outside the bounds of the array.**
   at Migration.Common.BaseMapper`1.ParseUserMappings(String userMappingPath)
   at Migration.Com

[2019-09-26 16:04] Dustinparkes08 commented on #75
We are having the same issue with custom states in Jira.  Were you able to reproduce?

[2019-09-26 19:20] MOlausson commented on #86
Thanks for reporting @ValekMal, this should be fixed.

[2019-09-26 20:00] sanjeev40084 opened #87 "Email for user 'xxxxx' not found in Jira, using username 'xxxxx' for mapping error"
I have couple of users who are no longer in Jira however there are tasks which were assigned to them in previous sprints. Not sure if that is why but i am getting following error while running the migration tool.

Email for user 'OldUserFirstname.OldUserLastname' not found in JIRA, using username 'OldUserFirstname.OldUserLastname' for mapping.
Could fnot find user 'OldUserFirstname.OldUserLastname

[2019-09-29 11:08] vishwanathk26071981 commented on #85
Hi,

I am able to Migrate the Jira items to Azure DevOps. After migrating the
items to Azure DevOps/Boards,  content in "*Acceptance Criteria*" of Jira
ticket is not migrated. Can you let us know how to include this as part of
Migration?

Regards,
Vishwanath K

On Thu, Sep 26, 2019 at 11:24 AM Vishwanath Karalapati <
vishwanath.k@imaginea.com> wrote:

--
_This mail contains confidential informatio

[2019-09-29 15:06] MOlausson commented on #85
Hi @vishwanathk26071981, good to hear you made progress. What did you change to make it work?

As for the question regarding acceptance critera. In the config you provided there is no mapping for that field so it will not be included in the migration. Add it and it should work, also see https://github.com/solidify/jira-azuredevops-migrator/issues/67 for a similar issue.

I'm closing this issue sin

[2019-09-29 15:06] #85 closed

[2019-10-01 08:17] sgullluu opened #88 "batch size limit?"
what is the limit of the batch size? can we export 40k work item in one single export.

[2019-10-01 09:15] georgejeffery1989 commented on #61
hi there
getting the same error message as above but think for different reasons.

How do you configure this two;

"epic-link-field": "customfield_10008",
  "sprint-field": "customfield_10007",

Currently i get this warning message

Epic link field missing for config field 'Epic Link'.
Sprint link field missing for config field 'Sprint'.
Thanks
George

[2019-10-01 15:59] sanjeev40084 commented on #87
@MOlausson not sure if this is why, but i believe in current implementation, user info is retrieved by passing username, looking at this api it looks like username is deprecated and prefer using accountid: https://developer.atlassian.com/cloud/jira/platform/rest/v2/#api-rest-api-2-user-get
Also looks like getting user's email address is whole different process too: https://developer.atlassian.com/

[2019-10-01 16:32] MOlausson commented on #87
@sanjeev40084 interesting findings. I'll explore the apis and see if we need to change the implementation.

[2019-10-01 16:35] MOlausson commented on #88
It's used to controll how many items are fetched at a time from Jira so no need to change that I would say. You can export many items but the services (Jira and Azure DevOps) have throttling so you may get degraded performance. I usually recommend migrating items in batches to be in control, one thing to be aware of then is to bucket all related items so you don't get into problems with missing li

[2019-10-01 16:35] #88 closed

[2019-10-01 16:38] MOlausson commented on #61
@georgejeffery1989 does your Jira project use these Jira types? You can use this Jira api to get the list of fields and in there find the correct customfield: https://your_account.atlassian.net/rest/api/3/field.

[2019-10-01 18:48] #29 closed

[2019-10-01 19:46] #86 closed

[2019-10-01 22:03] MOlausson commented on #87
@sanjeev40084 I've looked at this now. It's clear that emails are not returned as we expect anymore so will need to look into that. However, you should be able to map usernames in the users.txt file like you reported. When you say it didn't work, what does that mean?

[2019-10-02 18:14] MOlausson commented on #87
I'll create a story to address the changes in the user profile apis. I've verified that the user mapping works so let us know if you still are having problems.

[2019-10-02 18:14] #87 closed

[2019-10-02 18:17] MOlausson opened #93 "Rework how user mapping is done"
The api's to look up emails have changed, we should find another way of mapping user.

From #87

@MOlausson not sure if this is why, but i believe in current implementation, user info is retrieved by passing username, looking at this api it looks like username is deprecated and prefer using accountid: https://developer.atlassian.com/cloud/jira/platform/rest/v2/#api-rest-api-2-user-get
Also looks l

[2019-10-04 13:09] sanjeev40084 commented on #87
@MOlausson as i mentioned in my previous comments, i was having trouble getting the email address of the user and it was only able to get the username of the work item. in my users.txt mapping file i added mapping against those username something like this firstname.lastname=firstname.lastname@email.com
firstname2.lastname2=firstname2.lastname2@email.com
 but in the Azure DevOps side, i still got

[2019-10-04 13:23] MOlausson commented on #87
@sanjeev40084 got it. Because of the change in Atlassian's GRPR policies. So right now the best option is to map the jira name to the azure devops email in the mapping file.

[2019-10-06 14:46] MOlausson commented on #88
@sgullluu The batch size is only used against the service apis to avoid fetchin data too eagerly. You have a good idea, I'll add it for the team to review. You can try to bucket exports using the JQL filter, for instance something like this matches items in a certain range:
`project = scrum and id >SCRUM-10 and id <= SCRUM-20 order by id ASC`

[2019-10-06 18:49] mfourieshieldai commented on #72
Similar issue.
`"customfield_10052":{"self":"https://shieldai.atlassian.net/rest/api/2/customFieldOption/10017","value":"Minor","id":"10017"},`

using "mapper": "MapArray", makes no difference.

config
`      {
        "source": "customfield_10052",
        "target": "Microsoft.VSTS.Common.Severity",
        "mapper": "MapArray",
        "mapping": {
          "values": [
            {

[2019-10-06 21:53] mfourieshieldai commented on #72
This hack fixes it, note the **type == Newtonsoft.Json.Linq.JTokenType.Object** else addition in the ExtractFields method

`                else if (type == JTokenType.Array && prop.Value.Any())
                {
                    value = string.Join(";", prop.Value.Select(st => st.ExValue<string>("$.name")).ToList());
                    if ((string)value == ";")
                        value =

[2019-10-07 10:30] sgullluu commented on #72
@mfourieshieldai : is it working for you?

[2019-10-07 13:17] sgullluu opened #94 "how to migrate custom fields from Jira having dropdown list?"

[2019-10-07 21:46] MOlausson commented on #72
@mfourieshieldai I've checked your suggestion and it looks like the options type maps to a Json object. I'll do some more testing tomorrow and release a fix if it works out well.

[2019-10-08 03:46] ValekMal opened #95 "AssignedTo is generated with the null at the export. Import fails with [System.NullReferenceException] System.NullReferenceException: Object reference not set to an instance of an object."
I have a user mapping file, which has the *=john@blablabla.ddd clause in the end of the file.
When exporting, the files are generated properly and look okay, no errors.
When importing, the wi-import gives

[System.NullReferenceException] System.NullReferenceException: Object reference not set to an instance of an object.

The section of the JIRA file is below:

"Index":6,"Fields":[{"ReferenceName"

[2019-10-08 05:11] ValekMal opened #96 "Comments with the user mentions show ugly as [~accountid:XXXXXXXX]"
When migrating comments, it would be great to migrate the user **mentions** correctly by either:

- trying to map to the DevOps users and insert the correct mention using the @ sign.
- just include the display name of the JIRA user. At lest it will look more readable

Example:
JIRA comment was: FYI @john123321123 and @peter123321123
DevOps comment is: FYI [~accountid:xxxxxxxxxxxxxxxxxxxx] and [~ac

[2019-10-08 05:15] ValekMal opened #97 "Log displays wi '0', jira 'XXX-NNN, rev 0'"
When importing the log displays **wi '0'**, which is obviously wrong.
There is no work item number zero.
If the zero revision fails, then the log shows same wi '0' for the first revision.

[2019-10-08 05:33] ValekMal opened #98 "Story Points or Effort cannot be changed to zero (0) in the change log"
When in JIRA someone changed story points or effort from something to zero (0), export works okay, but the import fails with the message

[I][16:29:16] Field: 'Story Points', Status: 'InvalidType', Value: ''
[E][16:29:16] Failed to import revisions for '268'.
[Microsoft.TeamFoundation.WorkItemTracking.Client.ValidationException] Microsoft.TeamFoundation.WorkItemTracking.Client.ValidationException:

[2019-10-09 06:32] sgullluu commented on #72
@MOlausson : any update on this fix?

[2019-10-09 17:22] MOlausson commented on #72
@sgullluu I went with @mfourieshieldai suggestion. Try it out and see if it works for you.

[2019-10-11 12:37] sanjeev40084 commented on #96
@ValekMal even we noticed the same behavior while migrating jira project to DevOps. When we use mention '@' in DevOps it sends notification to mentioned user. I believe the dev. might have done that so that mentioned user done end up getting tons of notification once the project gets migrated to DevOps...just a thought.

[2019-10-13 07:58] Tridy opened #100 "Converting Jira.Task.Status to DevOps.(Task.Status + Task.Tag)"
Hi.
Is it possible while mapping a custom Jira task with the status "Unclear request" to the DevOps task with a status "In Progress", and at the same time create a Tag for the task "Unclear request"?
Thanks!

[2019-10-13 19:41] cforce commented on #81
Does the script also convert markdown like.. ?

h1.
{norformat}
{color:#808080}
!Failures_TPG.png|thumbnail!

[2019-10-14 14:10] cforce opened #101 "Map more than one Jira field to System.Tags values"
I want to add fields values from Jira custom fields as a "tag"

[2019-10-14 20:54] MOlausson commented on #101
Have you tried using the "MapTags" mapper? It should work with any space separated list of values:

      {
        "source": "labels",
        "target": "System.Tags",
        "mapper": "MapTags"
      },

[2019-10-14 21:23] cforce commented on #101
it throws an Terror when i define Systems.tags twice.  or more Times as target

[2019-10-15 05:13] MOlausson commented on #101
Got it. We'll investigate.

[2019-10-15 06:28] cforce opened #102 "option to overwrite/skip already imported jira issues"
It would be a great enhancement to add an optional importer param that allows to locate and overwrite an before already imported issue what is currently just created again (duplicated)
E.g detect by title search should be possible already - maybe there is another way to identify the  source and target via same JIRA issue id.
Additionally than allow to skip the import for this issue if it has been

[2019-10-15 06:33] cforce opened #103 "multi project import: mappings of jira projects to ado projects"
Currently you can only only map an jira export to one dedicated ado target when importing and sofore will loos references between exported tickets, when you d imports on them in several dedicated import steps, don't you?

Allow to import several projects source->target mappings in same import, so you can keep the cross references between issues in ADO at the end.
E.g provide and additional mapping

[2019-10-16 14:30] AmitNaveh23 opened #105 "Option to combine multiple Jira fields to 1 ADO string field"
Can you add an option to map several fields (and combine them) to one ADO field ?
It can be very helpful for my migration

maybe for start you can only support combination of string type fields.

[2019-10-16 15:17] AmitNaveh23 commented on #72
Also doesn't work for custom fields with type:
"custom": "com.atlassian.jira.plugin.system.customfieldtypes:userpicker"

here is an API response comparison between a user default filed (assignee) and custom user field
[userpicker_API_comparison.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3735061/userpicker_API_comparison.txt)

[2019-10-17 16:11] sgullluu opened #106 "Jira exporting stop while downloading .docx type attachment"
tool is not able to download docx type attachment. It is not giving any error but it stopped the exporting. after we removed the docx file from the issue then only it is exported.

[2019-10-18 06:10] rpdomingo opened #107 "Acceptance Criteria Not Mapped to AzureDevOps"
Trying to Migrate my project from Jira to AzureDevOps, but Accept Criteria not mapped in AzureDevOps.  I've try to add this in the field but it didn't work.

![image](https://user-images.githubusercontent.com/26340099/67069813-e7fa7600-f1b0-11e9-91a5-6180d8650c19.png)

Can you please help me on this.

Thanks!!

[2019-10-18 06:36] rpdomingo commented on #106
For me its working, docx file is downloaded and successfully imported to azuredevops

[2019-10-18 08:42] rpdomingo commented on #107
itry using this and its working

 {
        "source": "Acceptance Criteria",
        "source-type": "name",
        "target": "Microsoft.VSTS.Common.AcceptanceCriteria"
      }

but when I see my logs I have an error.  but the Acceptance Criteria is now migrated to azureDevOps. hmmm...

![image](https://user-images.githubusercontent.com/26340099/67079697-3c5c2080-f1c6-11e9-8aea-6ef62c4ef33c.png)

[2019-10-18 18:17] MOlausson commented on #106
@sgullluu it works for me as well. Can you try again and share the logfile? Even if the process hangs and is terminated we should see at what step it stopped.

[2019-10-18 18:18] MOlausson commented on #105
Good suggestion @AmitNaveh23, I'll add it for triage.

[2019-10-18 18:24] MOlausson commented on #103
@cforce interesting idea. Today you can split the migrations into multiple runs where each would select a set of items, export and import, this way you will be able to bucket what gets imported where. In what scenarios do you see the use for a merge or split in one migration?

One I could imagine would be to split top-level items (epics, features) to a portfolio backlog and sub-items (stories, bug

[2019-10-18 18:31] MOlausson commented on #102
Thanks for the suggestion @cforce, agree that it could be useful. What's the use-case you have in mind? I see use for it when testing a migration or potentially in a sync scenario but not really in a real migration (other than if an item was incorrectly imported but then I'd probably delete it, fix the problem and try again to get a clean history).

Today we support importing remaining items or re

[2019-10-18 18:33] MOlausson commented on #100
@Tridy, no this is not possible today. I'll add it for review to see if we could implement this.

[2019-10-19 08:00] rpdomingo commented on #106
@MOlausson it's also possible to migrate Sprint Boards in Jira to azuredevops Boards?

[2019-10-19 09:53] MOlausson commented on #70
Haven't seen this happen unless there's a config error. Closing.

[2019-10-19 09:53] #70 closed

[2019-10-19 10:28] cforce commented on #102
in fact i meint a synchron scenario, with starting of following logisch:
1.don't overwrite if hast eben imported before
2. overwrite in and case
3. only overwrite if last modified of origin is newer than target in case it exists already. This will allow to create read only copy on target side. This will also alle to define jql filtern like implemented already, so based on issue Status You can Setu

[2019-10-20 23:32] rpdomingo commented on #106
@MOlausson I've also notice one of my exported file didn't imported to AzureDevOps. Please see below details:

Successfully exported 8 json file
![image](https://user-images.githubusercontent.com/26340099/67168208-86b2ec80-f3d4-11e9-9f78-027bbb727995.png)

When imported to AzureDevOps **xr-3** not included
![image](https://user-images.githubusercontent.com/26340099/67168242-d7c2e080-f3d4-11e9-989c

[2019-10-21 05:56] #107 closed

[2019-10-21 05:57] rpdomingo commented on #107
This is resolved

[2019-10-21 06:01] cforce commented on #103
parent-child relations and all other references between issues will in any case be lost if you do more than one import process to migrate several projects, aren't they?

[2019-10-23 07:33] AmitNaveh23 commented on #77
I had it again but now the creation date is not in the past week and the error is a bit more detailed.

the really bad thing is that it crashes the whole run in the middle, writes that it exported everything but only 4 out of 56 were exported

here is the issue from API response and the export log. (no json file was created for that issue)
[JiraExport_Crashing.zip](https://github.com/solidify/jira

[2019-10-23 07:38] AmitNaveh23 commented on #77
I can't move forward because it happens every time if changes were made in the past week and the whole thing crashes.
"Could not convert string to DateTime: Yesterday 11:48 AM. Path '[3].created', line 150, position 35."

[2019-10-23 18:01] gekap opened #108 "jira-export crash"
Hello,

I am trying to export a complicate project and jira-export.exe crashes.

The query is
"query": "project = xxxx OR IssueFunction in LinkedIssuesOf('project = xxx') ORDER BY project ASC",

The error is

[I][13:40:49] Processing 4151/16015 - 'xxxx-6540'.
[E][13:40:50] Unexpected migration error.
[System.Collections.Generic.KeyNotFoundException] System.Collections.Generic.KeyNotFoundException:

[2019-10-24 06:37] sgullluu commented on #106
it is working for me now.
thanks

[2019-10-24 06:37] #106 closed

[2019-10-24 07:00] #94 closed

[2019-10-24 18:02] kmuthukumar-rp opened #109 "List of Mapper Function Values"
Hello,
        You have specified 'Mapper' property used for field mapping as 'mapper function used for value translation'. Where can we find the different values available for this property. If in our Azure Server instance, can you please provide some guidance on where to find this info. Thank you.

[2019-10-28 09:28] AmitNaveh23 commented on #109
hey @kmuthukumar-rp , Mappers are small conversion functions that translate more complex fields, for instance an array. It's not fully documented yet but you can find the implementation at the end of -  https://github.com/solidify/jira-azuredevops-migrator/blob/master/src/WorkItemMigrator/JiraExport/JiraMapper.cs

[2019-10-28 09:34] AmitNaveh23 commented on #77
@MOlausson do you think it has to do with my Jira server version (6.4.12)?

[2019-10-29 08:34] prashanthbv12 opened #110 "Is there possible way to import the issues faster"
Hello,

I had around 2k items to migrate from Jira to Azure Devops. It took some 5 hours to export and took some 30 hours import to Azure Devops which is considerably slower.
Is there a way I can tune up import process to make it faster. Like taking only the later revisions? Are there any settings in configuration file.

Thanks,
Prashanth

[2019-10-29 08:55] cforce commented on #110
Yep, speed is also a pain point for us. With https://github.com/solidify/jira-azuredevops-migrator/issues/102 in place one could run processes in parallel for different filter queries.

[2019-10-29 16:29] kmuthukumar-rp commented on #109
Hi @AmitNaveh23, thank you appreciate it.

[2019-10-30 05:26] rpdomingo opened #111 "Test Case Title, Description and Assignee didn't export"
I've using this code to get the **title** of every issue type

      {
        "source": "summary",
        "target": "System.Title",
        "mapper": "MapTitle"
      }

and this code for Description and Assignee

      {
        "source": "assignee",
        "target": "System.AssignedTo",
        "mapper": "MapUser"
      },
      {
        "source": "description",
        "target": "System.Des

[2019-10-31 02:05] #111 closed

[2019-10-31 02:06] rpdomingo commented on #111
I've already read other issue about test.

[2019-10-31 10:50] brysk opened #112 "Jira to Azure DevOps (VSTS or TFS) migration article is not available"
Dears,

I have been trying to access Jira to Azure DevOps (VSTS or TFS) migration article by following the link in README: https://solidify.se/jira-azure-devops-migration/ but unfortunately it's not available anymore, I'm getting 404 error message.

Any chance you can fix it or provide new link?

[2019-10-31 14:14] kmuthukumar-rp commented on #59
@MOlausson Any update on this issue. I am exporting Spike and Defect from Jira and mapping to same on ADO side. But the jira export json files does not have any fields or values in it and hence they are empty when imported into ADO. Doing the workaround that @jonada  mentioned will be too much as there are at least 500 jira spikes and defects exported. I have the latest release of the tool. Is the

[2019-10-31 17:39] MOlausson commented on #112
Thanks for reporting @brysk, updated the links now.

[2019-10-31 17:39] #112 closed

[2019-10-31 17:43] MOlausson commented on #110
Hmm, we'll have to look into this, the baselie is ~2s/exported issue and <1s(/imported work item. We should definately ba able to add an option to only migrate the latest version (or shallow history).

[2019-11-01 23:25] kmuthukumar-rp commented on #40
@MOlausson @cris-b @srikanthachutuni Can you please explain how we can map components, fixversions and affected versions. Do we need to specify 'source-type: name' which is for custom field I guess and which field in Azure it can map to. Is it adding as tags or setting a string value or a drop down. I would like to understand how this can be mapped. Can you please prvide JSON for it. Thank you.

[2019-11-01 23:29] kmuthukumar-rp commented on #40
If I like to map components to tags as well as the existing tags mapping (from labels), will I be able to do that. Thanks.

[2019-11-04 13:31] gekap commented on #108
Hello again,

I run the jira-export using debug mode and I go this line before the crash

[I][15:05:26] Processing parent issue 'xxxxx-6540'.
[D][15:05:26]    Downloaded item.
[D][15:05:27]    Link with description 'This issue is related to xxxxx-860' is either not found or this issue (xxxxx-6540) is not inward issue.
[E][15:05:27] Unexpected migration error.

Any idea how to fix this?

[2019-11-04 20:26] sanjeev40084 commented on #93
@MOlausson looks like email is available in new version of Jira API :)
https://developer.atlassian.com/cloud/jira/platform/rest/v3/#api-rest-api-3-user-get

[2019-11-05 15:14] MOlausson commented on #109
The mapping logic is naive and something we would like to improve. I've added a section that lists the different mapper and their purpose for now, see https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/config.md#mappers. But the best way to really understand (and if needed, extend) is to check out the code as @AmitNaveh23 suggested.

[2019-11-05 15:14] #109 closed

[2019-11-06 09:09] piyaln opened #113 "Bulk emails received by the Assigned Person of a workitem during Migration"
Hi
We noticed that the Work item assigned person will get emails (1 email per assigned issue) during the migration which is annoying. I think better option is that either it has to be completely disabled or there should be a setting in the config file to disable or enable it.

Regards
Piyal

[2019-11-06 17:56] MOlausson commented on #113
Hi @piyaln, not sure we can control that but will take a look.

[2019-11-06 18:00] MOlausson commented on #108
@gekap is the second report also for a query using functions (IssueFunction in LinkedIssuesOf)? We're investigating this now and will try to repro. Are you using the ScriptRunner JQL extension (I assume so) and sure that the query return the correct result in our tool (16015 items from the first report)?

[2019-11-06 20:54] mgurevich69 opened #114 "Inline images not showing up in migrated items"
Hello team.

I apologize if this a known issue. Just noticed that inline images in imported items don't show up. Instead they show as `Test comment with a picture inline !image-20191106-180232.png|width=638,height=467!`
However, the images available in attachments tab.

Would be great to hear a solution.

[2019-11-07 05:38] piyaln opened #115 "Error in Building jira-azuredevops-migrator using Azure DevOps Pipeline"
Hi
I downloaded the jira-azuredevops-migrator-2.2.46 code and created a repo in Bitbucket and defined an Azure DevOps Pipeline for the Project. But it failed with 3 errors and see the attached debug log file. - Oh I cant see a way of attaching too.
Here is the error log text:
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
Build solution **\*.sln
3 errors
1 warning
14s
D:\a\1\s\sr

[2019-11-07 05:48] piyaln commented on #115
[7.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3818013/7.txt)
[migrator ADO pipeline config.docx](https://github.com/solidify/jira-azuredevops-migrator/files/3818021/migrator.ADO.pipeline.config.docx)

Above are the attachments

[2019-11-07 08:53] AmitNaveh23 commented on #77
I've managed to solve it, my workaround was configuring in Jira to stop using relative dates.
instructions to do this:
https://confluence.atlassian.com/jirakb/display-standard-dates-in-jira-server-414187622.html?_ga=2.46870692.2091321814.1572945866-2109192200.1572945866

[2019-11-07 08:54] #77 closed

[2019-11-07 09:30] gekap commented on #108
@MOlausson I get this error with 2 configurations
1) The default one " "query": "project = xxxx ORDER BY Rank ASC" "
2) Using ScriptRunner as you saw above.

I test the query and it worked. I got all the results. Then I apply it in the configuration and on the specific issue crash again.

I tried to skip that issue and crashed on the next one with the same error.

Thank you,

[2019-11-07 09:59] AmitNaveh23 commented on #72
@MOlausson any update on this one? custom fields of types "User Picker (single user)" and "Select List (multiple choices)" aren't being exported

[2019-11-08 08:52] MOlausson commented on #114
Hi @mgurevich69, thanks for reporting this. Where are you having problem with the images? Is it in the description texts, comments or other?

[2019-11-08 10:20] saritar23 opened #116 "JIRA links are not getting attached in Azure devops link's section"
I am trying to export Epic(Parent)and Stories(Child) from JIRA for that I am using
 {
        "source": "Epic",
        "target": "System.LinkTypes.Hierarchy-Reverse"
      },

In link map section.
Its showing me below details in comment section but not adding them into the links section.
Added link(s): [Added] A-4935/-1->A-5105/-1 [System.LinkTypes.Hierarchy-Reverse]
I am using scrum template for

[2019-11-09 09:15] prashanthbv12 commented on #116
Try adding this "epic-link-field": "Epic Link",

[2019-11-09 15:39] MOlausson commented on #116
@saritar23 make sure you check your mapping coniguration like @prashanthbv12 suggests. I've checked that the [sample file](https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/Samples/config-scrum.json) works as expected with the OOB processes in Jira and Azure DevOps. Check the epic-link-field, link-map and type-map sections.

[2019-11-09 20:38] mgurevich69 commented on #114
The issue is occurring with User Story body images. When migrated images don't get rendered in the content.

[2019-11-11 09:24] piyaln commented on #115
Hi MOLaussson

Any update on this?

Regards
Piyal

[2019-11-11 15:35] AmitNaveh23 opened #117 "Can't migrate Close Date"
Is It possible to migrate close date like created date ?
I tried several ways but nothing worked

[2019-11-11 20:10] MOlausson commented on #115
Hi @piyaln, I've updated the documentation on how to build the project locally, it does however require Windows and Visual Studio 2019 to do so. See https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/CONTRIBUTING.md.

[2019-11-11 21:29] #115 closed

[2019-11-14 09:59] madkoo commented on #108
@gekap are you using Scriptrunner on Jira Cloud or Jira Server?
Can you provide information if the issue that it crashed had values in fields like "reporter" and "created"?

[2019-11-14 12:52] AmitNaveh23 commented on #113
@piyaln you can control it yourself in the project\organization settings. Just turn off the notifications during the migration and return them after.
https://docs.microsoft.com/en-us/azure/devops/notifications/howto-manage-team-notifications?view=azure-devops-2019

[2019-11-14 13:03] AmitNaveh23 opened #120 "Write log with all failures details"
It would be great if there will be a separate import & export log with all of the summary and details about all the issues that failed.
It would really help for big migrations like mine. It's really uncomfortable to look for failed issues in a big export\import log which most of the work items successfully migrated.

My suggestion for log format -
1- start with a list of all work items (their keys

[2019-11-14 15:21] Marine6186 opened #121 "Separate Components among different fields"
I'm trying to pull specific components into the Value Area field (as a proof of concept) but I keep running into issues because there are always multiple items in the component field. I'm not sure if this is supported...

For example these are the Components in a specific JIRA PR - eHR, New Feature / Functionality (eHR), PFFS - Capability

[code]

In my config file, I have it setup as follows

[co

[2019-11-15 07:35] MOlausson commented on #120
Good suggestion @AmitNaveh23, we'll address when we're making some other improvemnts to the logging that we have planned.

[2019-11-15 09:08] gekap commented on #108
@madkoo It does not matter if I use Scriptrunner or not. It always crash. I attach the issue which the issue appears.

[IUCVI-6524.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3850662/IUCVI-6524.zip)

[2019-11-15 19:31] MOlausson commented on #116
@saritar23 closing this now since we cannot reproduce the error, all seems to work as expected. Feel free to reopen and add a repo if you don't agree.

[2019-11-15 19:31] #116 closed

[2019-11-15 20:23] MOlausson commented on #114
Fixed from r2.2.57.

[2019-11-15 20:40] MOlausson commented on #81
Fixed from r2.2.57.

[2019-11-15 20:40] MOlausson commented on #96
Fixed from r.2.2.57.

[2019-11-16 04:47] piyaln commented on #113
Thanks Amit. Will try this suggestion and let you know the result.

[2019-11-16 05:07] piyaln commented on #115
Thanks, Will check and get back to you.

[2019-11-16 07:52] sgullluu opened #123 "Detected a unicode character, failed to import"
while importing the data to azure devops few workitems is not getting imported with below error.

[I][12:59:25] Building execution plan...
[W][12:59:31] Detected unicode characters, removed.
[W][12:59:31] Failed to load 'TEJ-11340.json' (perhaps not a migration file?).
[W][12:59:33] Detected unicode characters, removed.
[W][12:59:33] Failed to load 'TEJ-47340.json' (perhaps not a migration file?).

[2019-11-16 09:15] MOlausson commented on #123
@sgullluu can you share one of the exported json files? It sounds like we may have an issue with the unicode replacement.

[2019-11-16 10:44] sgullluu commented on #123
Hi @MOlausson : please check the attachment.

[TEJ-11340.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3854086/TEJ-11340.zip)

[2019-11-16 15:54] MOlausson commented on #123
Thanks @sgullluu, I found we had a bad regexp for replacing unicode characters, pushing a fix for this now.

[2019-11-16 16:18] MOlausson commented on #123
Fixed in r2.2.59.

[2019-11-16 16:18] #123 closed

[2019-11-16 16:18] #96 closed

[2019-11-16 16:19] #81 closed

[2019-11-16 16:19] #114 closed

[2019-11-17 10:16] sgullluu commented on #123
@MOlausson : now it is not exporting workitem from jira having unicode character.

i have exported unicode data from version 2.46 and imported from 2.2.59

[2019-11-17 13:06] AmitNaveh23 opened #125 "Add download option for linked work items"
Another suggestion for an enhancement,
Add to the download options, an option to download also linked work items and not just parent-child relationships.

[2019-11-17 15:52] MOlausson commented on #125
We'll look at this when we are addressing some issues regarding linking.

[2019-11-18 08:13] madkoo commented on #108
@gekap  thank you for providing the issue json. Can you also provide the full export log for more details?

[2019-11-18 08:39] gekap commented on #108
[jira-export-log-191023-095135.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3857544/jira-export-log-191023-095135.zip)

Here is the log from the crash. It does not give much information. It's the same with the original ticket.

[2019-11-19 11:17] Akhithareddy opened #126 "Unauthorized error while exporting work items from jira."
Hi,
we are using on premises jira server.i want to migrate work items from jira to azure devops.I installed migration tool by solidify team and I ran export command like Example: jira-export.exe -u p.rombouts@yourdomain.com -p XXXXX  --url https://yourinstance.atlassian.net --config config.json --force.
I'm getting below error and is this issue is due to lack of api token?
we don't have api tokens

[2019-11-20 08:04] madkoo commented on #126
@Akhithareddy were you able to get this working? Can you take a look at #3 and #23 issues which are related to see if you can get the authorization working?

[2019-11-20 09:21] Akhithareddy commented on #126
@madkoo Issue 3 is related to jira cloud.
we are using jira server ,But in JIRA Server instance dont know from where to get API Token.
what permissions  do we require to export work items from jira.
I'm having administrator access.

[2019-11-20 09:31] madkoo commented on #126
@Akhithareddy  sorry, the second issue had a wrong reference number. It should have been #22
Instead of email, did you try using username?

[2019-11-20 10:29] Akhithareddy commented on #126
@madkoo im getting below error if I use username instead of mail id.
===============
[E][15:57:38] Unexpected migration error.
[System.AggregateException] System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Response was not recognized as JSON. Content: <!DOCTYPE html>
<html lang="en">
<head>

[2019-11-20 14:26] madkoo commented on #98
@ValekMal are you still stuck with this issue? I tried to repro the problem, by changing the Stroy Points to 0 in Jira and then doing the Export-Import. I was not able to get the exception you did.
If you are still stuck can you provide more context what you did and share the import log file.

[2019-11-20 19:00] MOlausson commented on #113
@piyaln I don't see any way we can disable the notifications since it's a configured behaviour in Azure DevOps. Closing this one for now.

[2019-11-20 19:00] #113 closed

[2019-11-20 19:33] MOlausson commented on #110
@prashanthbv12 I've checked traces and in average we process items at 1-2s/item. Throttling in either system may kick in and reduce the number of api calls allowed which may result in slower migrations. If you keep seeing slowness then share the session id from the log and we'll try to analyze that run. Adding the suggestion regarding option to specify the history depth to the backlog.

[2019-11-21 06:35] Akhithareddy commented on #126
@MOlausson  Please find attached log file and config file used.
I ran Command line in the path where I extracted zip files of the tool.
Updated config file and users.txt file in the root and used command:
jira-export.exe -u jiraaccount@some.domain -p xxxxxxx --url https://my.jira.url --config config-scrum.json --force
[config.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3873079

[2019-11-21 10:22] MOlausson commented on #126
Thanks @Akhithareddy. Can you try this using just your username for logging, i.e. jira-export.exe -u jirauser -p xxxxxxx --url https://my.jira.url --config config-scrum.json --force?

[2019-11-21 10:44] Akhithareddy commented on #126
I tried with username but getting error as
===================
Copyright (c) Solidify
[I][16:09:41] Connecting to Jira...
[I][16:09:42] Retrieving Jira fields...
[E][16:09:43] Unexpected migration error.
[System.AggregateException] System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Response was not recognized as JSON. Content: <!DOCTYPE html>
<html lang=

[2019-11-21 19:05] MOlausson commented on #110
@prashanthbv12 I've added your suggestion to have an option reduce the history depth to the backlog. Will close this now but feel free to reopen if you keep seeing slow migrations.

[2019-11-21 19:05] #110 closed

[2019-11-22 05:24] prashanthbv12 commented on #110
Thank you

On Fri, 22 Nov 2019 at 12:35 AM, Mathias Olausson <notifications@github.com>
wrote:

--
Thanks,
Prashanth
Hand Phone-9844730107
E-Mail-prashanthshiva12@gmail.com

[2019-11-22 14:18] madkoo commented on #75
Hi @Dustinparkes08, unfortunately, I was not able to repro this problem. It might be that with the latest fixes we have done we have corrected the problem. Once we release a  new version could you try again and let us know if your issue still persists.

[2019-11-22 15:08] sgullluu commented on #123
@MOlausson :still i am getting same error. i have attached
[sdk.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3880101/sdk.zip)
[wi-import-log-191122-202714.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3880102/wi-import-log-191122-202714.txt)

 the json file and log file.

[2019-11-23 10:27] cforce commented on #100
Related #101

[2019-11-23 15:23] MOlausson commented on #56
@madkoo can you check this one in retrospect of the improvements you've made to field handling?

[2019-11-24 13:43] AmitNaveh23 commented on #123
+1, happens in a few work items
for example, I've had that Unicode character which failed the import - '\u001B'

[2019-11-25 06:19] Akhithareddy commented on #126
@MOlausson @madkoo Any update regarding json response not found error.
i'm using jira on premises tool of 8.5.1 version. Is it any version conflict or request issue.

[2019-11-25 10:37] madkoo commented on #52
Hi @davidlbueno, is this issue still applicable for you?
I tried to repo your described steps using the same config
` {
        "source": "Cloners",
        "target": "System.LinkTypes.Duplicate-Forward"
      }`
and setting up a duplicate issue in Jira. I was able to migrate those linked items successfully. Meaning  -
1) Duplicate links and comments were added to the target links.
2) Duplicate li

[2019-11-25 15:38] runerasmussen commented on #126
I am experiencing the same issue with Unauthorized (401) upon retrieval of Jira fields, after initial succesful connection to Jira.
I run Jira Server v8.4.2#804003 on port 8443.

Online 238 in the attached log file it reads:
Basic Authentication Failure - Reason : AUTHENTICATED_FAILED

Command used:
C:\a\Jira til Azure DevOps migrering\jira-azuredevops-migrator-2.2.59>jira-export -u jiraaccount@my

[2019-11-26 05:47] Akhithareddy commented on #126
@runerasmussen when I tried with user name i'm not receiving authentication error but getting below error json response not found.could you please help on this.
Jira Exporter v2.2.59
Copyright (c) Solidify
[I][12:51:28] Connecting to Jira...
[I][12:51:28] Retrieving Jira fields...
[E][12:51:29] Unexpected migration error.
[System.AggregateException] System.AggregateException: One or more errors oc

[2019-11-26 09:01] runerasmussen commented on #126
@Akhithareddy, great tip to use username only, without domain. It seems to work for me, and the export is spinning...

[2019-11-26 09:10] madkoo commented on #126
@runerasmussen  sorry for my late reply, but indeed you should use username without a domain.
Good to hear that it worked for you.
@Akhithareddy, I tried to repro this by setting up a local Jira server 8.5.1 and did a migration using username in the command. The migration ran successfully.
 Examining the log file you sent, it still seems you are getting an authorization exception.
Have you checked

[2019-11-26 14:36] madkoo commented on #117
Hi, @AmitNaveh23  can you give more context what you are trying to accomplish?

[2019-11-27 09:55] AmitNaveh23 commented on #117
Sure, I attached a screenshot.
![closeddate](https://user-images.githubusercontent.com/54633588/69712981-68938700-110c-11ea-9de4-b201f3db532a.PNG)

When importing, the closed date is set to the current import time instead of the real closed date from Jira. It's also happening in "Closed by" which is set to my name (whoever is doing the import) instead of the real person who closed that bug in Jira

[2019-11-27 13:06] AmitNaveh23 commented on #81
It doesn't work as expected for me.
first, it maps the description to both "Repro steps" and "Description".
second, the formatting works only in what was mapped to "Repro steps" even though it has the same value as in "description".

![image](https://user-images.githubusercontent.com/54633588/69725685-64c12e00-1127-11ea-8940-6e52249139f6.png)
Can you Reopen that issue?

[2019-11-27 13:09] AmitNaveh23 opened #135 "Convert Jira formatted descriptions on migration"
there was an issue about it already that was closed but it still doesn't work as expected for me.
first, it maps the description to both "Repro steps" and "Description".
second, the formatting works only in what was mapped to "Repro steps" even though it has the same value as in "description".

![image](https://user-images.githubusercontent.com/54633588/69725803-b1a50480-1127-11ea-9fab-df58e109fe2

[2019-11-27 13:11] madkoo commented on #81
@AmitNaveh23 can you share your config file?

[2019-11-27 13:15] AmitNaveh23 commented on #81
sure here.
there is also an issue open about the ReproSteps situation:
https://github.com/solidify/jira-azuredevops-migrator/issues/56

[config-BUGZILLA.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3896956/config-BUGZILLA.zip)

[2019-11-27 13:39] madkoo commented on #81
@AmitNaveh23 thank you for reporting this, indeed there seems to be a problem here. We will investigate this.
About the mentioned issue, we have fixed the related issue you mentioned but we have not yet released a new version which will be done soon. The coming release should cover your cases too.

[2019-11-27 13:40] AmitNaveh23 commented on #81
Thank you for the quick answer !

[2019-11-28 20:13] madkoo commented on #117
@AmitNaveh23. We have investigated this case and what we found was that ADO by default does not allow us to edit ClosedDate. On save it is using the server clock time and that is why you see the current Date time in the closed date field. As this is the default behavior in ADO we will keep it as it is for the time being.
About the "ClosedBy" field that one can be updated with the correct value fro

[2019-11-29 19:21] MOlausson commented on #135
@AmitNaveh23 which version are you using?

[2019-11-29 19:26] MOlausson commented on #71
Added retry logic on certain errors to the backlog. Closing this issue.

[2019-11-29 19:26] #71 closed

[2019-11-29 19:34] MOlausson commented on #95
Fixed from v2.2.88.

[2019-11-29 19:59] MOlausson commented on #68
Fixed in v.2.2.88.

[2019-11-29 20:30] MOlausson commented on #56
Fixed from v2.2.88.

[2019-11-29 20:32] MOlausson commented on #117
Fixed from v.2.2.88

[2019-11-29 20:34] MOlausson commented on #59
Fixed from v.2.2.88

[2019-12-01 08:34] AmitNaveh23 commented on #135
@MOlausson  latest version currently : 2.2.59

[2019-12-02 07:04] MOlausson commented on #117
Fixed in 2.3.1.

[2019-12-02 07:04] #117 closed

[2019-12-02 07:05] #95 closed

[2019-12-02 07:06] #56 closed

[2019-12-02 07:06] #59 closed

[2019-12-02 07:06] #98 closed

[2019-12-02 07:06] #52 closed

[2019-12-02 07:06] #78 closed

[2019-12-02 07:06] #75 closed

[2019-12-02 07:06] #68 closed

[2019-12-02 09:12] MOlausson commented on #126
@Akhithareddy any update on this? It's often a permission related issue so we cannot reproduce. We'll close this issue soon, feel free to reach out again if you still have problems.

[2019-12-02 09:30] madkoo commented on #135
@AmitNaveh23 we have released a new version that should have fixed this issue you have reported. With the new release, we have introduced a new mapping "MapRendred". If you want the rendered output of description or comment field to be migrated you will need to add a new mapping in your config file like so:
`
 {
        "source": "description",
        "target": "System.Description",
        "mapp

[2019-12-02 09:30] #135 closed

[2019-12-02 10:37] AmitNaveh23 commented on #135
Works like magic 💯
Thanks! @madkoo

[2019-12-02 11:05] MOlausson opened #139 "System.ArgumentException: An item with the same key has already been added"
If duplicate Target mapping exist in the configuration file the export fails to start with the above error.

Proposed solution: handle error and report as a warning that this is probably something that should be addressed by the user running the migration.

[2019-12-02 11:41] AmitNaveh23 commented on #102
@MOlausson Also maybe, if you have access to existing work items, you could update them during the import and add links to them if needed.
Now you have to import all together if you want to keep all the links between them

[2019-12-02 13:48] AmitNaveh23 commented on #110
@MOlausson For me the average time it takes to import a single WI is 12 seconds.
from the import log -
[I][15:32:46] Import complete. Imported 598 items, 11648 revisions (65 errors, 604 warnings) in 02:00:28.

Is there something you or I can do to speed it up?

[2019-12-02 15:44] AmitNaveh23 commented on #117
Still doesn't work for me...
Should I configure something for it ?

![image](https://user-images.githubusercontent.com/54633588/69973026-66299680-152b-11ea-9ce5-95a43ed76ca5.png)

[2019-12-02 16:04] AmitNaveh23 commented on #117
@madkoo
I was able to do it by a script, updating work item with bypass_rules=True

 result = wit_client.update_work_item(patch_document, itemId, project_name, validate_only=False, bypass_rules=True)

can it be done in your side?

[2019-12-03 00:42] ShadowXVII commented on #126
This has caused us the same issue but for Atlassian Cloud. The username can't be without a domain or otherwise it wouldn't authenticate. Using API Keys as the password.

This didn't occur in the previous versions, so it's a recent change.

[code]

[2019-12-03 05:11] Akhithareddy commented on #126
@runerasmussen @madkoo I have project administrator access, But still getting authorization error.

[2019-12-04 01:06] ValekMal commented on #98
I moved off the project. Sorry not using the tool at this stage and cannot confirm.

[2019-12-04 22:09] MOlausson commented on #139
Fixed in v2.3.10.

[2019-12-04 22:09] #139 closed

[2019-12-05 11:29] runerasmussen commented on #139
Hi, I am still experiencing this issue in v2.3.10 unfortunately. Please see details which I posted in Pull Request #140

[2019-12-05 19:52] svenSternberg opened #144 "Epic link field missing for config field 'Epic Link'."
Hi community,
when trying to export the JIRA issues I am getting the following warnings and no issue has been exported.
[I][20:46:38] Export started. Exporting 0 items.
[W][20:46:38] Epic link field missing for config field 'Epic Link'.
[W][20:46:39] Sprint link field missing for config field 'Sprint'.

Your help is needed quite urgently as we are running out of time :-(

[2019-12-05 20:38] MOlausson commented on #144
@svenSternberg can you share the log and your config file?

[2019-12-05 20:51] svenSternberg commented on #144
Hi @MOlausson this is my log file:
====================================================================
Jira Export Log
====================================================================
Tool version : 2.2.59
Start time   : 05.12.2019 21:44:23
Telemetry    : Enabled
Session id   : b5060a82-9502-4ec4-b7bd-d3f64d5eebd9
Tool user    : ###MYuser
Config       : config-scrum.json
Force        : yes
Lo

[2019-12-05 20:53] svenSternberg commented on #144
myconfig file

[2019-12-05 21:07] MOlausson commented on #144
@svenSternberg it looks like your query returns nothing ("query": "issuekey = xxx-xxx"), check step 1 in https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/overview.md#migrate-work-items on how to define the query that matches the set if issues to export.

[2019-12-05 21:23] svenSternberg commented on #144
@MOlausson I don´t think so. This query actually returns the issue with the project XXX and Key xxx in my current JIRA environment.

[2019-12-06 06:34] Akhithareddy opened #145 "Error in uploading test case steps and expected result through excel in Azure devops."
I am currently unable to upload Test Case Steps (Step Action and Step Expected Result) from MS Excel into Azure DevOps.
Is this possible? We need this functionality urgently in order to upload data in bulk from MS Excel into the tool. Is this possible at all?
I can import the Test Cases but the test steps are not imported.

[2019-12-06 06:36] Akhithareddy commented on #145
I am currently unable to upload Test Case Steps (Step Action and Step Expected Result) from MS Excel into Azure DevOps.
Is this possible? We  need this functionality urgently in order to upload data in bulk from MS Excel into the tool. Is this possible at all?
I can import the Test Cases but the test steps are not imported.

[2019-12-06 07:49] Sandy9793 opened #146 "Can we use this tool to migrate From IBM rational to Azure devops?"
Can we use this tool to migrate From IBM rational to Azure devops?Do you have any other tool for the same?

[2019-12-06 09:52] runerasmussen opened #147 "System.ArgumentException: An item with the same key has already been added - still exists"
Hi,

Release v2.3.10 was supposed to resolve #139
Unfortunately I am still experiencing the issue.
Details on my issue is posted in Pull Request #140

Direct link:
https://github.com/solidify/jira-azuredevops-migrator/pull/140#issuecomment-562089409

Please can you take a look if this is the same issue or a new one?

[2019-12-06 12:05] svenSternberg commented on #144
@MOlausson any news?

[2019-12-06 12:34] madkoo commented on #72
Hi, @AmitNaveh23  we were not able to reproduce this issue with the latest version. Please try again with the newly released version.
We will close this issue for now and if there are still problems let us know and we can open the issue.

[2019-12-06 12:34] #72 closed

[2019-12-06 14:18] madkoo commented on #147
@runerasmussen, looking at the log you provided it looks like to me that in your user mapping file you have a duplicate user mapping.

[2019-12-06 19:07] MOlausson commented on #146
@Sandy9793 no, this tool only migrates from Jira to Azure DevOps. Contact us at info@solidify.se and we can discuss other options.

[2019-12-06 19:07] #146 closed

[2019-12-06 19:09] MOlausson commented on #145
Hi @Akhithareddy, the tool is only intended to migrate from Jira to Azure DevOps. We may be able help you with test cases as well, contact us at info@solidify.se to discuss this further.

[2019-12-06 19:09] #145 closed

[2019-12-08 08:26] AmitNaveh23 opened #149 "Close date doesn't migrate"
The original issue #117  was closed, but I was able to do it by a script, updating work item with bypass_rules=True

result = wit_client.update_work_item(patch_document, itemId, project_name, validate_only=False, bypass_rules=True)

can it be done on your side?

[2019-12-09 06:31] svenSternberg commented on #144
issue was related to user in config.json file. The complete username (email) solved the problem.

[2019-12-09 06:32] #144 closed

[2019-12-09 09:17] runerasmussen commented on #147
@madkoo, thanks for interpretating the log. I did have duplicate in the user mapping file.
Thank you for a quick response. I am closing the issue.

[2019-12-09 09:17] #147 closed

[2019-12-09 12:17] madkoo commented on #108
@gekap Any updates on this? Have you tried with the latest released version?

[2019-12-09 13:12] madkoo commented on #126
@Akhithareddy  closing this now because we are unable to reproduce this problem, all seems to work as expected. As said before usually, these kinds of errors point to permission related issues.

[2019-12-09 13:12] #126 closed

[2019-12-09 17:02] MOlausson commented on #144
@svenSternberg thanks for for closing the loop. Did you mean using the full email to login?

[2019-12-09 17:55] yfrindel opened #152 "Exception : "VS402625: Dates must be increasing with each revision""
Hi,
The tool is excellent, but I have some revisions not imported during the migration with the following error message :

**[Microsoft.TeamFoundation.WorkItemTracking.Client.UnexpectedErrorException] Microsoft.TeamFoundation.WorkItemTracking.Client.UnexpectedErrorException: TF237121: Cannot complete the operation. An unexpected error occurred.
Technical information (for administrator):
VS402625:

[2019-12-09 18:03] svenSternberg commented on #144
@MOlausson yes I meant the full email to logon.

[2019-12-09 18:17] MOlausson commented on #152
@yfrindel sorry about this. Can you share a scrubbed version of the HEM-907 json file? Also are you using the latest code?

[2019-12-09 18:19] MOlausson commented on #144
Thanks for confirming @svenSternberg.

[2019-12-09 19:48] yfrindel commented on #152
Hi @MOlausson. I've updated the program today, so yes the code is up-to-date. You'll find all the files in attachments.
[JiraImport.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3941462/JiraImport.zip)
Thx

[2019-12-09 20:24] yfrindel commented on #152
For an unknown reason, the "changedDate" value is automatically modified by Azure DevOps after the revision 4. It's maybe due to the workflow. I can fix the problem with these modifcations of code, but with this solution the changedDate are modified and so not correct.
![image](https://user-images.githubusercontent.com/22955005/70469932-4d405880-1aca-11ea-8206-5b493f44bb32.png)

[2019-12-09 20:28] yfrindel commented on #152
Maybe we could check here if the changedDate of the work item is corresponding to the previous revision :
![image](https://user-images.githubusercontent.com/22955005/70470119-a27c6a00-1aca-11ea-9940-9bc172c99dc1.png) and if it's not the case an update could be done to rectify the changedDate value ?

[2019-12-11 18:06] JeffBor commented on #102
Additional use case:
Phased migration vs. all-at-once cutover.  "Phased" = gradual migration, keeping source periodically sync'ed to target (one-way only, not bidirectional).

[2019-12-12 12:03] madkoo commented on #152
@yfrindel, I investigated and what I noticed right now is that there might be a state conflict that is causing Azure DevOps to modify the "change date" . Looking at the HEM-907.json then the last state change is to "Active" and the root item has the same state which shouldn't be correct. To my knowledge, the first revision should have the previous state which in this case is "Resolved" because I s

[2019-12-12 14:45] yfrindel commented on #152
Hi @madkoo ,
thx for your help.
I have not the problem only with 1 work item, but with a lot of work items.
Take a look on this complete report (JSON files also added)
[JiraImport2.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3956237/JiraImport2.zip)
[wi-import-log-191205-153246.txt](https://github.com/solidify/jira-azuredevops-migrator/files/3956244/wi-import-log-191205-153246

[2019-12-12 14:48] yfrindel commented on #152
And that's the history of the ticket on JIRA :
![image](https://user-images.githubusercontent.com/22955005/70721989-ca501580-1cf6-11ea-9aeb-52d5e03566eb.png)

[2019-12-12 15:02] madkoo commented on #152
@yfrindel  is it possible for you to provide your config file?

[2019-12-12 15:15] yfrindel commented on #152
yes, of course
[config-scrum.zip](https://github.com/solidify/jira-azuredevops-migrator/files/3956414/config-scrum.zip)

[2019-12-13 10:27] yfrindel commented on #152
N.B : the issue happens in the revision 5, not in the last revision
![image](https://user-images.githubusercontent.com/22955005/70793425-8ebb5700-1d9b-11ea-80f9-e0c62614cd17.png)

[2019-12-17 07:44] madkoo commented on #108
@gekap closing this now since we cannot reproduce the error, all seems to work as expected with the new version. Feel free to reopen if the problem still persists.

[2019-12-17 07:44] #108 closed

[2019-12-17 07:58] madkoo commented on #149
@AmitNaveh23 we do use the bypass_rules=True in our current implementation but due to the limitations of the SDK we use the closed date cannot be edited. At the moment we are not able to do this on our side because of that I am closing this issue. If you have any other questions feel free to contact us.

[2019-12-17 07:58] #149 closed

[2019-12-18 15:27] pedrolbarroso opened #161 "ChangedBy value cannot be empty when BypassRules is specified"
Hello. I'm getting the following error running the migration:
ChangedBy value cannot be empty when BypassRules is specified

I appreciate any help!

[2019-12-19 07:36] madkoo commented on #161
@pedrolbarroso can you provide the import log file and the item json that fail? Then we can investigate where the problem might be.

[2019-12-19 17:07] kmuthukumar-rp opened #163 "Links not being added to work items"
I experience the same issue specified in #52, but for the basic Epic and Child link. When I export an item, it exports the Epic parent JSON file along with that item's JSON fine. But when importing, receiving the error "[System.LinkTypes.Hierarchy-Reverse]' - target work item for Jira 'XXX-###' is not yet created in Azure DevOps/TFS" What @MOlausson said about bi-directional link makes sense. But

[2019-12-20 03:06] Ashish05178 commented on #126
Hi @Akhithareddy
I am aslo getting the same error.Can you please share how you resolved this.
Thanks

[2019-12-31 12:55] AmitNaveh23 opened #164 "Removed labels in Jira also migrates"
Hey,

I've noticed that if I have a ticket in Jira that had a label and later on that same label was deleted, the tool does not delete that label and it exists as a tag in the ADO work item

[2020-01-03 14:04] mihirsaxena-ril opened #166 "Unable to Link Sub Tasks in JIRA as Tasks to User Story"
Hello,

While using the jira-export.exe, I am facing two issues:
1. I am unable to extract Sub-tasks from JIRA
The following error is displayed
![image](https://user-images.githubusercontent.com/56682753/71727292-c92a8800-2e5f-11ea-88fd-4e7183f09012.png)
Whereas, In the code I have made a type-map:
{
				"source": "Sub Task",
				"target": "Task"
			},

			{
				"source": "Story",
				"target": "U

[2020-01-05 08:47] MOlausson commented on #164
Hi @AmitNaveh23, this sounds like a case we're not covering. We'll investigate!

[2020-01-05 08:52] MOlausson commented on #166
Hi @mihirsaxena-ril,

Regarding 1. you need to add a dash in the issue type name, "Sub-task" instead of "Sub Task".

      {
        "source": "Sub-task",
        "target": "Task"
      }

Consering 2. - can you provide us with the log file or the session id (in the log file) then we can invesigate.

[2020-01-06 04:00] Anushaopsdev opened #167 "Jira service desk to Azure Boards"
Will this tool migrate only Jira server tickets or Jira Service desk tickets as well?

[2020-01-06 11:08] mihirsaxena-ril commented on #166
Hi @MOlausson ,

Thank you for your reply.
Will implement the change and run the file once again. Will share the log file ASAP.

[2020-01-07 12:04] phoez opened #168 "Discussion contains elements that should be in "History" tab in devops after migration"
After migration I've noticed that my issues have comments in discussion like

"Removed attachments(s): [Removed] 25397/"
and
"Added link(s): [Added] "JIRA-XXX-1"->"DEVOPS-XXX-1" [System.LinkTypes.Hierarchy-Reverse]"

Additonally when importing attachements it imports two files per 1 image, thumb and full one.

[2020-01-07 16:50] kmuthukumar-rp commented on #163
Any insight on this by @MOlausson or any other experts would be greatly appreciated. Outstanding questions are:
1) Do I need to change anything in configuration json file to make sure the parent epic exported has a link to the child item as well or the application only has the parent epic link mentioned in the child item only?
2) What is the order in which the importer imports items and where in c

[2020-01-08 08:56] mihirsaxena-ril commented on #166
Hi @MOlausson ,

Since our JIRA instance is On Prem, Sharing the Log file snippet where we are facing an issue w.r.t Attachments.
**Attachment of .XLSX is closing the command**
`[I][14:15:51] Processing 128/252 - 'CEDS19001-125'.
[D][14:15:51]    Downloaded item.
[D][14:15:51]    Rendered field customfield_10106 contains unparsable type Null, using text
[D][14:15:51]    Rendered field workratio co

[2020-01-08 21:47] MOlausson commented on #152
Fixed in v2.3.36.

[2020-01-08 21:47] #152 closed

[2020-01-08 21:48] MOlausson commented on #97
Fixed in v2.3.36.

[2020-01-08 21:48] #97 closed

[2020-01-09 07:51] mihirsaxena-ril commented on #105
Hi @MOlausson ,

Has this Functionality been added to the latest version of Solidify ?
If yes, Can you suggest the syntax for the same.

Regards,
Mihir Saxena

[2020-01-09 07:58] mihirsaxena-ril commented on #166
Hi @MOlausson ,

As per my discussion with peers ,There is some policy issue on my System which prevented me from Downloading attachments.
It worked on another colleagues system.

I am unable to get mapping of some custom Issue Types in my JIRA instance,
In type Map
`{
				"source": "Impediment",
				"target": "Impediment"
			},
			{
				"source": "Spike",
				"target": "Spike"
			}`
In Error File

[2020-01-10 11:43] mihirsaxena-ril commented on #166
All attachment issues have been resolved.

[2020-01-10 11:43] #166 closed

[2020-01-10 11:46] mihirsaxena-ril opened #170 "Issue with Linking User Stories with Sub Tasks"
In our JIRA system ver 7.12, User Story are linked with Sub-Task not Tasks.
My JSON config file has Used following Link types:
`
"link-map": {
		"link": [

			{
				"source": "Relates",
				"target": "System.LinkTypes.Related"
			},
      {
        "source": "Parent",
        "target": "System.LinkTypes.Hierarchy-Reverse"
      },
      {
				"source": "Child",
				"target": "System.LinkTypes.Hier

[2020-01-11 06:22] mihirsaxena-ril commented on #170
@MOlausson Hi,

Can you assist me on this ?

Regards,
Mihir

[2020-01-13 09:23] madkoo commented on #161
@pedrolbarroso are you still experiencing the problem described? Otherwise we will soon close this issue.

[2020-01-13 19:58] madkoo commented on #168
@phoez  thank you for your input :).
The comments that you mentioned in the discussion are there by implementation to have trace ability.
The second issue that you reported will be fixed in the latest release v2.3.41.

[2020-01-14 01:38] ShadowXVII commented on #126
I dug a little more into this. I think it's an issue with the Atlassian.SDK -- I'm running the project in VS to see if I can gather anymore information.

[2020-01-14 02:59] ShadowXVII commented on #126
Seems the request, specifically the Issue search is failing -- note the BadRequest response from Atlassian.SDK.

- Tried removing maxResults but no change.
- Tried changing search parameters, no change.
- Tried changing the project, no change.

It seems almost like an authentication issue? As if the API can't seem to find the projects? The credentials look like they're being passed via cookie thou

[2020-01-15 06:59] nipanesanjay opened #172 "MIgrating Test Cases with test steps and expected result"
Hi,

I want to migrate test cases with test steps and expected result.

I did the configuration and migrated test cases but those are getting migrated without test steps.

Please advise.

[2020-01-18 07:50] MOlausson commented on #172
Hi @nipanesanjay,

This is expected behaviour, currently we only support exporting the built-in Jira issue types. We're looking at options to export 3rd party data as well, what testing tool are you using?

Mathias

[2020-01-20 06:35] sgullluu opened #173 "Work item is not ready to save."
while trying to migrate from Jira 5.2 to azure devops , most of the issues are getting below error.

Error message
[Microsoft.TeamFoundation.WorkItemTracking.Client.ValidationException] Microsoft.TeamFoundation.WorkItemTracking.Client.ValidationException: TF237124: Work Item is not ready to save
   at Microsoft.TeamFoundation.WorkItemTracking.Client.WorkItem.Save(SaveFlags saveFlags)

[JCANDROID-2

[2020-01-20 07:40] nipanesanjay commented on #172
Thanks for the updates. We are using Azure DevOps for creating our test cases.

[2020-01-20 07:47] MOlausson commented on #172
@nipanesanjay got it. And what extension (if any) are you using in Jira? I assume some 3rd party since the steps doesn't migrate.

[2020-01-20 08:17] nipanesanjay commented on #172
In JIRA test cases has been created using Zephyr Test.

[2020-01-20 15:52] MOlausson commented on #161
Closing in lack of further response. @pedrolbarroso feel free to re-open if you still are having problems.

[2020-01-20 15:52] #161 closed

[2020-01-20 16:26] anamarioc opened #174 "Is it possible to map watchers?"
Hello team,

Is it possible to map the watchers in Jira with the followers in Azure?
I'm not sure about the "target" value.

{
        "source": "watcher",
        "target": "what's the value here??",
        "mapper": "MapUser"
}

Thank you and Best Regards,
Ana

[2020-01-21 07:27] madkoo commented on #164
@AmitNaveh23 this will be fixed in the up coming release. Closing this issue at the moment. If you still experience problems in the upcoming new release feel free to reopen this issue.

[2020-01-21 07:27] #164 closed

[2020-01-21 07:32] madkoo commented on #168
Closing this issue in lack of further response. @phoez feel free to reopen if you still experience problems

[2020-01-21 07:32] #168 closed

[2020-01-21 12:13] MOlausson commented on #105
@mihirsaxena-ril not got to this yet but it's bubbling up in priority. I'll bring it up in our next planning meeting.

[2020-01-21 17:30] kmuthukumar-rp commented on #172
@MOlausson @nipanesanjay If it helps any, you would need to hit Zephyr API to get the test steps values. Currently the way I had dealt with it is:  In JiraItem.ExtractFields(), for teststep issuetype and customfield teststep, download and transform the test steps values into an array of objects by hitting the Zephyr API `rest/zapi/latest/teststep/{issueId}.` We might be able to write a mapper to m

[2020-01-22 05:57] sgullluu commented on #173
is there any way to ignore the resolved date or Change date field through Json ? iam geeting this error because they have invalid format like " 01/Jan/12" or "14/April/17".
why this fields are migrated automatically?

[2020-01-24 07:39] madkoo commented on #170
@mihirsaxena-ril sorry for the late response. Are you still stuck with this issue ?

One thing that I noticed in your linking config is the "Child"  link has "System.LinkTypes.Hierarchy-Reverse" but according to [MS Documenation](https://docs.microsoft.com/en-us/rest/api/azure/devops/wit/work%20item%20relation%20types/list?view=azure-devops-rest-5.1) the Child link should have "System.LinkTypes.Hi

[2020-01-24 07:40] madkoo commented on #163
@kmuthukumar-rp sorry for the late response but are you still stuck with this issue ? If yes can you provide more information eg. how does your configuration look like ?

[2020-01-24 14:29] kmuthukumar-rp commented on #163
@madkoo Thanks for your reply. Yes, I am still stuck with the issue. Here is my config file that is relevant to 'Is Related To' link that has not made it through.

`"link-map": {
    "link": [
      {
        "source": "Epic",
        "target": "System.LinkTypes.Hierarchy-Reverse"
      },
      {
        "source": "Parent",
        "target": "System.LinkTypes.Hierarchy-Reverse"
      },
      {

[2020-01-27 07:31] madkoo commented on #163
@kmuthukumar-rp  is the "Is Related To"  added by your self link type ? The source value you are using is that the value from the "Name" filed of the link type ?  Because you should use the "Name" of the Link type.

We read all the files in the defined export path. The files are read in base on the filenamex eg. File-1, File-2 would be the order then. And the execution plan is built on the file co

[2020-01-27 08:30] mihirsaxena-ril commented on #170
Hi @madkoo ,

Thank you for the response. I was able to take care of the issue on a case-by-case basis.
Thanks to your tool I was able to get JIRA data imported to Azure

[2020-01-27 08:30] #170 closed

[2020-01-27 08:31] phoez opened #176 "Symantec Endpoint Protection blocks .exe's"
![image](https://user-images.githubusercontent.com/9357970/73159799-ababaf80-40e7-11ea-891f-ce22d80e2bd6.png)

I can freely use version 2.2.31 but from this version upwards files get quarantined with infected status.

[2020-01-27 08:33] madkoo commented on #170
Sorry again for the late response but Happy to hear you were able to take care of your issue. Thank you for your positive feedback we appreciate it :)

[2020-01-27 09:32] madkoo commented on #173
@sgullluu Those fields are migrated to get correct state and history of workitem changes. Otherwise the history the dates will have time datetime when the import is ran.
Why do you believe the format is incorrect ? can you provide more information ?

[2020-01-28 07:49] MOlausson commented on #176
Hi @phoez, we haven't seen this. Can you share a bit more about what you see? Any logs explaining what Symantic is triggering on?

[2020-01-28 08:19] phoez commented on #176
![image](https://user-images.githubusercontent.com/9357970/73246508-12e06700-41af-11ea-8b51-72714ceecb00.png)
https://www.symantec.com/security-center/writeup/2010-051308-1854-99?vid=4294919973

Basically I think it just quarantines it because of no new info about it but just wanted to let you guys know that this does and can happen.

[2020-01-30 15:16] kmuthukumar-rp commented on #62
Coping some info that I pasted on one of the other ticket regarding Zephyr, as it may be helpful.

@MOlausson @yfrindel @machinatus @brbones If it helps any, you would need to hit Zephyr API to get the test steps values. Currently the way I had dealt with it is:  In JiraItem.ExtractFields(), for testcase issuetype and customfield teststep, download and transform the test steps values into an array

[2020-01-30 15:56] yfrindel commented on #62
Personaly, on my side, I download the tests steps like that :

[code]

then the xml downloaded with the tests descriptions are imported like that in Azure devops :

[code]

[2020-01-31 10:20] sssparsh05 opened #177 "Attachments are not mapping to azure devops"
while doing import attachments are not mapping to azure devops all issues will left with no attachments.Any suggestion you have?

[2020-01-31 10:33] Shyamal0212 opened #178 "Unable to get jira export working"
Command: jira-export -u user.name -p XXXXX --url jiraURL --config config-scrum.json --force
Error:
Copyright (c) Solidify
[I][15:55:15] Connecting to Jira...
[I][15:55:15] Retrieving Jira fields...
[I][15:55:18] Retrieving Jira link types...
[E][15:55:20] Failed to get item count using query: 'project = CTUCC'
[System.AggregateException] System.AggregateException: One or more errors occurred. --->

[2020-02-03 10:02] madkoo commented on #167
@Anushaopsdev  sorry for a late response. This tool should be able to migrate Jira Service Desk.

[2020-02-03 10:55] madkoo commented on #174
@anamarioc Sorry for the late response, but at the current time Azure Devops does not support this action.
If you have other problems feel free to contact us.

[2020-02-03 10:55] #174 closed

[2020-02-03 10:59] anamarioc commented on #174
@madkoo that's ok, thanks for the reply.

[2020-02-03 10:59] madkoo commented on #177
@sssparsh05 can you provide more information eg. the log of export?
When you have exported your items are the attachments downloaded from jira ?

[2020-02-03 11:02] madkoo commented on #178
Hi @Shyamal0212 , looking at the error then the first question I would ask is that is the project name correct that you are using?
Secondly how does you full query look like in the configuration file ?

[2020-02-03 11:10] Shyamal0212 commented on #178
Hi @madkoo,
My full query is taken from JQL and it looks like below:
 "query": "project = <projectKeyInJira>",
I also tried with different queries such as -
project = <JiraProjectFullName> AND issuetype = Bug
But all these ended up with same error.

Interesting thing to note is -
even if I provide wrong password in the Jira export command, I get the same error as {"errorMessages":["The value '_NAM

[2020-02-03 11:14] madkoo commented on #178
@Shyamal0212  , in the query you have not provided any project name.

[2020-02-03 11:20] sssparsh05 commented on #177
[wi-import-log-200118-160701.txt](https://github.com/solidify/jira-azuredevops-migrator/files/4147579/wi-import-log-200118-160701.txt)
Yes Attachments are downloaded while export .
Logs attached

[2020-02-03 11:29] madkoo commented on #177
@sssparsh05  the log that you provided is an import, not an export log.
Firstly I would advise you to re-check your config file because looking at the import log many items are not loaded by the tool. Looks to me like those files you are trying to import are faulty.
Once you are sure the config looks good, run the export again, better yet, do a test run, pick one item in Jira which has attachments

[2020-02-03 11:30] sssparsh05 commented on #177
[jira-export-log-200118-111417.txt](https://github.com/solidify/jira-azuredevops-migrator/files/4147609/jira-export-log-200118-111417.txt)
ok i will try for one item.

[2020-02-03 11:36] Shyamal0212 commented on #178
I had provided the project name in quotes which removed everything let me paste it again -
"query": "project = ProjectKeyInJira",
I also tried with different queries such as -
project = 'ProjectKeyInJira AND issuetype = Bug

Also tried with project full name inside '' instead of project key.

[2020-02-03 12:23] sssparsh05 commented on #177
[jira-export-log-200203-174552.txt](https://github.com/solidify/jira-azuredevops-migrator/files/4147831/jira-export-log-200203-174552.txt)
[wi-import-log-200203-174828.txt](https://github.com/solidify/jira-azuredevops-migrator/files/4147832/wi-import-log-200203-174828.txt)

[2020-02-03 12:23] sssparsh05 commented on #177
I tried with one item

[2020-02-03 12:24] sssparsh05 commented on #177
i am using below config file
{
  "source-project": "CER",
  "target-project": "CER",
  "query": "project = CER AND issuetype = Sub-task AND status = Done AND description ~ Westward AND assignee in (esther.garcia1) ORDER BY priority DESC, updated DESC",
  "workspace": "C:\\Users\\u91205\\Downloads\\import\\",
  "epic-link-field": "Epic Link",
  "sprint-field": "Sprint",
  "download-options": 7,
  "

[2020-02-03 12:58] madkoo commented on #177
Just for information, you are missing lot of mapping configuration as well, my suggestion is to fix that too otherwise you import will be done with incomplete data.

[2020-02-03 13:01] madkoo commented on #177
@sssparsh05  can you provde of of the exported items as well, so we can investigate why the tool fails to load the json file.

[2020-02-03 13:19] madkoo commented on #178
@Shyamal0212 is the path to your config correct " --config config-scrum.json " ?

[2020-02-03 13:22] madkoo commented on #173
Closing this issue in lack of further response. @sgullluu  feel free to reopen if you still experience problems

[2020-02-03 13:22] #173 closed

[2020-02-03 13:26] madkoo commented on #167
Closing issue. If you experience further problems, feel free to create a new issue.

[2020-02-03 13:26] #167 closed

[2020-02-03 14:03] Shyamal0212 commented on #178
Yes, path to config is correct. Cause if I change project name in config-scrum.json then I get error message for entered project. So it is reading config-scrum.json.

[2020-02-03 14:06] madkoo commented on #178
@Shyamal0212  just to be sure, then your config is on the same path as the export executable that you are running?
If yes, then it must be some other configuration, in that case, can you provide the full error message or the export json file?

[2020-02-03 14:15] Shyamal0212 commented on #178
Pasting jira log below:
====================================================================
Jira Export Log
====================================================================
Tool version : 2.3.41
Start time   : 2/3/2020 7:43:33 PM
Telemetry    : Enabled
Session id   : 422b8c5a-aca7-4641-90d2-0de8354476b6
Tool user    : MINDTREE\M1021479
Config       : config-scrum.json
Force        : yes
Log l

[2020-02-03 14:20] Shyamal0212 commented on #178
[jira-export-log-200203-194330.txt](https://github.com/solidify/jira-azuredevops-migrator/files/4148304/jira-export-log-200203-194330.txt)
Thats correct, config file is at the same path as export executable. Attaching jira error log.

Some more info if that can help you drill down
Jira version - v8.3.4
Solidify version - v2.3.41

Thank you very much for helping out on this.

[2020-02-03 15:10] madkoo commented on #178
@Shyamal0212 reading comments above and looking at the log of the export I am thinking the problem might be with authentication because in the export log it says "{"errorMessages":["The value 'CTUCC' does not exist for the field 'project'.","Field 'issuetype' does not exist or this field cannot be viewed by anonymous users."]"
1) Make sure the username and password are valid to login. It might be

[2020-02-03 15:13] Shyamal0212 commented on #178
I am trying this from my ID and I do have access to this project and admin access of Jira. I did try using API token, in my case it was xsrf token. Is that correct way of passing it in place of password parameter?

[2020-02-03 15:26] sssparsh05 commented on #177
{
  "Type": "Product Backlog Item",
  "OriginId": "CER-220",
  "WiId": -1,
  "Revisions": [
    {
      "Author": "roberto.enjuanes@wbadev.com",
      "Time": "2019-01-30T14:56:20.013+05:30",
      "Index": 0,
      "Fields": [
        {
          "ReferenceName": "System.Title",
          "Value": "[CER-220] Operational Support Sprint 1"
        },
        {
          "ReferenceName": "System.Ass

[2020-02-03 15:27] sssparsh05 commented on #177
Above is exported item json.
Attachments are exported but problem occuring while import it keet left unattached to all tickets

[2020-02-03 15:37] madkoo commented on #177
@sssparsh05 can you attach the entire json file instead of  copying the content of the file otherwise is kind of hard to say if the faile is broken for some reason.

[2020-02-03 15:42] sssparsh05 commented on #177
[CER-220.txt](https://github.com/solidify/jira-azuredevops-migrator/files/4148697/CER-220.txt)
[CER-252.txt](https://github.com/solidify/jira-azuredevops-migrator/files/4148703/CER-252.txt)

[2020-02-03 15:42] sssparsh05 commented on #177
Attached

[2020-02-03 16:08] madkoo commented on #177
@sssparsh05 just to be sure, can you confirm that from the exported issue CER-252, when you open that file and search for the first attachment "Filepath" then does the image, it is pointing to, exists?

Otherwise, the exported issue file seems to be correct and the only thing I can think of at the moment is that the path where it is pointing for the attachment does not exist.
Maybe try to change t

[2020-02-04 09:31] sssparsh05 commented on #177
i have checked the path it is accessible and correct no issues with that.
Any where we need to define in config file for attachment to attach while import?

[2020-02-05 14:58] calvinmichel opened #179 "User picker custom field not being exported"
I have tried every option in the config file to get this working but this field is being ignored on the export.  I have tried using the name and "source-type": "name".  I've tried with and without the mapper.  This is the only custom field in the config that is not being exported at all.

      {
        "source": "customfield_10100",
        "target": "Custom.Tester",
        "mapper": "MapUser",

[2020-02-06 09:07] sssparsh05 commented on #177
Can you provide your config file here so i can see it ?

[2020-02-06 15:32] calvinmichel commented on #163
I am experiencing the same issue mentioned above.  We have over 4000 items in JIRA we need to import and the links are not being created consistently.

**"When child item is getting imported first and missing to add link to parent item as it does not exist in Azure yet, but when the parent epic is getting imported, the link to child is not getting added as its JSON itself does not contain this lin

[2020-02-07 08:32] madkoo commented on #177
@sssparsh05  The only path you can configure is the Workspace path.
You can find our sample configs here:  [Configuration documentation](https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/config.md)

[2020-02-08 22:42] sanjeev40084 commented on #172
@MOlausson we are migrating JIRA project to Azure DevOps currently and some of the JIRA projects have 1000+ tests in Zephyr. If this is implemented in the tool, this will definitely save us lot of time during our migration.

[2020-02-09 20:55] sanjeev40084 opened #180 "Failed to load 'config-agile.json' while trying to import workitems in Azure DevOps"
@MOlausson  I am running latest release v2.3.41 and everytime i try to load work items in Azure DevOps i get the warning message saying _'Failed to load 'config-agile.json' (perhaps not a migration file?)_.  Although the tool imports work items in Azure DevOps successfully, i believe there is some bug in the code. I downloaded the code and ran locally, and found that the reason i was getting that

[2020-02-09 21:14] MOlausson commented on #180
Hi @sanjeev40084 , I think this is the expected behavior. If you have other .json files in the directory used for the migration items those will not have the expected format. Our design is to skip the those files and report the warning to see. Best practice is to keep config separate from the migration directory.

[2020-02-11 05:00] ShadowXVII commented on #178
Might be related to #126 -- I also cannot get it to export at all -- see my findings below.

[2020-02-11 05:09] ShadowXVII commented on #178
I've just queried the API manually using the same Username and API Key and it worked fine -- perhaps it's an issue with how the Atlassian.net-SDK is interpreting the username and password?

[2020-02-12 12:12] anamarioc opened #181 "Attachments error - attachments are not being exported correctly"
Hi team,
In addition to issue #177

I have a Jira issue that contains two attachments (one .jpg and one .txt). The .jpg one is also included in the description of the Jira issue:
![Jira issue](https://user-images.githubusercontent.com/26895529/74334124-3bf91e00-4d91-11ea-8bf9-4ed4eb18c026.PNG)

When exporting the issue I can see in the workspace I defined the two attachments but I can't preview th

[2020-02-12 12:42] anamarioc commented on #181
Also I tested other issues with attachments, and sometimes, if it has attachments in the description, the description is not migrated at all or it is migrated but we see the following (the config file is the same as the one I attached above, just the query is different)
![Capture](https://user-images.githubusercontent.com/26895529/74335930-2e459780-4d95-11ea-91b5-d78c3fd70ee5.PNG)

[2020-02-12 13:05] MOlausson commented on #180
@sanjeev40084 did you get this sorted out? Closing the issue for now but feel free to re-open if you think we have a bug somewhere.

[2020-02-12 13:05] #180 closed

[2020-02-12 16:09] anamarioc commented on #181
Also please note that **for most of the cases**, when we have images in the description, the images are being shown like this [the json file used for the described case and below case was the same]
![Capture](https://user-images.githubusercontent.com/26895529/74353286-9904cc00-4db1-11ea-925a-a921c88cd2a2.PNG)

[2020-02-13 08:11] madkoo commented on #179
@calvinmichel  just to clarify is your custom field a single user or multiuser picker?
I would suggest using the source-type: "name". Tested this and had no problem exporting custom user picker, using this mapping:  `{
        "source": "SingleUserPicker",
        "source-type": "name",
        "target": "Custom.TestField",
        "for": "Product Backlog Item",
        "mapper": "MapUser"
      }

[2020-02-13 10:11] strn9r opened #182 "Unable to extract Jira comments"
Hi,

When exporting items from Jira the tool crashes with the exception:

**Could not convert string to DateTime: Today 11:58 AM**

ONLY in case there are comments in Jira item. If there is no any comment in Jira item then it works fine.
Exception details:
`[E][12:46:53] Unexpected migration error.
[System.AggregateException] System.AggregateException: One or more errors occurred. ---> Newtonsoft.

[2020-02-13 10:14] strn9r commented on #182
on Jira page the date and time format are displayed in the following way:

![image](https://user-images.githubusercontent.com/52602711/74424333-cbbacd00-4e62-11ea-8429-fe0988694ffc.png)

in code it looks like this:
![image](https://user-images.githubusercontent.com/52602711/74424256-a62dc380-4e62-11ea-829c-90186b61ed7d.png)

[2020-02-13 10:22] strn9r commented on #182
the part of the config file where comments are configured:
	  //export the Jira field "Comments" to the AzureDevops "Discussion"
	  {
		"source": "comment",
		"target": "System.History",
		"mapper": "MapRendered"
	  },

[2020-02-13 16:35] anamarioc commented on #181
@MOlausson and @madkoo can you please help? We want to use your tool but the attachments error is a real big issue for us

[2020-02-13 16:50] madkoo commented on #181
@anamarioc  thank you for reporting this. We are currently investigating this issue.

[2020-02-13 18:13] anamarioc commented on #181
Hopefully you will be able to reproduce it @madko. Please note that this is happening for all of attachment's types , not just for  .jpg and .txt extensions.
Don't forget to try to reproduce also the case where the images in the description appear broken.
Please let me know in case you need more details :)

[2020-02-15 20:30] sanjeev40084 commented on #180
@MOlausson yes that worked, i moved config-agile.json file inside separate folder and i didn't get that error anymore.

[2020-02-16 05:00] apiotuch opened #184 "Custom fields do not export from Jira"
I have been trying for several days to export a project that has a couple custom fields for a custom bug ticket. When I look in the json files representing the exported tickets, there is no data for any custom fields. I have tried using **_"name"_**, **_"id"_**, for **"source-type"**, and **_"Custom Field Name"_**, **_"1234"_**, **_1234_**, for **"source"** in the config file. Nothing seems to get

[2020-02-16 09:43] MOlausson commented on #176
Thanks @phoez for brining this to our attention. We'll investiage if we should send info to Symantec since it incorrectly blocks our .exes.

[2020-02-16 09:43] #176 closed

[2020-02-17 10:04] strn9r commented on #182
@madkoo could you please check my post above and let me know the reason why it is not working or at least how i can workaround the issue? Thanks.

[2020-02-17 11:06] madkoo commented on #163
@kmuthukumar-rp are you still stuck with this? And forgot to answer to your question

Then yes you are supposed to use 'Outward Description'.

@calvinmichel, thank you for your question, as mentioned before the link, is bi-directional. So if the child does not have the link and the parent does it will be added in AzureDevops.
But if it is missing from your exported item that means some configurati

[2020-02-17 11:09] madkoo commented on #182
@strn9r thank you for the input, we will investigate this.

[2020-02-17 11:35] madkoo commented on #182
@strn9r can you elaborate whether you added a comment "Today 10:36 AM" as text or in a special way?

[2020-02-17 12:36] strn9r commented on #182
@madkoo a comment is added as a plain text. but the way how Jira displays it it is up for Jira settings i believe. For example i've just added a new comment, please see:

![image](https://user-images.githubusercontent.com/52602711/74654305-15752180-519b-11ea-97e0-d67e3d4bfd9d.png)

a few seconds ago, then in a minute it will be a minute ago, then Yesterday or another day, and so on

[2020-02-17 12:41] strn9r commented on #182
I believe Jira displays time in the same manner as Github does, for example my comment 4 minutes ago.
![image](https://user-images.githubusercontent.com/52602711/74654684-ed39f280-519b-11ea-94cc-e1b97f477c75.png)

[2020-02-17 12:58] richa89s opened #187 "Export/Import errors"
Hi team,

I have a few questions.

1. While exporting, I get Cannot find info for attachment '397947', skipping. Reason 'Response Content: {"errorMessages":["The attachment with id '397947' does not exist"],"errors":{}}'. However, attachments are available in Jira and also How Solidify is reading attachment values? ex: 397947.

2. While importing I get Azure DevOps services are not available from

[2020-02-17 13:01] madkoo commented on #182
@strn9r  can you provide me the format you are using? Trying to reproduce this issue with no success, the tool is working as expected. eg Exported Item with the following comment  -
![image](https://user-images.githubusercontent.com/1208114/74656089-28392780-5196-11ea-8031-7686dce6e065.png)
The export works, having the same comment mapping configuration as you.

[2020-02-17 13:08] strn9r commented on #182
@madkoo how can i provide you the format ? the format of what ?

[2020-02-17 13:11] madkoo commented on #182
@strn9r, I apologize that I was not specific. I meant the date-time format you are using in your Jira server configuration.
Also, did you try exporting issues that have different time in comments?

[2020-02-17 13:20] strn9r commented on #182
@madkoo i do not know how our Jira is configured and our Jira admins do not share this info with me. so unfortunately i can't provide you such info. Know only Jira version : 6.1.4
in regards to the second question - all our items have the same format for all fields.
i just noticed that if any Jira item has at least one comment - the export doesn't work and throws this exception.
if i delete the co

[2020-02-18 12:09] madkoo commented on #179
Closing this issue in lack of further response. @calvinmichel  feel free to reopen if you still experience problems

[2020-02-18 12:09] #179 closed

[2020-02-18 12:10] madkoo commented on #163
Closing this issue in lack of further response. @kmuthukumar-rp , @calvinmichel  feel free to reopen if you still experience problems

[2020-02-18 12:13] madkoo commented on #184
@apiotuch Can you provide more details on how your config for custom fields looks like?
Have you checked our config documentation and FAQ section?

[2020-02-18 16:52] MOlausson commented on #187
Hi @richa89s,

1. Can you see the attachment in question in Jira?
2. Can you share the log file for this run? Or at least the session id from the log file so we can analyze?
3. Can you share (a scrubbed) version of the exported file that has problem with formatting?

[2020-02-18 19:49] apiotuchAoD commented on #184
@madkoo I have been using the sample config-agile.json file and using config documentation. I don't know if I saw the FAQ section.

I have tried exporting from a new sample project with custom fields and that seemed to export with no issues.

However the project I am trying to migrate does not seem to export custom fields at all.

this is one of the objects I added to the field array:
{
     "sour

[2020-02-18 21:28] apiotuchAoD commented on #184
@madkoo I have looked at the FAQs now and I have read them before.

[2020-02-19 07:03] richa89s commented on #187
Hi Molausson,

1. I will check the Jira side and will get back to you.
2. Session id is c43ce42a-3a18-4bf4-914a-6bd589f97632. One of the sample examples of the error appeared at "[E][13:31:22] Failed to import ".
3. Description section which has definition as below:
 {
        "source": "description",
        "target": "System.Description",

      },

In source some of issue type has description l

[2020-02-19 10:06] strn9r commented on #182
@madkoo is it enough info provided to define possible solution or workaround?
or what i can do for you additionally from my side to get progress on this ?
thanks.

[2020-02-19 14:50] madkoo commented on #184
@apiotuchAoD  what type of custom field it is? Does it contain HTML and is that why you are using the MapRendered mapper?

[2020-02-19 18:33] apiotuchAoD commented on #184
It is a WikiRenderer. It seems there are only 2 options available for Renderers, Wiki and Text. There is no HTML. I removed the mapper property from the object definition and it was able to get some of the Custom Fields now. Should be working for the rest.

Another topic, is there anyway of mapping Jira ticket numbers to Azure Work Item ID? Or retaining ticket creation date?

[2020-02-20 07:19] madkoo commented on #184
@apiotuch, unfortunately, it is not possible to map the Jira Ticket number to Azure Work Item Id, because it is auto-generated. But the creation date should match what you have in Jira.

[2020-02-20 17:53] calvinmichel commented on #163
@madkoo Sorry about not responding, I did not get notifications of your comments.  I have updated the link map to include all link types.
  "link-map": {
    "link": [
      {
        "source": "Epic",
        "target": "System.LinkTypes.Hierarchy-Reverse"
      },
      {
        "source": "Relates",
        "target": "System.LinkTypes.Related"
      },
      {
        "source": "Duplicate",

[2020-02-20 18:05] calvinmichel commented on #179
@madkoo Sorry again that I did not respond.  I am not receiving notifications from GitHub when comments are added.  I have updated the config file as suggested
      {
        "source": "Tester",
        "source-type": "name",
        "target": "Custom.Tester",
        "for": "User Story,Defect",
        "mapper": "MapUser"
      }

I ran the export and for a JIRA issue that has a value in the Tes

[2020-02-20 22:32] apiotuchAoD commented on #184
@madkoo When I import ReproSteps, I am not using a mapper and it ends up taking a numbered list and creating a paragraph of text. Is there a mapper for WikiRenderer? Or do I need to do something custom with extracting the list from a string, and converting it into an array?

[2020-02-21 07:37] madkoo commented on #184
@apiotuch  For ReproSteps and Description fields I would suggest using MapRendered mapper

[2020-02-21 16:16] calvinmichel opened #191 "User picker custom field not being exported (reference #179)"
Wasn't sure how to re-open #179 .  Here is the last comment I added from that issue.
@madkoo Sorry again that I did not respond. I am not receiving notifications from GitHub when comments are added. I have updated the config file as suggested
{
"source": "Tester",
"source-type": "name",
"target": "Custom.Tester",
"for": "User Story,Defect",
"mapper": "MapUser"
}

I ran the export and for a JIRA is

[2020-02-21 16:18] calvinmichel opened #192 "Links not created on import for parent that does not exist yet (reference #163)"
This is in reference to #163 .  Wasn't sure how to re-open the ticket, here is the last comment.

@madkoo Sorry about not responding, I did not get notifications of your comments. I have updated the link map to include all link types.
"link-map": {
"link": [
{
"source": "Epic",
"target": "System.LinkTypes.Hierarchy-Reverse"
},
{
"source": "Relates",
"target": "System.LinkTypes.Related"
},
{
"sourc

[2020-02-21 17:35] E-McKee opened #193 "JQL Query not pulling only the desired work items"
Hello,

I have a project in jira named Clarion, of which i need to port over only the work items that have a status of "ready for deployment"

I assumed you could do this, and tried to use the JQL Query to only pull the work items that had the project = CLAR and status = "ready for deployment.

"query": "project = CLAR AND status = \\"Ready for Deployment\\" ORDER BY Rank ASC",

The above statemen

[2020-02-21 18:09] apiotuchAoD commented on #184
MapRendered does not work for WikiRenderer, so my custom field for ReproSteps does not export from Jira if I use MapRendered.

[2020-02-21 19:08] MOlausson commented on #193
@E-McKee This should work... Can you share your log file with us or the session id from it?

Not that it should matter but test using single quotes for the status expression,

"query": "project = CLAR AND status = 'Ready for Deployment' ORDER BY Rank ASC"

[2020-02-21 19:17] E-McKee commented on #193
@MOlausson Im so sorry. ill marked this as closed, this was user error. I was modifiying it, thinking i was modifying the file i had placed in my applications folder, when really i was modifying where i had copied it from. So in short i was changing it but i never saw any differences because i was changing the wrong file. So sorry about that.

[2020-02-21 19:17] #193 closed

[2020-02-21 19:20] E-McKee commented on #193
I should also specify that this did work as intended and i was able to pull just the specific work items

[2020-02-21 22:10] MOlausson commented on #193
Glad to hear you found the problem.

[2020-02-24 07:44] madkoo commented on #191
@calvinmichel  what filed type you are using in Jira for this specific custom one?
How does the data look in it?
When Exporting do you get any errors/warnings for this field ?

[2020-02-24 07:59] madkoo commented on #192
@calvinmichel  How is your link defined in Jira for this kind of link (Epic to sub-task)?

[2020-02-24 22:10] apiotuchAoD commented on #191
![image](https://user-images.githubusercontent.com/61207513/75195370-a6ee1180-570e-11ea-9320-55ee40771337.png)

No errors or warnings are thrown when I include "mapper": "MapRendered" regardless if I specify target to a custom field in Azure or to "target": "Microsoft.VSTS.TCM.ReproSteps".

[2020-02-24 23:35] calvinmichel commented on #191
@madkoo The tester field is a User picker (single user).  I've attached a snapshot from JIRA.
![Test Field Type](https://user-images.githubusercontent.com/20405266/75198763-01936780-5727-11ea-95a6-8b929eaa6273.PNG)

I set the log level to "Debug".  I've attached a portion of the export log for a defect that has a value in the Tester field.  I did a search on the word Tester in the export log and o

[2020-02-25 00:05] calvinmichel commented on #192
It looks like JIRA does not understand or track a relationship between Epic and sub-task.  Atlassian theory is that sub-tasks will always have a Parent that is associated with the Epic.  When I look at a Story(CBE-43) linked to a defect (CBE-438) that is more recent, the link does not show in the parent (CBE-43) but it does show up in the child (CBE-438) with the correct link type.  I'm going to c

[2020-02-25 00:05] #192 closed

[2020-02-25 00:47] apiotuchAoD commented on #184
@madkoo
![image](https://user-images.githubusercontent.com/61207513/75195978-db160200-570f-11ea-9559-804a6d71c997.png)

No errors or warnings are thrown when I include "mapper": "MapRendered" regardless if I specify target to a custom field in Azure or to "target": "Microsoft.VSTS.TCM.ReproSteps". No object is created in the json file.

If I simply omit "mapper": "MapRendered", then an object is c

[2020-02-25 11:56] LiljebergXYZ opened #194 "Exported comments have no author"
I'm trying to export from Jira and for some reason the comments all have author: `null`.

Did I miss something in the configuration?

[2020-02-25 13:43] madkoo commented on #194
@LiljebergXYZ  are you using Jira Cloud? If yes then Jira has made changes in their REST API which is causing this behavior you are seeing. We are working on finding a proper solution for that.

[2020-02-25 13:51] madkoo commented on #177
Closing this issue in lack of further response. @sssparsh05  feel free to reopen if you still experience problems

[2020-02-25 15:48] LiljebergXYZ commented on #194
Yes I am. I just figured it could map on the account ID, just like the assignees

[2020-02-25 17:24] E-McKee opened #195 "Mapping to Discussion Section"
Hello,

This is more of a question than an issue, but i was wondering if there is a way to map fields to the Discussion section as a new comment in Azure DevOps?

We have several fields in Jira that need to be ported over but would work better as a comment in Azure DevOps then as a dedicated field.

I have already tested before and comments in Jira are in fact being ported over to the comments

![

[2020-02-26 00:30] sanjeev40084 opened #196 "Users '{guid value}' not found in Jira, using username '{guid value}' for mapping."
We are in JIRA cloud and recently we have started getting Users '{guid value}' not found in Jira, using username '{guid value}' for mapping. error message while exporting jira items. Tried current release and one before that.

![image](https://user-images.githubusercontent.com/3292092/75300267-51e0f700-5805-11ea-8c52-0fa3a839a04e.png)

[2020-02-26 01:45] sanjeev40084 commented on #194
@LiljebergXYZ @madkoo in my case, all the imported comments in DevOps shows me as author or whoever runs the import tool. :(

[2020-02-26 02:05] sanjeev40084 commented on #187
@richa89s i have noticed this during my migration too. I think this happens anytime when user in JIRA removes any attachment in the original issue. Go to History tab under Activity section in JIRA (for the issue where you see these type of error message) and check to see if there is any history for removal of attachment.

[2020-02-26 07:52] LiljebergXYZ commented on #194
Yep that's exactly what happens for me as well, it's the same issue. The fact that the author is not set in the exported file

[2020-02-26 12:13] strn9r commented on #182
@madkoo could you please update me on this ? do you any additional info from me ?

[2020-02-26 12:43] madkoo commented on #191
@calvinmichel  we have found a bug when getting "user picker (single user) "custom field from Jira Server.
The only workaround I found was to create/rename the custom filed name to all lowercase. Then modify the issue/s that use that field so the change history would be saved. In the config.json "Source" field should have name of the filed and without "source-type": "name" and you can keep the Map

[2020-02-27 15:55] chelms0101 commented on #196
I've been getting the same issue starting a few days ago.

![Capture](https://user-images.githubusercontent.com/61553404/75460429-721ccd00-594f-11ea-9f49-e86c87345322.PNG)

[2020-02-27 16:16] chelms0101 opened #198 "Import Error & Users Missing on Export"
I performed a migration to DevOps about 2 weeks ago & everything worked fine. Now, however, I have been getting this error using the same config file on a significant amount of my work items.

[E][10:00:31] Failed to import revisions for '3762'.
[Microsoft.TeamFoundation.WorkItemTracking.Client.UnexpectedErrorException] Microsoft.TeamFoundation.WorkItemTracking.Client.UnexpectedErrorException: The

[2020-02-27 19:12] MOlausson commented on #198
@chelms0101 thanks for reporting. It's unfortunately an issue cause by a change in Jira Cloud. We're looking at ways to fix this in #196. Closing this as a duplicate.

[2020-02-27 19:12] #198 closed

[2020-02-27 19:32] E-McKee commented on #195
This is not a issue on my end anymore, as we decided to go with a different route on storing the information into azure, however, this would be something to note about future users who may not want to change the way they have set up the Azure and would rather put more information into their discussion section.

[2020-02-28 09:39] richa89s commented on #187
thanks @sanjeev40084

[2020-02-28 09:39] richa89s opened #199 "Does solidify works with Jira version 8?"

[2020-02-29 23:21] calvinmichel commented on #191
Thanks for the workaround!  This worked.

[2020-02-29 23:21] #191 closed

[2020-03-04 13:16] AmitNaveh23 opened #200 "Pictures in the description dont migrate as expected"
When there are pictures in the description, the first picture appear in all places instead of the other pictures.
it happens even though in the export json there are the correct picture links.

ex.
part of description field in json:
<img src=\"http://10.75.130.10:8080/secure/attachment/70190/70190_screenshot-3.png\" align=\"absmiddle\" border=\"0\" /></li>\n\t</ul>\n\t</li>\n</ul>\n\n\n<p><p> <img

[2020-03-04 13:37] madkoo commented on #181
@anamarioc  closing this issue. If you still have problems feel free to reopen the issue.

[2020-03-04 13:37] #181 closed

[2020-03-05 10:32] sssparsh05 commented on #177
Here is my config file attached.
I have tried many ways but still attachments are importing.

[2020-03-09 15:32] weirbt2k commented on #103
You can only put in one source-project but you can query more than one project in the same Jira instance from what I've seen.

Here's an example where I exported all issues in the 'To Do' or 'In Progress' statusCategory from three projects used by the same team (so I could consolidate them into Azure DevOps). I hope this helps.

"query": "project in (Project1,Project2,Project3) AND statusCategory

[2020-03-12 08:59] madkoo commented on #200
Sorry for the late response.
Thank you for reporting this issue. We are looking into this.

[2020-03-12 11:54] richa89s commented on #199
any update on this?

[2020-03-12 12:49] madkoo commented on #200
@AmitNaveh23  I have introduced a fix for this issue. This should be released in the next version.

[2020-03-12 12:58] madkoo commented on #182
@strn9r , unfortunately, we were unable to reproduce this case. We have tested with Jira version 7 and issues with comments get migrated fine.
Based on that this seems to be an issue with the Jira version you are using. If possible we would suggest upgrading to a newer version and trying then.

[2020-03-12 13:40] madkoo commented on #196
@sanjeev40084 , @chelms0101  sorry for the late reply. Jira Cloud has changed its API for getting user data. We are looking into this.

[2020-03-15 11:51] cforce commented on #103
@weirbt2k  You misunderstood my request. I was requesting to be able to have several destination projects for the same source, but keeping links between issues in destinations projects because they have the same source project where they was linked too before. If you don't have that import in one go, you will loose the context and for that the reference.

[2020-03-16 07:27] NitsGupta-TFS opened #203 "Error while importing JIRA workitems to TFS"
I am using the following query to import JIRA workitems into TFS
wi-import --token XXXXXX --url "TFS url" --config config-scrum.json --force however I am getting the below error:
[E][12:07:11] Unexpected migration error.
[Microsoft.TeamFoundation.TeamFoundationServiceUnavailableException] Microsoft.TeamFoundation.TeamFoundationServiceUnavailableException: TF400324: Azure DevOps services are not av

[2020-03-17 17:57] MOlausson commented on #203
That should work. Which version of TFS are you on? Also make sure the URL contains the full path including protocol, port, collection name etc.

[2020-03-17 19:41] madkoo commented on #187
@richa89s , closing issue, because it seems that you found your answer. If you still have problems, feel free to reopen this issue.

[2020-03-17 19:41] #187 closed

[2020-03-17 19:43] madkoo commented on #184
This was indeed a bug and we have fixed this. The fixed should go out with the next release.

[2020-03-18 10:24] NitsGupta-TFS commented on #203
I am using TFS 2010 and using the complete URL including protocol,port and
collection name but it's not working.

On Tue, Mar 17, 2020, 11:27 PM Mathias Olausson <notifications@github.com>
wrote:

[2020-03-18 14:20] TMHLS-Ultron commented on #163
I have faced the same problem. Some items will have a comment but no actual link.

In my case there's child items what where created before the parent, so I get the "not yet created" error. When I checked the exported .json files I saw that the child items have a link, but the parent does not.

Re-running the importer does nothing and will not fix the links and running with the --force option will

[2020-03-18 14:25] MaggyLarsen commented on #194
Hi All, I have the same Issue. I am hoping for a fix here as well :) Thanks a lot !

[2020-03-18 16:00] MaggyLarsen commented on #194
Modification in method BuildRevisions in class JiraItem, line 58 :

//string author = change.ExValue<string>("$.author.name");
string author = change.ExValue<string>("$.author.accountId");

[2020-03-18 18:51] MaggyLarsen commented on #194
+ fix also needed in the BuildComment revision method  :

private static List<JiraRevision> BuildCommentRevisions(JiraItem jiraItem, JiraProvider jiraProvider)
        {
            var renderedFields = jiraItem.RemoteIssue.SelectToken("$.renderedFields.comment.comments");
            var comments = jiraProvider.Jira.Issues.GetCommentsAsync(jiraItem.Key).Result;
            return comments.Select(

[2020-03-19 09:44] madkoo commented on #163
@TMHLS-Ultron I reopened the issue, we will take a look at it.

[2020-03-19 10:04] madkoo commented on #199
@richa89s , sorry for the late response but yes Jira version 8 should be supported.
Closing this because it was just a question. If you have any problems feel free to contact us.

[2020-03-19 10:04] #199 closed

[2020-03-24 12:16] zahhar opened #205 "Unable to connect to Jira Server"
I am unable to use this tool because of two isses.
One I could resolve myself, for another one community help is much appreciated.

My setup:

- migrator v2.3.44
- Jira Server v7.13.11 on custom domain, publicly accessible using username & password

My issues:

1. Seems migrator does not work at all if user's passord starts with double quote (e.g. **"password** ) - in this case migrator behaves li

[2020-03-25 15:58] madkoo commented on #200
@AmitNaveh23 closing issue. you can try with the new version when it is released. If you still have issues then feel free to contact us.

[2020-03-25 15:58] #200 closed

[2020-03-25 17:59] ibrahimonder commented on #196
I have the same issue unfortunately. This is holding us down to migrate. Is there anything I can do or help with, to speed this up?

[2020-03-25 22:25] apiotuchAoD commented on #184
I imagine covid-19 has impacted development and testing for this migrator project. Will there be any updated in the near future? I am still waiting for this fix as I am still working.

[2020-03-26 09:35] madkoo commented on #205
@zahhar  how does your whole command look like. Can you provide an example?

[2020-03-26 12:42] zahhar commented on #205
@madkoo it looks exactly as you described.
I verified that I can log in with exactly same username and password given in the command when I open exactly same URL. So credentials work from browser, but not from command line.

Also first 2 lines of command output before error happens hint that connection to Jira was succesfull. Might issue be with my config file?

Jira Exporter v2.3.44
Copyright (c)

[2020-03-26 12:46] madkoo commented on #205
@zahhar it might be. Can you share your config file?
Another question is that is your config file in the same folder as the jira-export.exe?

[2020-03-26 13:03] zahhar commented on #205
@madkoo my config indeed in the same folder.
Actually, exported has pretty good error handling, so I could analyze all possible issues myself. When it can't find config file, it says:

[E][13:52:45] Required JSON configuration file 'asdfasdf.json' was not found. Please ensure that this file is in the correct location.

Also, when config file is corrupted, it tell clearly:
[E][13:53:35] Cannot dese

[2020-03-27 06:05] madkoo commented on #205
@zahhar  it will export to JSON. I tried out with your config and worked for me on a Jira Server.
As I understand the error that you get is the one you posted on your first comment?
Based on that it looks like an authentication issue.

[2020-03-27 08:21] zahhar commented on #205
@madkoo if this would be authentication issue, I assume error would be thrown after saying "Connecting to Jira...", but it comes after saying "Retrieving Jira fields...".

Good point with JSON, thank you. I logged into the server as a user and attempted to export filter query results to JSON. Gotcha: I was not able to! My server said that I have no sufficient priviledges. Funny enough that I can e

[2020-03-27 18:34] sanjeev40084 commented on #196
@madkoo @chelms0101 @ibrahimonder this still seems to be issue with new release  V2.3.79(which is Jira Api issue) but as long as users.txt has mapping for guid value, when the work items gets imported to Azure DevOps (both on comments and assigned to) seems to work fine :)

Nice work @madkoo

[2020-03-27 18:36] sanjeev40084 commented on #194
@madkoo @LiljebergXYZ  get the new release V2.3.79 and as long as users.txt has mapping for guid value, when the work items gets imported to Azure DevOps (both on comments and assigned to) seems to work fine :)

[2020-03-27 19:42] madkoo commented on #184
@apiotuch  the fix for this is now released, you can use the "MapRendered"  mapper. I'm closing the issue, if you still experience problems then feel free to contact us.

[2020-03-27 19:42] #184 closed

[2020-03-27 19:44] madkoo commented on #182
@strn9r  closing this issue due to inactivity and unable to reproduce the issue. If you still have problems then feel free to contact us directly.

[2020-03-27 19:44] #182 closed

[2020-03-29 11:30] Nastya85944 opened #207 "Unable to connect to the remote server"
Hi,
I want to migrate items from Jira version 6.4.11 to Azure Devops.
I ran export command: jira-export -u Username -p Password--url https://yourinstance.atlassian.com --config config.json --force.

I got the next error:
_[I][13:05:23] Connecting to Jira...
[I][13:05:23] Retrieving Jira fields...
[E][13:05:25] Unexpected migration error.
[System.AggregateException] System.AggregateException: One o

[2020-03-30 06:41] madkoo commented on #178
@ShadowXVII , @Shyamal0212 , we have released a new version. Can you try with that to see if your authentication issue is corrected?

[2020-03-30 06:45] madkoo commented on #205
@zahhar do jira-export does not have any flag to get XML output instead. It could be a possible enhancement we will take it into consideration.

[2020-03-30 08:07] zahhar commented on #205
@madkoo Understood, thank you.

As I said, my user does not have access to JSON export, but Jira server admin in our organization can export it for me. Given that, will I be able to skip jira-export and just use that JSON file on the next step to feed it for import to Azure DevOps?

[2020-03-30 08:11] madkoo commented on #205
@zahhar if I understood you correct is that your server admin will run the export tool? then Yes you can use that result as input for the import tool.

[2020-03-30 08:13] madkoo commented on #207
@Nastya85944 at first glance this seems to be a duplicate of #205.
Have you verified you have the right access?

[2020-03-30 08:31] zahhar commented on #205
@madkoo Not exactly. My server admin will NOT run export tool. He agreed to do manual export of my JQL to JSON from Jira server using Jira built-in exporter. Then he will send that JSON to me by email, and I am supposed to deal with it further. I want to feed it "as-is" into import tool. Will it work?

[2020-03-30 08:59] madkoo commented on #205
@zahhar No, unfortunately, it will not work. You can add an enhancement request/suggestion and we will consider it. As this is an open-source project and we do development here on the best effort basis. But for urgent matters, help in migration or customization can we offer paid services, you can contact us directly for that.

[2020-03-30 09:27] zahhar commented on #205
@madkoo Thank you, understood. This time I do not have budget for extrenal services, also with current situation it would be super slow (and expensive) to get into all agreements just because of this small task. So I have to find another way how to do export/import in my case.

Last question: in the very biginning I could not run the jira-export tool with my password starting with double quote cha

[2020-03-30 09:43] Nastya85944 commented on #207
The access is right.
Does the plugin suport a migration for Jira version 6.4?

[2020-03-30 12:12] madkoo commented on #205
@zahhar indeed such passwords are not supported. We will keep this in mind for future development. Thank you for your input :)

[2020-03-31 01:20] ShadowXVII commented on #178
Oh, it seems OK now -- I created a new token.

We moved domain recently as well, seems the API doesn't redirect the subdomain (unlike the frontend). So I think it's working now. Will continue testing.

[2020-03-31 06:15] madkoo commented on #205
Will close this issue for now. If you have any other problems feel free to contact us.

[2020-03-31 06:15] #205 closed

[2020-03-31 06:25] madkoo commented on #196
@sanjeev40084 that is good to hear it worked. We will take a look at how we can improve user mapping. Will close this issue, for now, feel free to contact us if you have problems.

[2020-03-31 06:25] #196 closed

[2020-03-31 06:28] madkoo commented on #194
@sanjeev40084 . @LiljebergXYZ  that is good to hear it worked. We will take a look at how we can improve user mapping. Will close this issue, for now, feel free to contact us if you have problems.

[2020-03-31 06:28] #194 closed

[2020-03-31 06:32] madkoo commented on #178
@ShadowXVII that is good to hear. I will close this issue. If you still have issues feel free to contact us.

[2020-03-31 06:32] #178 closed

[2020-03-31 07:49] Nastya85944 commented on #207
Hello,
Now I have an Authentication issue:
[I][18:36:03] Connecting to Jira...
[I][18:36:03] Retrieving Jira fields...
[E][18:36:13] Unexpected migration error.
[System.AggregateException] System.AggregateException: One or more errors occurred. ---> System.Security.Authentication.AuthenticationException: Response Content: <html>
<head>
    <title>Forbidden (403)</title>

Can somebody help me out o

[2020-03-31 22:55] ibrahimonder commented on #196
What do you mean with guid mapping. So instead of using emails to map, you’re using guids of the user accounts in the users.txt file?

[2020-03-31 23:24] sanjeev40084 commented on #196
@ibrahimonder yes we keep updating same users.txt file anytime when we find new guid or username during migration

[2020-04-01 12:26] zahhar opened #208 "Allow import from Jira XML"
FeatureRequest #Enhancement

Seems that some Jira Server configurations support only XML export of given JQL. JSON export for some reason appears to be either not configured, not supported by particular Jira version, or not available for the user running jira-export.

Currently jira-export tool expects JSON from Jira to be available. Extending it support to XML will make tool more flexible and com

[2020-04-01 14:10] zahhar opened #209 "Support import from local files (json|xml) containing JQL export result set"
#FeatureRequest #Enhancement

Seems that there are cases when jira-export tool cannot connect to Jira instance at all. For this situation it would be beneficial if user could manually download JQL result as JSON or XML file, put it into local folder and then run transformation and import to Azure DevOps pointing tool to the local file instead of Jira instance URL.

#205

[2020-04-09 09:33] zarkolazarov opened #210 "User mapping works with intermittent issues"
Using the latest version Solidify Migrator Tool 2.3.79, Jira Atlassian Cloud, Azure DevOps.

To map the users we had to reconfigure the users mapping file.
In previous version of the tool we could use:
Some.JiraUser@domain.com=Some.AzureDevOpsUser@domain.com

Latest version we have to use:
JiraAccountID=Some.AzureDevOpsUser@domain.com

This way,
- some of the tickets migrate as unassigned
- In the

[2020-04-09 10:28] boldtlm opened #211 "Jira Export Breaks on missing Epic"
We have a large Jira project to migrate to Azure DevOps. When it gets to a specific issue it breaks. It shows the error message and shows 181 issues migrated but only 34 really downloaded. Turns out about 2 years ago someone linked an issue from another project to issues in this migration project and now that project is no longer in Jira. Is it possible to make it skip these issues like it does wh

[2020-04-09 13:19] madkoo commented on #210
@zarkolazarov the reason why  "Some.JiraUser@domain.com=Some.AzureDevOpsUser@domain.com" user mapping does not work is related to Jira Cloud API changes. Due to GDPR, they have changed what data can be requested.
To get a user email address then the user needs to allow that from their profile.

As I understand you have changed the user mapping to "JiraAccountID=Some.AzureDevOpsUser@domain.com" and

[2020-04-09 13:32] madkoo commented on #211
@boldtlm  thanks for reporting the issue. We will look into this

[2020-04-09 19:10] marioberberyan commented on #210
@madkoo  Thanks for the answer. Me and my colleague Zarko has made the changes but still get an error when trying to get JIRA users using the "Jira.Users.GetUserAsync(usernameOrAccountId)" method on row 332 in JIRAProvider.cs in "jira-export" project (see the screenshot [in the link](https://prnt.sc/rwbl0p)):

"_The 'accountId' query parameter needs to be provided"_

Strange enough I get the same

[2020-04-10 10:12] zarkolazarov commented on #210
One more thing I would here:

What is difficult to troubleshoot is that some tickets have successful user mapping for user X and others have the the user's Jira AccountId shown instead of Display Name for the same user X.

If we check the jira exported json file for the ticket that has AccountId instead of Display name, the field ReferenceName": "System.AssignedTo" was completely missing.
But when

[2020-04-14 06:19] madkoo commented on #211
@boldtlm  good to hear you were able to find a workaround.

[2020-04-14 06:54] madkoo commented on #210
@marioberberyan  thank you for your input, that is a good find. This indeed might be an SDK issue and we will look into this.

[2020-04-14 06:58] marioberberyan commented on #210
@madkoo  that`s for the feedback. Let us know on your developments on this issue as it`s putting on hold our migration process for a huge number of projects.

Thanks,
Mario

[2020-04-14 11:28] gekap opened #213 "Import Priority Issue"
Hello,

When I try to import in azure devops I get the following error...

[E][12:13:27] Failed to update fields.
[Microsoft.TeamFoundation.WorkItemTracking.Client.FieldDefinitionNotExistException] Microsoft.TeamFoundation.WorkItemTracking.Client.FieldDefinitionNotExistException: TF26027: A field definition Microsoft.VSTS.Common.Priority in the work item type definition file does not exist. Add a

[2020-04-14 23:03] apiotuchAoD commented on #210
@madkoo I am also not getting user emails with 2.3.79. And I was getting them with 2.3.41 before but it looks like this is no longer the case.

[2020-04-15 20:16] jochenvw opened #214 ""Your usage on this account has exceeded our rate limiting thresholds" - in Azure DevOps"
I'm migrating a JIRA project to Azure DevOps and I'm seeing the error message described here: [https://docs.microsoft.com/en-us/azure/devops/integrate/concepts/rate-limits?view=azure-devops#user-experience](https://docs.microsoft.com/en-us/azure/devops/integrate/concepts/rate-limits?view=azure-devops#user-experience)

The JIRA project has approx 120 user-stories and one has 4700 revisions who is t

[2020-04-16 11:26] madkoo commented on #207
@Nastya85944 Yes, version 6.4 is supported.
This seems like an authentication failure that you have. Verify your access to Jira server.

[2020-04-16 11:29] madkoo commented on #213
@gekap based on the error I am assuming that for one of the work item types you do not have a field with the mapping, priority.  I would suggest double check your fields in your work item type configuration

[2020-04-17 07:45] ElementalDev opened #215 "More items migrated than expected"
Hi there,

I used a JQL Query that should have migrated 32 User Stories with relationships to Epics, tasks, attachments etc.

We expected the relationships not to be maintained between the Epics and tasks as they wouldn't be in DevOps.

When it got to DevOps, it imported 36 items when it should have imported 32 and when I checked out what was different, it seemed to import 3 tasks and an Epic that

[2020-04-20 06:28] madkoo commented on #163
@TMHLS-Ultron I know that some time has passed when this issue was created, but could you provide additional information about your problem. I tried to reproduce the issue and create a child item before the parent and added a test link  "relates to" between then. I had no problems getting the links between items after importing.

[2020-04-20 19:44] gekap commented on #213
Hello,

I have double check the fields and in this error the Priority is Minor

[2020-04-20 20:26] gekap commented on #213
Hello again,

Something is wrong with your export.

On the same jira project I used the jira-export.exe from 2.2.59 version and completed without any errors.

I import the jira project to Azure DevOPS using the 2.3.79 version and completed without any issues.

Nothing has change on azure devops

[2020-04-21 05:38] shyamprasadbandi commented on #172
This implementation would help me as well, we have similar migration plans.

[2020-04-21 08:01] EdPerminas commented on #210
Any update on this fix going into a release?

[2020-04-21 09:04] TMHLS-Ultron commented on #163
I have some logs and images that I can share and hopefully illustrate the issue.
Some of the information below has been redacted (URL's, names, accounts etc.).

[code]

---
41839 / DEV-3066 (comment but no link)
![jira-migrated-issue_1](https://user-images.githubusercontent.com/59015871/79845988-25d59280-83be-11ea-8e19-6f9fa342b923.png)

---
41841 / DEV-3062 (no link, comment for link to other WI)

[2020-04-21 09:22] madkoo commented on #163
@TMHLS-Ultron  thanks for the info. I did not specify enough. What would like to see is how does your configuration look like and how is your mapping done on Jira side between those items(issues).

[2020-04-21 10:29] TMHLS-Ultron commented on #163
Ah, sorry. Of course you want to see the config as well.
Please see my updated reply above.