[2020-04-22 06:06] madkoo commented on #207
@Nastya85944 Closing issue due to no response. If you still have problems feel free to reopen or create a new issue.

[2020-04-22 06:06] #207 closed

[2020-04-23 09:35] madkoo commented on #163
@TMHLS-Ultron  can you specify what are the types for the parent and child item?
I understand after exporting the parent does not have a link to the child item in the JSON but the child does. Also, the child item is created before the parent and then linked in Jira, what is the link type added between them?

[2020-04-23 09:38] madkoo commented on #215
@ElementalDev sorry for the late response, how many JSON files were exported? Can you provide the configuration you are using?

[2020-04-23 09:43] madkoo commented on #214
@jochenvw  Do I understand correctly that one story has around 4700 revisions or that is the total count of revisions?

[2020-04-23 09:46] madkoo commented on #213
@gekap sorry but I don't follow the last comment, do you still have a problem?
I would suggest using the same version for exporting and importing

[2020-04-23 12:05] madkoo commented on #211
@boldtlm  actually there was a way to skip items: by not using --force in the export command and creating files with specific key names you wanted to skip. Closing this issue.

[2020-04-23 12:05] #211 closed

[2020-04-23 12:17] gekap commented on #213
Hello madkoo,

In the previous versions I did not have this issue.  I am using the latest version but on many Jira items I have this issue.

Is any configuration issue? How can I solve it as it seems that items does not import successfully

[2020-04-23 12:19] gekap opened #217 "Fix & Affected versions migration"
Hello,

How can I migrate the Affected Version and Fix Versions from Jira to AzureDEVOps ?

[2020-04-23 12:27] madkoo commented on #213
@gekap Did you try to export and import with the latest version?
I do not have problems exporting and importing the priority field. Also looking at the error message you posted earlier it states in it as well that "TF26027: A field definition Microsoft.VSTS.Common.Priority in the work item type definition file does not exist. Add a definition for this field or remove the reference to the field and

[2020-04-23 15:18] madkoo commented on #213
@gekap  just to confirm then you are 100% sure that the WorkItem type "New Feature" has a filed called Priority (with reference name: Microsoft.VSTS.Common.Priority)?

[2020-04-23 15:44] gekap commented on #213
![image](https://user-images.githubusercontent.com/43109822/80119459-6a198c00-8592-11ea-8874-c38b2feffecc.png)
Hello,

As you can see it has Priority field with value

[2020-04-23 16:20] madkoo commented on #213
@gekap sorry I did not specify my question enough. What I meant was that you are importing eg this "New Feature" item to Azure DevOps and as the initial error said, that you posted,  that the field "Microsoft.VSTS.Common.Priority" (which is a field reference name and not the actual field name that is displayed) does not exist in your "New Feature" Work Item type in  Azure DevOps project. My questi

[2020-04-23 16:38] gekap commented on #213
@madkoo I created all the WorkItems the same way.

Now there are some WorkItems "New feature" that did not have this issue or WorkItem "Improvement" same as "New Feature" and there is no error on import.

[2020-04-23 16:47] gekap commented on #213
@madkoo  I saw what you mean... Indeed that field does not appear in the workItem I added as custom field and I will give a try.

Thank you

[2020-04-24 10:24] gekap commented on #217
@madkoo I have to add them in the field-map?

[2020-04-24 10:46] madkoo commented on #213
@gekap  welcome. Closing this issue for now, if you experience problems feel free to contact us.

[2020-04-24 10:46] #213 closed

[2020-04-24 10:56] madkoo commented on #217
@gekap yes, you have to add to the field-map.

[2020-04-24 11:43] gekap commented on #217
@madkoo Can you please provide an example how the configuration file will be for those fields?

[2020-04-24 12:29] madkoo commented on #217
@gekap  it will depend on your setup but one simple example:
      {
        "source": "Fix versions",
        "source-type": "name",
        "target": "Custom.FixVersions",
      }

[2020-04-24 12:34] gekap commented on #217
@madkoo Thank you I will try it

[2020-04-24 12:52] madkoo commented on #210
@EdPerminas  @apiotuchAoD  @ibrahimonder @marioberberyan @zarkolazarov
We have released a new version that has fixed this problem. Also, we updated documentation regarding user mapping. In addition to that, we added a new config property to explicitly say if Jira Cloud or Jira Server is used.

[2020-04-24 13:34] madkoo commented on #217
@gekap  Closing this. Feel free to contact us if you have any problems.

[2020-04-24 13:34] #217 closed

[2020-04-24 20:21] clausb opened #218 "Bidirectional link ("Discovered while testing" / "Testing discovered") in JIRA turns into unidirectional link in AZD"
For bidirectional link relationships in the Bonfire testing scenario ("discovered while testing" / "testing discovered"), we found that the is added to only one of the two work items on the Azure DevOps side. It seems that the information required to set up the bidirectional link s in fact already lost while exporting from JIRA, i.e. in jira-export. Only one of the JIRA json files produced by the

[2020-04-25 16:02] prasathe-git opened #219 "More items are getting exported than expected"
Hello,

I have a JQL query which is selecting specific items from Jira using issueKey attribute. I am expecting 193 items to be exported but getting 198 items as output.
What could be the reason?
Following is the JQL query

project = MVP AND issueKey IN ('MVP-266','MVP-315','MVP-347','MVP-381','MVP-438','MVP-441','MVP-448','MVP-450','MVP-454','MVP-456','MVP-463','MVP-471','MVP-498','MVP-528','MVP-

[2020-04-25 17:20] MOlausson commented on #219
Hi @prasathe-git,

I would guess it's because the tool downloads some additional items which the listed items have relationships to, you can check the log for traces of this. If so it can be controlled in the configuration file using the download-options setting (https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/config.md#download-options).

Mathias

[2020-04-25 17:21] MOlausson commented on #215
@ElementalDev see my comment in issue #219.

[2020-04-26 08:00] prasathe-git commented on #219
It works for one issue type, now I will try out for others, Thank you for your suggestion.

Pradyumna Sathe

[2020-04-26 08:01] #219 closed

[2020-04-26 11:12] MOlausson commented on #219
@prasathe-git jhappy to hear you're making progress!

[2020-04-27 03:51] prasathe-git opened #220 "Getting a warning with respect to user id"
Hello All,

I am getting below warning, not sure what this is about

Email is not public for user '5db16dc89703bc0c2d27e0e9' in Jira, using usernameOrAccountId '5db16dc89703bc0c2d27e0e9' for mapping.

I have the user1.txt available with all the user names exported from jira in following format

5db174105304a60c3a767aff=username@domainname

Can you please suggest what is this?

Thanks

Pradyumna Sa

[2020-04-27 07:22] madkoo commented on #220
@prasathe-git Jira Cloud has changed its API on what user data can be retrieved because of GDPR.
From Jira Cloud to get user email the accountId is now used to get the user's email address. The requirement for that to get that is that user should change their email public in their profile to use email to email mapping. Otherwise, accountId to email mapping should be used if user mapping is needed.

[2020-04-27 13:27] gekap opened #221 "Epic sub tasks"
Hello,

I have an epic which has sub tasks in Jira.

The epic is ITEM-42 and one of the child is ITEM-38 and all the other sub tasks are after ITEM-42. When I import ITEM-38 I get warning that ITEM-42 does not exists.

When I check ITEM-42 if all sub tasks are there 38 is missing and all the other are there

How can I fix it not to miss a sub task in Azure DevOps?

[2020-04-28 05:21] #220 closed

[2020-04-28 05:25] prasathe-git opened #222 "Azure import is getting interrupted due to network glitch"
Hello,

Azure import is getting interrupted due to network glitch, can I start the import from where it got interrupted?

Thanks in advance

Pradyumna Sathe

[2020-04-28 11:21] EdPerminas commented on #210
@madkoo can you please elaborate on how exactly users should be mapped for Jira Cloud?

Still getting a warning on Export: Specified user '00001:...-.....-....-.....-......' does not exist or you do not have required permissions, using accountId '00001:...-.....-....-.....-......'

And after that, when importing, assigned to imports as blank.

I've managed to get in usernames in exported files usi

[2020-04-28 11:44] EdPerminas commented on #210
To add: it maps correct name to 'Created By' and 'Changed By'.

[2020-04-28 11:48] madkoo commented on #210
@EdPerminas please take a look at the documentation, as it says there is that if you want to map with user email then to get the user email from Jira Cloud the specific user's email needs to be set to public in their profile, otherwise the tool falls back to using account id for mapping user.

[2020-04-28 12:14] EdPerminas commented on #210
@madkoo are you referring to email visibility settings in System - General Configuration? Or is there another setting for this. As an admin I can't see something as 'set to public' in members profiles.

[2020-04-28 12:27] madkoo commented on #210
@EdPerminas  It depends on how your users are managed, but at the moment I was referring to each user's profile where the mentioned setting is.
Please take a look at the changes in Jira Cloud, in addition, you can find how user privacy can be managed :
https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/

[2020-04-28 13:25] EdPerminas commented on #210
@madkoo Right, I found the switches in my personal Jira account and switched everything to public. Same on organisational level. Got email in the exported file next to with no warnings on export. And then no warnings on import as well. Sadly, still AssignedTo set as blank.

Strange thing that exported file doesn't contain AssignedTo in the Field section. I took the mapping string for config file f

[2020-04-28 17:31] sanjeev40084 opened #223 "Improvement in migration logs"
The tool does great job by providing logs during the migration but i am pretty sure whoever ran into mapping issue or email not being public can relate to these issues:

1) Hard to find all the missing mapping error in log when there are large items getting migrated or have multiple same missing mapping error message
2) Same error message regarding email not being public for users

So in addition

[2020-04-29 03:43] prasathe-git opened #224 "Number of work items more in Azure than Jira"
Hello,

I did bulk migration from Jira to Azure projects but what I found was the number of work items in Azure were more than in Jira,
When I checked with respect to different work items there is a huge difference with respect to number of Tasks in Azure against Task+Sub-task in Jira.
Below is the Json I have used

{
	"source-project": "<jira_project>",
	"target-project": "azure_project",
	"query

[2020-04-29 04:49] madkoo commented on #224
@prasathe-git  see @MOlausson  comment in issue #219.

[2020-04-29 05:47] madkoo commented on #210
@EdPerminas  sounds strange because we haven't seen that case. Can you share your config and export log?

[2020-04-29 13:13] prasathe-git commented on #210
I am also facing similar issue for AssignedTo, for around 12 items AssignedTo is set to blank. I have checked user file and I can find the entry of the user in the file.
Also the same user id has got properly assigned in other issues.

I am using version 2.3.85 for migration

[2020-04-29 13:46] EdPerminas commented on #210
@madkoo before I share my config and export log files I found some interesting cases for Jira Cloud you may find useful:

- If I use Solidify with no users.txt, it copies in AssignedTo into Fields section in jsons (as AccountIDs)

- Same configuration, just adding the users.txt file in workfolder and it doesn't set AssignedTo at all as references in exported files

- There are cases when colleague

[2020-04-30 10:49] madkoo commented on #210
@EdPerminas , Interesting cases but we have not been able to reproduce these issues. That is the reason I have asked for the config and logs and how does your users.txt look like.
As for the cases then if there is a history of setting an assignee, then in the export file, the value would be the account Id, if the email is not public and if there is no users.txt mapping set or if no match is found

[2020-04-30 11:12] mahidharguggilam opened #225 "Inline images in description with spaces between words of filename are not mapping."
If there is any inline image of description with file name like "screen shot.jpg" are not mapping. So I fixed it like this in Agent.cs class. As the images is getting saved as "screen+shot.jpg" when Jira son is exported

 private void CorrectImagePath(WorkItem wi, WiItem wiItem, WiRevision rev, ref string textField, ref bool isUpdated)
        {
            foreach (var att in wiItem.Revisions.Sel

[2020-04-30 11:25] mahidharguggilam opened #226 "Inline text attachments or pdf file attachments inside description are not working"
When you add a file apart from image inside description as inline file. They are not mapping as expected.

And images added in comment are also not mapping with or without space between words

AB#5927

[2020-04-30 13:39] gekap opened #227 "Detected unicode characters, removed."
Hello,

When I start the import I get the below warnings.

[W][16:28:50] Detected unicode characters, removed.
[W][16:28:50] Failed to load 'DISSIM-1649.json' (perhaps not a migration file?).
[W][16:28:50] Detected unicode characters, removed.
[W][16:28:50] Failed to load 'DISSIM-1651.json' (perhaps not a migration file?).

As result the 2 json files does not import into azure devops.

How can I i

[2020-04-30 13:40] gekap commented on #221
Hello,

Any idea how to fix the issue?

It's a blocker for the migration.

Thank you

[2020-04-30 14:24] mahidharguggilam commented on #226
I fixed as given below:

private void CorrectImagePath(WorkItem wi, WiItem wiItem, WiRevision rev, ref string textField, ref bool isUpdated)
        {
            foreach (var att in wiItem.Revisions.SelectMany(r => r.Attachments.Where(a => a.Change == ReferenceChangeType.Added)))
            {
                var fileName = att.FilePath.Split('\\')?.Last() ?? string.Empty;

                //var

[2020-04-30 14:27] rsikr opened #228 "How to migrate themes from JIRA to Azure DevOps"
In JIRA we have themes and we have Issues in epic linked with themes. How can we migrate these?
Also please share sample config for CMMI process where artefacts link change request, process, milestones, question etc are mapped to Azure DevOps.

[2020-05-01 16:47] jds80021 opened #229 "Can't Import Jira work items to AzureDevOps using collections"
Trying to run the wmi-import tool against a AzureDevOps instance that uses a collection does not work. For example using an azure devops instance with projects at url "https://my-azure-devops/my-collection/my-project"
 the command "wmi-import --token {my-token} --url https://my-azure-devops --config config-agile.json --force"
 will fail with the error " API resource location {some-guid} is not reg

[2020-05-01 17:04] jds80021 commented on #229
I have a fix for this if the project admin wants to create a branch for me to work with

[2020-05-04 07:15] madkoo commented on #229
@jds80021 the import command should look like this:
"wi-import.exe --token {token} --url https://your.azure.url/your-collection --config config.json --force"
The project is defined inside the config. If you get authentication exception then verify your access.

[2020-05-04 09:53] madkoo commented on #227
@gekap can you share one file for testing purposes?

[2020-05-04 11:14] madkoo commented on #218
@clausb thank you for the input.  One thing you did not provide was how does your link mapping configuration look like?

[2020-05-04 11:47] clausb commented on #218
Thanks for your reply and for looking into this! During my experiments, the link map looked like this:

[code]

[2020-05-04 13:45] EdPerminas commented on #210
@madkoo sorry for replying just now. Here is my config files. I changed AccountIds and hidden the project names due to privacy sake. Just to make sure, all profiles are made public now and unfortunately I keep getting the same issue with blank assigned to.

[2020-05-04 16:15] gekap commented on #227
[DISSIM-1649.zip](https://github.com/solidify/jira-azuredevops-migrator/files/4575789/DISSIM-1649.zip)

[2020-05-06 14:29] arjanh888 opened #231 "Could you add a '--continue True' option to the Extract? Alike wi-import already got?"
Hi,
Could you please add a '--continue True' option to the Extract? Alike the wi-import already got?
Or is this somehow already possible?

I got 5000+ cards to migrate, and it stops now regulary (unexpected migration error. Issue does not exist or no privilege), and then I got to manually restart it. I would like it to finish without manual intervention, even if some cards are lost.
By the way: gr

[2020-05-07 06:53] arjanh888 commented on #231
Kind of workaround, using the CLI only:
1) remove the PAUSE from Extract.cmd
2) know how many stories you got to migrate
3) use powershell to restart the Extract, until that file count is reached:
File go.ps1:
echo starting

cd C:\progs\JIRAuitMigratie\TeamBlue\WorkItems
while ((Get-ChildItem -File | Measure-Object).Count -lt 5000)
{
	cd C:\progs\JIRAuitMigratie\TeamBlue
	sleep 10
	echo "restartin

[2020-05-07 09:34] MOlausson commented on #214
@jochenvw you can contact Azure support and ask them to temporarily remove this constraint during a migration. The import will complete regardless but if will go slower if you hit the rate limit threashold.

[2020-05-07 09:34] #214 closed

[2020-05-11 08:08] trivedirince3 opened #232 "Custom Field Regression is not migrating"
I have custom field Regression on JIRA side but it is not exporting in the logs and also not migrating to Azure Devops side.
On Devops side : Regression field type is boolean. below is the json code :

      {
        "source": "Regression",
		"source-type": "Radio Buttons",
        "target": "Custom.Regression",
		"for": "Bug",
        "mapping": {
          "values": [
            {

[2020-05-11 11:27] trivedirince3 opened #233 "Link JIRA commits to Azure repository"
I am performing migration from JIRA to Azure DevOps using solidify tool. I already cloned and imported bitbucket repository to azure repository. Now, I am migrating all the issues from JIRA to Azure DevOps, how can I link all commits which are available wit JIRA issues to Azure work item after migration.

[2020-05-12 06:58] madkoo commented on #232
@trivedirince3 "source type" value should be "name" and the Source will hold the name of the field.

[2020-05-12 08:25] madkoo commented on #229
@jds80021 closing this issue due to inactivity. Feel free to reopen the issue or contact us if you still have problems.

[2020-05-12 08:25] #229 closed

[2020-05-12 08:26] madkoo commented on #224
@prasathe-git closing this issue due to inactivity. Feel free to reopen this issue if problems persist.

[2020-05-12 08:26] #224 closed

[2020-05-12 09:57] trivedirince3 commented on #232
@madkoo I created a field Regression with field type Radio buttons, is it not necessary to place this field in source-type

[2020-05-12 10:44] optym-support opened #234 "unable to export field from JIRA to devops"
Custom Fields like Regression and system field Resolved are not exported when we try to migrate using Solidify. It doesn't throw any error also.
Tool used:  jira-azuredevops-migrator-2.3.85

Fields not getting migrated:
1.  source field: resolutiondate (system field)
destination field in Azure DevOps: finish date

2. Source field: Regression (custom field, type: radiobuttons)
 destination field in

[2020-05-12 10:54] trivedirince3 commented on #232
@madkoo We tried to with source-type: name but still not able to export

[2020-05-13 11:49] rsikr opened #235 "Link map for Successor and Predecessor"
How can we specify link for below link types:

JIRA - 'has to be done after'
AND
DevOps - 'Successor'

JIRA - 'has to be done before'
AND
DevOps - 'Predecessor'

[2020-05-13 14:19] gekap commented on #227
Hello,

Is any update ?

[2020-05-13 15:04] jerone opened #236 "Link back to Jira issue in comments"
I would like to add an extra comment in DevOps with an custom text, including a link to the original Jira issue. Is this possible?

[2020-05-13 21:15] rsikr opened #237 "How to export the test cases from JIRA"
We are using Zephyr for JIRA plugin in JIRA for managing Test cases. How can we export the data and import it into Azure DevOps?

[sample.txt](https://github.com/solidify/jira-azuredevops-migrator/files/4624730/sample.txt)

[2020-05-13 21:51] rsikr commented on #172
Hi @MOlausson, Do we have any update on this please?

[2020-05-14 11:15] radiatelabs opened #238 "remainingEstimate not able to Map"
I am trying to get the time-tracking details of a JIRA ticket but I am not able to map the "Remaining Time" & "Time Spent/Logged" I tried multiple sources but its not working "remainingEstimate" "timeSpent" etc. The only thing that is working is the Original Estimate by using source as "timeestimate". I am attaching my config below:

<pre><code>
{
  "source-project": "Development",
  "target-proje

[2020-05-14 11:59] jerone commented on #236
Or via the Hyperlink Type: https://docs.microsoft.com/en-us/azure/devops/boards/queries/link-type-reference?view=azure-devops#hyperlink-type

[2020-05-14 15:16] isaacfilarski commented on #163
I've been trying to map this but somehow it's not being recognize. Is there an specific way to use the Inward and Outward for mapping? the problem is with for example "is depended on by" or "depends on".

 "link-map": {
    "link": [
      {
        "source": "Epic",
        "target": "System.LinkTypes.Hierarchy-Reverse"
      },
      {
        "source": "Parent",
        "target": "System.LinkTy

[2020-05-15 14:16] madkoo commented on #227
@gekap looked a bit into this and one special character is double escaped and when tool handles those the JSON gets invalid. So for a workaround open the example file you send and search for "\\u2026" remove one "\" in the beginning. Save and rerun the import and this specific item will be imported fine.

[2020-05-15 17:09] dunlapad commented on #163
I am experiencing the same issue. My project uses the Epic Link field to connect an Epic and a User Story in Jira, and this link transfers correctly. We also use a Parent Link custom field to connect other story types. I am setting the epic-link-field config option based on whether the issue I am exporting use the Epic Link or Parent Link field.

This link is shown in the exported file:
![image](h

[2020-05-16 18:25] benventive opened #239 "Emails for accounts with non-public emails are being fetch every time"
Hello! First, I want to thank you for this tool. It's really well done and easy to use!
We've noticed that, when running an export against one of our Jira projects, the warning `Email is not public for user '[userId]' in Jira, using usernameOrAccountId '[userId]' for mapping.` keeps showing up.
Looking at the code of the [JiraProvider](https://github.com/solidify/jira-azuredevops-migrator/blob/mas

[2020-05-18 11:47] madkoo commented on #239
@benventive thank you for the suggestion, we will look into this.

[2020-05-19 07:00] madkoo commented on #238
@radiatelabs in your config when trying to get a field by name add
[code]

[2020-05-19 08:03] madkoo commented on #234
@optym-support  can you provide how does your config look like?

[2020-05-19 08:05] madkoo commented on #231
@arjanh888  thanks for the input, we have added this feature to our tool now. It will be available in the next release.
Closing this issue, for now, feel free to contact us if you have problems.

[2020-05-19 08:05] #231 closed

[2020-05-20 05:06] radiatelabs commented on #238
@madkoo Thanks but it didn't work I tried all the field names I got via JIRA API
<pre><code>
 "timetracking": {
            "originalEstimate": "2w 4d 2h",
            "remainingEstimate": "4h",
            "timeSpent": "1h",
            "originalEstimateSeconds": 360000,
            "remainingEstimateSeconds": 14400,
            "timeSpentSeconds": 3600
</pre></code>

But nothing worked also when

[2020-05-20 09:15] gekap opened #242 "Duplicate import"
Hello,

A customer informed me that a Jira ticket imported twice in azure devops

1st is
![image](https://user-images.githubusercontent.com/43109822/82428525-4d8a4a00-9a93-11ea-98d7-41ec1061159b.png)

2nd is
![image](https://user-images.githubusercontent.com/43109822/82428594-61ce4700-9a93-11ea-9a20-7f7be89fb7a7.png)

Can you please advice how can I fix it?

I did the import twice and both times I

[2020-05-20 14:03] madkoo commented on #242
@gekap  the --force option will create duplicates as it will create all the items in the directory regardless if they exist in ADO.

[2020-05-20 15:34] jerone commented on #226
I'm having a similar issue, but the proposed solution didn't work for me.

In Jira I have a comment with an inline attachment. In the history I see that the comment and the attachment are added at the same time.

In DevOps I have also a comment, but the link of the attachment doesn't work. The attachment is however correctly added to the list attachment. Just the link in the comment doesn't work.

[2020-05-20 17:39] MOlausson commented on #228
Hi @rsikr, you should be able to migrate themes like other issue types by providing the correct mapping. Did you manage to get it configured? Also the CMMI mapping is a nice idea, we'll add it to the backlog but also something someone can help contribute to this project.

[2020-05-20 17:40] MOlausson commented on #227
@gekap did you manage to get around this?

[2020-05-20 17:41] MOlausson commented on #203
@NitsGupta-TFS did you get it to work? Closing since we cannot repro this issue, feel free to comment and reopen with more context.

[2020-05-20 17:41] #203 closed

[2020-05-20 17:43] MOlausson commented on #195
@E-McKee adding this to the backlog to investigate how we can extend the current field mapping to also handle this.

[2020-05-21 13:00] MOlausson commented on #242
Adding to this, the fix is unfortunately to manually remove the duplicates. I've updated the [documentation](https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/wi-import.md) to make this more evident.

[2020-05-21 13:00] #242 closed

[2020-05-22 01:26] deeepakmhaskar opened #244 "Does JIRA migration supports accented characters and reserved characters like <, > in custom fields?"
I see the data the exported correctly however I am getting errors while importing the data. Have you come across issues like this. Here are few examples:

Inowrocław, Jęndrzejów
PPP -> Python Per(L) PHP

[2020-05-22 02:28] deeepakmhaskar opened #245 "Tool fail to pick the iteration name in case there are multiple iterations selected"
Tool fail to pick the iteration name in case there are multiple iterations selected. The tool picks random iteration name for workitem.

[2020-05-22 07:56] isaacfilarski commented on #163
**I found a solution.**

By adding -Forward or -Reverse to the "target" links I couldn't map before, for example to "is duplicated by" I added -Forward at the end of the target ("System.LinkTypes.Duplicate-Forward") or "is depended on by" I added -Reverse so the target would be "System.LinkTypes.Dependency-Reverse". Would be nice to update the docs as well.

**New Implementation:**

"link-map": {

[2020-05-22 15:28] gekap commented on #242
Is any way to search azure devops for duplicate items?

[2020-05-25 13:09] deeepakmhaskar commented on #235
You can map it using Link type Microsoft.VSTS.Common.Affects-Reverse

[2020-05-26 16:18] rsikr commented on #235
Hi Deepak,

Please share the exact mapping with source and target both.

[2020-05-26 16:23] deeepakmhaskar commented on #235
In my case it was named as 'Blocks" in JIRA. Here is the mapping
`{
        "source": "Blocks",
        "target": "Microsoft.VSTS.Common.Affects-Reverse"
      },`

[2020-05-28 09:49] madkoo commented on #234
@optym-support , Hope you were able to get this sorted out.  Closing issue due to inactivity. Feel free to open if you still have problems.

[2020-05-28 09:49] #234 closed

[2020-05-28 12:52] madkoo commented on #177
@sssparsh05 closing issue due unable to reproduce. Hope you have resolved the problem you had.
Feel free to contact us for help if needed

[2020-05-28 12:52] #177 closed

[2020-06-05 15:38] dlauryssen opened #251 "Custom fields not exporting"
Hi,

I'm trying to export some custom fields but not succeeding, I have read all manuals and other issues and can't find the solution and spent quite some time on it already. So I'm reaching out.

One example below

![image](https://user-images.githubusercontent.com/11612664/83894677-e71f5000-a751-11ea-8c9f-4f87fa7f9844.png)

have tried every possible variation of the config

	  {
        "source"

[2020-06-05 17:31] twileyAVS opened #252 "Conversion of TimeSpent seconds to hours in Jira to an Azure Devops Completed field"
Jira exports Time Spent as seconds, and I was wondering if there was a way already implemented in this tool to convert that time spent into anything else, rather than running a script against all of the exported json.

Example would be:
      {
        "source": "Time Spent",
        "target": "Microsoft.VSTS.Scheduling.CompletedWork",
        "for": "Bug,Task"
      },

This puts the time spent c

[2020-06-05 17:36] VictorioBerra opened #253 ""target work item for Jira is not yet created in Azure DevOps/TFS""
Why doesn't it just create that issue first then? Does'nt it have all the info it needs to know that theres some parent issues that should be created first?

[2020-06-08 21:21] madkoo commented on #251
@dlauryssen not sure how the combinations looked like what you tried but the example here :
[code]
won't work. if you are using source-type: name that means the source must be the field display name, not the "reference" name you have in Jira.

[2020-06-08 21:22] madkoo commented on #239
@benventive  closing this issue as this is a suggestion, not an actual issue. Also, we have addressed this in one of our PR-s

[2020-06-08 21:22] #239 closed

[2020-06-09 19:22] dlauryssen commented on #251
Hi thanks for the follow up.

Let's take the following example.
 {
        "source": "Account",
	"source-type": "name",
        "target": "Custom.Account"
  },
is not giving any export of this field in de JSON. The field is not even listed.

REST API says
"customfield_18916":{"self":"https://jira.sqli.com/jira/rest/tempo-accounts/1/account/1","id":"1","key":"B4UPHASE1","name":"B4U Phase 1"}

The f

[2020-06-09 19:25] dlauryssen commented on #251
Also tried
 {
       "source": "Account",
	"source-type": "name",
        "target": "Custom.Account",
	"mapper": "MapArray"
      },

but no luck

[2020-06-10 11:13] madkoo commented on #251
@dlauryssen what your missing is the Displayed name and the actual field name do not match.
REST API result that you showed:
[code]

Based on the rest API the "source" value in the mapping should be either "name" value **"B4U"** or the "Key" value **"B4UPHASE1"** but then in the mapping don't use "source-type"

[2020-06-10 11:53] jochenvw commented on #214
Sorry for not responding earlier. We did as you suggested and this worked! Thanks.

[2020-06-11 20:17] dlauryssen commented on #251
Hi thanks for your reply.

I'm afraid you lost me there as you are mentioning that I should use either "B4U" or ""B4UPHASE1" as source. But that puzzles me as this is the selected actual value of the field, not the column name, be it the technical name or the display name.
In any case, I tried it but no result.

Notice that there was an " too much in my abstract from the REST result.
Another examp

[2020-06-12 17:16] dlauryssen opened #254 "links not exported to JSON"
Hi guys,

Having issues with links totally not exporting to JSON.

Not even the related links, and especially the created aka defect links

REST API provides me the following link type names

![image](https://user-images.githubusercontent.com/11612664/84529222-5c0a0100-ace1-11ea-829a-17a21b6cb4d3.png)

It's a jira server 8.6

I'm using the following config

`{
  "source-project": "XXXXXX",
  "targ

[2020-06-12 17:19] dlauryssen commented on #254
The only result I'm getting is  "Links": [],  in both of the files (the one being pointed to and the one pointing)

[2020-06-12 17:25] dlauryssen opened #255 "Story Points with decimal seperator not migrating to devops correctly"
Hi guys,

Just wanted to let you know that Story Points field with values such as 4.25 are downloading correctly into JSON as 4.25 but uploading to devops as 425

And yes, I know, why oh why use decimal seperators in a story point field. I get that question. This wasn't my choice as I'm only migrating it :)

I will probably be manually correcting them in devops using Exel plugin.

KR,
David

[2020-06-13 13:02] dlauryssen commented on #254
Solved. The links were migrating after using the correct names i got from the REST API.  They  were exported in the JSON, but in the history. I was under the wrong assumption that the links should have appeared on the top section where it says

`      ],
      **"Links": [],**
      "Attachments": [],
      "AttachmentReferences": false
    },
    {
      "Author": "XXXX@XXXX.com",
      "Time": "

[2020-06-15 19:26] madkoo commented on #255
@dlauryssen thanks for the issue report, but not sure how you mean? Because I was not able to reproduce your scenario. When I added 4.25 story point in Jira and Imported that to Azure then it was the same "4.25".

[2020-06-15 19:28] madkoo commented on #254
@dlauryssen  good to hear you were able to solve this issue :)
I will close this issue.

[2020-06-15 19:28] #254 closed

[2020-06-15 19:36] madkoo commented on #252
@twileyAVS you could use "MapRemainingWork" in your config.
You can find more details here : [Documentation](https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/config.md)

[2020-06-15 19:58] madkoo commented on #245
@deeepakmhaskar the tool uses the baseIterationpath from the config and combines it to the value you have for the field.

[2020-06-15 20:06] madkoo commented on #244
@deeepakmhaskar I would suggest when wanting to use reserved chars then you would use mapper "MapRendered"  on your custom fields to get HTML encoded values.

[2020-06-15 20:31] madkoo commented on #236
@jerone  Thanks for the suggestion! We will look into this. At this time we don't support that unfortunately but you can either add a link in the comment which will be migrated or a custom field containing the jira link with custom text.

[2020-06-15 20:33] madkoo commented on #235
@rsikr indeed @deeepakmhaskar  comment is valid, good yo hear you were able to solve this :)
I will close this issue at this moment. Feel free to contact us if you further problems.

[2020-06-15 20:33] #235 closed

[2020-06-15 20:54] madkoo commented on #232
@trivedirince3  sorry for the late reply.  The idea of source-type is to use the Field name instead of field id.  Were you able to solve your issue ?

[2020-06-17 17:42] jerone commented on #236
We are going to migrate Jira this sprint, so I started to look into creating an extra comment with a ping back to the Jira isue, but I couldn't find the code to create the Jira url. I don't want to manually add a comment to 700 issues :smile:

[2020-06-19 18:53] benventive commented on #239
I understand. I've seen the PR in question. Thanks a lot!

[2020-06-25 07:58] dlauryssen commented on #251
@madkoo i did the migration with my workaround using labels, so not urgent anymore, but indeed would very much like to know what the issue was. I check out the REST call you mentioned and the fields I was referring to e.g. "Account" are not even mentioned there. Strange. What does that mean?

[2020-06-25 08:41] smanthena2 commented on #251
@dlauryssen  Can you please share the workaround you mentioned if you have no problem to share. I would like to try it for my project and check if that works for me

[2020-06-25 09:02] dlauryssen commented on #251
@smanthena2 it is what I mentioned above. In my situation I had trouble with the migration of 2 fields, both of them picklists with limited number of options/values. So basically I queried Jira for each value, added Labels in Jira reflecting the value, migrated it as such to devops to Tags, and then updating the field manually in devops based on querying those tags.  All manual edits using queries

[2020-06-25 09:13] madkoo commented on #251
@dlauryssen  that is weird indeed you did not get that field from the Rest call. It could've been due to permissions because that call returns only fields you have access to.

@smanthena2 can you be specific what type of field it is, what kind of values there are etc. So I could reproduce the same case.

[2020-06-25 09:15] madkoo commented on #252
@twileyAVS closing issue due to inactivity. If you still have problems feel free to reopen the issue.

[2020-06-25 09:16] madkoo commented on #244
@deeepakmhaskar  closing issue due to inactivity. If you still have problems feel free to reopen the issue.

[2020-06-25 09:16] #244 closed

[2020-06-25 09:20] dlauryssen commented on #251
@madkoo I'm not sure but I think these fields are part of an app/plugin from jira marketplace. Does that make a difference?

[2020-06-25 09:31] madkoo commented on #232
@trivedirince3  closing issue due to inactivity. If you still have problems feel free to reopen the issue.

[2020-06-25 09:31] #232 closed

[2020-06-25 09:32] madkoo commented on #227
@gekap  closing issue due to inactivity. If you still have problems feel free to reopen the issue.

[2020-06-25 09:32] #227 closed

[2020-06-25 09:34] #215 closed

[2020-06-25 09:37] madkoo commented on #225
@mahidharguggilam Thanks for the input, you could have submitted this as a PR :)

[2020-06-25 09:39] smanthena2 commented on #251
@madkoo  We have a custom field called "Company/Client Name" of type "Labels" in Jira and we are trying to map it to a text field in AZD. For few of the work items all the values are populated with a space as seperator. For few work items it exports ";" or ";;;" instead of the values and for few other values are empty.

[2020-06-25 09:51] madkoo commented on #251
@smanthena2 so  the field and its data  look kind of like this :
![image](https://user-images.githubusercontent.com/1208114/85697528-89dc4600-b6e2-11ea-8b3a-f5c7f334f2be.png)

[2020-06-25 10:26] smanthena2 commented on #251
@madkoo  Yes.  And the work items after import in the two scenarios i mentioned looks like [this:](url
![AZD imports](https://user-images.githubusercontent.com/48346389/85702744-560e1a00-b6fc-11ea-8df4-48445ea37e97.jpg)
)

[2020-06-25 10:28] madkoo commented on #251
@smanthena2 can you provide your mapping configuration for this field?

[2020-06-25 10:31] smanthena2 commented on #251
{
"source": "customfield_10300",
"target": "Custom.ExternalTicketReporter"
},

And rest api for this filed.
{"id":"customfield_10300","key":"customfield_10300","name":"Company/Client Name","untranslatedName":"Company/Client Name","custom":true,"orderable":true,"navigable":true,"searchable":true,"clauseNames":["cf[10300]","Company/Client Name"],"schema":{"type":"array","items":"string","custom":"co

[2020-06-25 10:33] smanthena2 commented on #251
@madkoo  we have the same fields as shown in above screenshot for both the work items. Strangely, it maps the values for one item, but gives ";;;;" for other

[2020-06-25 10:48] madkoo commented on #251
@smanthena2  I understand that the same field is shown for different work items. What I meant was that for that Work Item that has ";;;;" in the field, if you open the same issue in Jira how does the data look there compared to the other that migrated proper data?

All the issue data that is exported in the .json files will be saved to azure. You can check or share how that data looks in the expor

[2020-06-25 11:02] smanthena2 commented on #251
@madkoo  This is how it looks in exported json file.
{
          "ReferenceName": "Custom.ExternalTicketReporter",
          "Value": ";;;;;;;"
        },

And this is how it looks in jira
![jira](https://user-images.githubusercontent.com/48346389/85708153-83a99200-b701-11ea-93f4-00533830bd4c.JPG)

[2020-06-25 21:11] theonetruejediknight opened #256 "Export Command Returning HTML Rather than JSON"
Executing the following export command, I get the JIRA project home page in html as the return response rather than JSON. Can anyone explain why?

Executed:
jira-export -u user -p pwd --url https://XXXX/projects/<Project> --config config-agile.json --force

I have removed the actual URL but this is the general command.

Response
[I][15:16:41] Connecting to Jira...
[I][15:16:42] Retrieving Jira fie

[2020-06-27 17:29] gekap opened #257 "Jira issue projects"
Hello,

I have a question.

If I have a Jira Project proj1 and on the same project there issues from proj2. When I do the export Project1 I have proj1-1111.json and proj2-2222.json.

When I import Project1 on azure devops is it possible the proj2-2222.json to import on the project2 instead of project1 and create a link which connect the two projects??

Thank you,
George

[2020-06-29 13:46] madkoo commented on #256
@theonetruejediknight it is kind of hard to explain why you might get this exception just seeing a small part of the log.
It could access related nad then the login page HTML is retired or it could be something else.
That being said it would be useful to see the entire export log.

[2020-06-30 05:55] #221 closed

[2020-06-30 07:00] madkoo commented on #257
@gekap the tool currently does not support this kind of migration. Thank you for the input.

[2020-07-01 06:29] gekap commented on #257
Hello,

Is it possible to add it as feature ?

[2020-07-01 11:13] #210 closed

[2020-07-04 11:17] BlackNinja1903 opened #259 "System.Security.Authentication.AuthenticationException: Response Content: Basic authentication with passwords is deprecated."
Hi,

    While running "jira-export.exe -u username@domain.com -p password --url https://project.atlassian.net --config custom.json --force" I had an exception below. I generate an api token but don't know how to connect.

System.AggregateException: One or more errors occurred. ---> System.Security.Authentication.AuthenticationException: Response Content: Basic authentication with passwords is dep

[2020-07-04 11:50] BlackNinja1903 commented on #259
Sorry for the disturbance. I fixed the issue. I learned that apitoken must be used instead of password.
jira-export.exe -u username@domain.com -p APITOKEN --url https://project.atlassian.net --config custom.json --force

[2020-07-04 11:50] #259 closed

[2020-07-07 15:24] Loukis95 opened #260 "Error parsing date on recently updated jira issues"
Hi,
I was trying to migrate JIRA to Azure Devops and I am having a serious issue with the export tool.
If an issue was recently updated, the update time retrieved by the tool is relative and is not parsed properly.

I joined below the details with this error.
As you can see, the tool fails to read the date "Friday 16:03".

The tool immediately stops and do not even try to export the other issues.

[2020-07-21 18:14] atraczyk14 opened #261 "Successor/Predecessor Not Transferring to Azure DevOps"
Hello,

I was using your tool to migrate from Jira to Azure, and I ran into an issue with the linked issues from Jira and transferring that to related work in Azure. I saw that in the config-agile.json there was a section for links and Related was in there and that transferred fine. But when I tried to add predecessor and successor to it those links didn't transfer. I saw in the comment section of

[2020-07-22 18:37] masghah opened #262 "Values not available for System Generated Fields"
I'm experiencing an issue pulling values for fields that are generated systematically in Jira. We have an Analyst (user) custom field that is set to the authoring user on create of a Jira ticket. This value doesn't show up in the issue history, but does contain a value in the field on the issue form. If a user changes the value to another user, the field value will change and will then show up in

[2020-07-29 16:26] MOlausson commented on #262
Hi @masghah, I'll take a look at this. Can you share the definition of the Analyst field in Jira for us to setup a scenario to test?

[2020-07-29 16:42] masghah commented on #262
Sure!

**Field Name:** Analyst
**DataType:** User Picker (com.atlassian.jira.plugin.system.customfieldtypes:userpicker)
**Orderable:** True
**Navigable:** True
**Searchable:** True

Hopefully that's what you're looking for. Let me know if need other information.

[2020-07-30 16:40] ShindhujaaR opened #263 "Missing Attachments and linked issues"
Hi ,

While exporting the issue types from jira there arises and error in the export log stating : the info for the attachment with id "<somevalue>" is not found and once after the import is completed the attachments are being found with some data loss so the attachment fails to download and the size of the attachments also seems to be a variation in the file size.
There were also some work items

[2020-08-05 08:47] hema368 opened #266 "Images are not displayed after importing to Azure"
![imagenotimport](https://user-images.githubusercontent.com/68506870/89391822-56033000-d726-11ea-9454-9a9faf901ebc.png)

[2020-08-05 11:01] MOlausson commented on #266
@hema368 can you provide an example from Jira + the config file you used for the mapping?

[2020-08-05 19:28] anveshgonu commented on #266
@MOlausson The images are not displayed within the respective details sections, instead respective mapping value is appearing. but they are available as attachment as shown in screenshot available in attachments section.
![image](https://user-images.githubusercontent.com/61251856/89454693-b625c080-d77e-11ea-832b-4dacb15328cb.png)
![image](https://user-images.githubusercontent.com/61251856/89455389

[2020-08-05 20:00] MOlausson commented on #266
@hema368 which version of the migrator are you using? Also can you share the exported json and the config file? This works fine in my test case on v2.3.117, that's why I'm asking.

[2020-08-06 04:22] hema368 commented on #266
Hi I used the same v2.3.117

[2020-08-06 07:11] rrongcheng opened #267 "Image with space in name failed to display after imported to Azure."
I just found if an image has space in its name, Jira will use '+' to replace space. Then wi-import can't pick this path up.

Here is an example:
We have a Jira ticket that has an image named '**SAND G06 duplicate.jpg**' in the description.
In the Jira web page, the image address is like ''...&name=**SAND%20G06%20duplicate**.jpg&...'
By calling Jira API, it return '<img src=\"/secure/attachment/328

[2020-08-06 11:31] MOlausson commented on #266
Ok. Can you share the json file from the export?

[2020-08-06 11:32] MOlausson commented on #267
@rrongcheng good catch, I haven't seen this before but with the details you provide we should have no problem to repro. Which version of the migrator are you using (the latest I suppose since you seems to have fixed it locally)?

[2020-08-10 06:05] madkoo commented on #255
@dlauryssen closing issue due do inactivity and unable to reproduce. Feel free to contact us if the problem persists.

[2020-08-10 06:05] #255 closed

[2020-08-10 06:09] madkoo commented on #251
@smanthena2 sorry for my late reply. UnfortunatelyI was not able to reproduce your problem

[2020-08-10 06:18] madkoo commented on #261
@atraczyk14  do you have "successor" and "predecessor" link types defined in Jira too?
Also, I noticed that there is a an empty space after Successor and Predecessor words in your config.

[2020-08-10 10:54] rpes2 opened #268 "Links from Epics are not correct, if Epic is created after the childs"
Hello,
I try to migrate a project from Jira Server to Azure Devops. I have some Epics in the project, that were created after the features and tasks.
If I import this data in Azure Devops the first feature of the Epic becomes the parent of the Epic in Azure Devops. All other features get an error in the import, "You can not add a Parent link to this work item because a work item can have only one

[2020-08-11 04:29] rrongcheng commented on #267
Hi @MOlausson ,
Sorry for missing this part, I found and repro this bug on version 2.3.85 and 2.3.117.

[2020-08-13 01:47] vittau opened #269 "Unable to map story point estimate to Effort"
Hi,

I have set up the following mapping
`{
  "source": "Story point estimate",
  "type": "double",
  "target": "Microsoft.VSTS.Scheduling.Effort",
  "for": "Product Backlog Item,Task,Bug,Design"
}`
but it doesn't export the estimates. Also, why is the default source in the sample config files "Story Points", when apparently the JIRA default is "Story point estimate"; and why doesn't it work?

Tha

[2020-08-13 02:25] vittau commented on #269
Apparently for some reason it was a custom field in our board, and I had to use _/rest/api/2/field_ to discover the custom field name.

[2020-08-13 02:25] #269 closed

[2020-08-13 05:36] MOlausson commented on #269
@vittau happy to hear you figured it out!

[2020-08-13 10:41] madkoo commented on #268
@rpes2 it seemes that your "child" link configuration in your config.json is incorrect.
It should look like this:`      {
        "source": "Child",
        "target": "System.LinkTypes.Hierarchy-Forward"
      },`

[2020-08-13 17:24] rpes2 commented on #268
Thank you for your help. This solved the problem.

[2020-08-13 17:24] #268 closed

[2020-08-17 12:00] madkoo commented on #253
@VictorioBerra  Please try with the latest version of the tool, that should have fixed this issue.
Closing this issue for now. Feel free to contact us if still facing problems.

[2020-08-17 12:00] #253 closed

[2020-08-17 12:07] madkoo commented on #163
@kmuthukumar-rp @calvinmichel @TMHLS-Ultron   This should be fixed by using the latest version of the tool.
Closing this issue for now

[2020-08-17 12:07] #163 closed

[2020-08-17 12:11] madkoo commented on #222
@prasathe-git  Sorry for the late reply. Do not use "-force" option in the command line then the tool will continue from the previous run.
Closing this issue, for now, feel free to contact us if still face problems.

[2020-08-17 12:11] #222 closed

[2020-08-17 12:23] madkoo commented on #218
@clausb This should be fixed with the latest version of the tool.
Closing this issue for now feel free to reopen or contact us if the problem  still persists.

[2020-08-17 12:23] #218 closed

[2020-08-18 01:00] j8d opened #270 "Exporting a revision with deleted resolution throws a NullReferenceException]"
[code]

When the resolution of work item is set to null at some point in the history of the item, that revision throws an NRE.

[D][20:47:50]    Mapping revision 6.
[E][20:47:50] Error mapping field 'System.Reason' on item 'XXX-50691'.
[System.NullReferenceException] System.NullReferenceException: Object reference not set to an instance of an object.
   at JiraExport.JiraMapper.<>c__DisplayClass21

[2020-08-19 08:22] ShindhujaaR commented on #263
@MOlausson can you please help us in sorting this issue

[2020-08-25 09:31] roshini3355 opened #271 "Jira fields mapping to Azure DevOps Boards"
I tried adding the clause "source-type": "name" as follows in the config-scrum.json:

{
                "source": "Requirement Type",
        "target": "Microsoft.VSTS.CMMI.RequirementType",
                "source-type": "name"

      },
      {
                "source": "Acceptance Criteria",
        "target": "Microsoft.VSTS.Common.AcceptanceCriteria",
                "source-type": "name"

[2020-08-25 16:51] MOlausson commented on #271
@roshini3355 can you share the Jira field definition for Acceptance Criteria? I suspect you are using a 3:rd-party control for this so it may require som additional mapping. Other fields like Assignee are mapped according to the documentation:

[code]

[2020-08-27 15:26] MahmoudBishr-IbnsinaPharma opened #272 "Basic authentication with passwords is deprecated"
When trying to run jira-export script, it returns an error: Basic authentication with passwords is deprecated. What can I do to fix this issue

jira-export script is: jira-export -u jiraaccount@some.domain -p xxxxxxx --url https://my.jira.url --config config-scrum.json --force

[E][11:54:32] Unexpected migration error.
[System.AggregateException] System.AggregateException: One or more errors occur

[2020-08-27 17:06] MOlausson commented on #272
I assume you are using Jira cloud here. Check out https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/overview.md#jira-requirements and create an api token. Then pass that token instead of your password in the -p argument.

[2020-08-28 12:12] rakeshagrahari opened #273 "Please add assignee email address instead of jira user name"
Hi Team,
We are planning to use solidify jira-azuredevops-migrator for Jira to AzureDevops boards migration.
We did POC by using solidify tool, we are facing one issue regarding assignee user.
Issue:-
In Jira export file we are getting  assignee username from jira, in our company Jira user name is first.last name.
But in Azuredevops we use email address as user name.
Since in AzureDevops we use em

[2020-08-28 22:04] rakeshagrahari commented on #87
Hi @MOlausson ,
I am facing same issue.
In the Azure DevOps side, i got username on the work items i.e. (firstname.lastname) for the 'Assigned To.
But in Azure DevOps we use email address of user for Assigned to.
In users.txt I have mapped user id with email address like
 firstname.lastname=firstname.lastname@gmail.com
But getting first.last name in Azure devops boards in Assigned To.
Can you plea

[2020-08-31 11:35] rakeshagrahari commented on #273
For user story creator we are getting creator email address.
Can we get assigned to email address?

[2020-09-01 11:30] MOlausson commented on #272
@MahmoudBishr-IbnsinaPharma did you manage to get the migration going? I'll close the issue, feel free to reopen if you need more help.

[2020-09-01 11:30] #272 closed

[2020-09-01 11:32] MahmoudBishr-IbnsinaPharma commented on #272
Yes, It's working after using API token instead of password
@MOlausson You can close this issue NOW
Thanks for your response

[2020-09-01 11:59] MahmoudBishr-IbnsinaPharma opened #274 "User mapping"
I follow instructions to map users between jira and Azure DevOps and create users.txt file contains Some.JiraUser@domain.com=Some.AzureDevOpsUser@domain.com
However warning message appears:
Email is not public for user 'xxxxxxxxxxxx' in Jira, using usernameOrAccountId 'xxxxxxxxxxxx' for mapping
Could not find user 'xxxxxxxxxxxx' identity in user map. Using original identity 'xxxxxxxxxxxx'

where x

[2020-09-03 14:59] roshini3355 commented on #271
[config-scrum.txt](https://github.com/solidify/jira-azuredevops-migrator/files/5169245/config-scrum.txt)

Hi this is our config-scrum file  - The fields that we are looking for Acceptance criteria, Requirement Type, Requirement Details.

[2020-09-07 07:53] MattCodd2 opened #275 "ArgumentOutOfRangeException in JiraMapper.cs"
When exporting a project that has links to a Jira project that has been renamed from a short issue key to a longer one the following exception is thrown in JiraMapper.cs

[D][13:03:23]    Mapping revision 1.
[E][13:03:23] Unexpected migration error.
[System.ArgumentOutOfRangeException] System.ArgumentOutOfRangeException: startIndex cannot be larger than length of string.
Parameter name: startIndex

[2020-09-07 12:44] PraveenaSeela opened #277 "Hi, I have a query regarding link types pointing to other project in Jira."
Currently I am running migration from Jira to Azure Devops using Solidify. And in our project we have dependency links pointing/mapping to other project, which is already been migrated to Azure.

So in this case how to establish the links in Azure during migration?

And below is the code i used in config file.

{
        "source": "Dependency",
        "target": "System.LinkTypes.Dependency-Revers

[2020-09-07 12:50] PraveenaSeela opened #278 "How to migrate a Project which has bulk data?"
Hi,

I wanted to migrate a Project which has around 22,000 issues from Jira to Azure Devops. Also the project has dependency & inter dependency link types.

So can anyone suggest me the better way migration so that all the links should happen properly.?

Thanks

[2020-09-09 11:18] #93 closed

[2020-09-09 11:33] #238 closed

[2020-09-09 11:34] #245 closed

[2020-09-09 11:35] #251 closed

[2020-09-09 11:36] #256 closed

[2020-09-09 11:43] madkoo commented on #261
@atraczyk14 closing this issue due to inactivity

[2020-09-09 11:43] #261 closed

[2020-09-09 11:45] MOlausson commented on #262
@masghah sorry for the slow response. Did you manage to resolve it?

[2020-09-09 11:46] MOlausson commented on #263
@ShindhujaaR can you try again using the latest release?

[2020-09-09 11:48] MOlausson commented on #266
@hema368 did you get this to work?

[2020-09-09 11:50] madkoo commented on #267
This is related to #225 and #226. We will look into this.

[2020-09-09 11:52] madkoo commented on #270
@j8d We will look into this.

[2020-09-09 11:57] madkoo commented on #274
@MahmoudBishr-IbnsinaPharma  thanks for the feedback, we will look into this issue.

[2020-09-09 12:14] MOlausson commented on #278
@PraveenaSeela is this related to #277? The tool handles large migrations so that should not be a problem. Link types outside of core Jira as well as 3rd-party extension may need customizations to the tool. We support that as a paid service so feel free to contact us directly at info@solidify.se.

[2020-09-09 12:21] madkoo commented on #277
@PraveenaSeela the tool can only link items that are being migrated.  Unfortunately, it is not possible to link to an existing item in azure

[2020-09-09 13:44] PraveenaSeela commented on #278
@MOlausson Thank you so much for your reply.                                                                                                                                                But my concern here is how many days it will take to migrate? I have seen for couple of projects which have around 7000 workitems took one complete day for export and import. Also noticed if we lost the Jira conn

[2020-09-09 13:56] PraveenaSeela commented on #277
@madkoo Oh..k. anyway thanks for your reply.

And one more question related to Link Types mapping:

In the latest migration i also noticed that, only 'Open' link workitems are mapping to Azure but not the 'closed and Resolved' links. Is it something wrong in the code or to include anything..?
I used the below code in the config file.
 "link-map": {
    "link": [
      {
        "source": "Epic",

[2020-09-10 09:53] #277 closed

[2020-09-10 13:12] madkoo commented on #278
@PraveenaSeela if you happen to get connection issues with Jira and the export stops then you can continue where you left of the export. In the command don't use the "--force" parameter then. All previously exported items will be skipped.

[2020-09-10 13:14] madkoo commented on #275
@MattCodd2  thank you for the PR we will look into it

[2020-09-10 13:23] madkoo commented on #274
@MahmoudBishr-IbnsinaPharma are you using Jira Cloud? In that case, it might be that on a higher level it is not allowed to get the email. On Jira Cloud, they have made it difficult to get user email.

[2020-09-10 13:32] madkoo commented on #273
@rakeshagrahari the creator and the assignee values are retrieved the same way. If for the assignee you get a username instead of email then it most likely is something to do with the  Jira configuration you have setup.

[2020-09-10 16:26] PraveenaSeela commented on #278
@madkoo thanks for your information.

[2020-09-11 09:40] PraveenaSeela commented on #278
@madkoo Then in the above case, as per your suggestion, can i do migration export steps wise? Will the migration and mappings of the link dependencies work as expected?

Please suggest me on this.

Thanks.

[2020-09-13 11:05] shankar5885 opened #279 "Getting error when wi-import if an Epic in JIRA linked by issue"
![Capture](https://user-images.githubusercontent.com/34203987/93016316-f2e6a200-f5dd-11ea-8aec-df22e8aee737.PNG)

Error:
[E][16:10:59] '[Added] PROJ-4/-1->PROJ-8/-1 [System.LinkTypes.Hierarchy-Reverse]' - target work item for Jira 'PROJ-8' is not yet created in Azure DevOps/TFS.
[W][16:10:59] ''PROJ-4', rev 0' - not all changes were saved.

![Capture2](https://user-images.githubusercontent.com/342

[2020-09-13 14:25] MOlausson commented on #237
Hi @rsikr, I guess you have resolved this already but we're tracking it in #172 and are looking at implementing support in v3 which we will start working on soon.

[2020-09-13 14:25] #237 closed

[2020-09-13 14:26] MOlausson commented on #262
@masghah closing this one for now, feel free to open it up again.

[2020-09-13 14:26] #262 closed

[2020-09-13 14:27] MOlausson commented on #263
@ShindhujaaR assuming you've made progress on this one? Closing for now but feel free to re-open if you need more help.

[2020-09-13 14:27] #263 closed

[2020-09-13 14:29] MOlausson commented on #228
@rsikr closing this one now. Feel free to reach out if you have other questions.

[2020-09-13 14:29] #228 closed

[2020-09-14 08:09] madkoo commented on #278
@PraveenaSeela Theoretically it should work, have not done a migration with steps.
Just a suggestion to avoid getting inconsistencies is to initially export steps to different folders and then copy them into a single folder before running import

[2020-09-14 09:46] PraveenaSeela commented on #278
@madkoo Thanks. I will try migration as you suggested.

[2020-09-14 09:47] #278 closed

[2020-09-15 14:04] halljames opened #280 "Summary/Description field changes not being reflected in revisions"
I want to use this tool in a one way sync process, by NOT using the --force parameter, it seems to work well by simply adding in the revisions, however, it does not seem to handle the summary field in JIRA.  If I amend a Jira issue and update its title, this is treated as a new revision, so multiple exports and imports seems to correctly update the item in AzureDevOps.  However, updating the summa

[2020-09-15 14:35] roshini3355 commented on #271
[Jira_Field_config.docx](https://github.com/solidify/jira-azuredevops-migrator/files/5225618/Jira_Field_config.docx)
Hi, The above mentioned is the field configuration for the fields that we require to be mapped.

[2020-09-16 19:11] rakeshkulkarni6 opened #281 "Commits, pull request and branch are not showing in Azure DevOps WI"
I have started Migration from Jira to Azure Devops, I am able to map most of the fields, states in Azure.
I have Azure Git Integration with JIRA, which adds commits, pull Requests  and Branches in field Azure Git in JIRA.
I am not sure how to map these fields in Azure DevOps.[](url)x-special/nautilus-clipboard
copy
![Screenshot from 2020-09-17 00-40-00](https://user-images.githubusercontent.com/26

[2020-09-22 07:05] madkoo commented on #271
@roshini3355  what process template are you using on AzureDevops side?

[2020-09-25 17:34] hoodwink opened #282 "Import into on prem TFS 2017"
How do I  provide credentials for import into on prem TFS 2017. It is asking for token for -u switch.

[2020-09-27 02:02] hoodwink opened #283 "Getting this error message with import"
Final result of import  to TFS 2017 on prem says some thing like this:
[I][23:53:52] Import complete. Imported 2027 items, 20024 revisions (145 errors, 2053 warnings) in 01:06:11.

But got several of these same error messages while importing. Not sure if all the backlog items got imported, but here is the error message. I used config-scrum.json.
![image](https://user-images.githubusercontent.com/4

[2020-09-27 02:02] #282 closed

[2020-09-27 02:03] hoodwink commented on #282
Resolved.

[2020-09-27 11:54] MOlausson commented on #283
@hoodwink we decided to treat this as an error since it cause data loss because the field in question does not have a definition for the target field for the specific work item type. The backlog item should be migrated but the missing fields will not.

[2020-09-27 18:21] MOlausson commented on #281
@rakeshkulkarni6 we don't yet support this scenario, it's tracked in enhancement #233 which we plan to address in the coming v3.

[2020-09-30 06:40] madkoo commented on #280
@halljames  sorry for the late response. As I understand the revision is not created on Jira side when you update summary/description ?

[2020-09-30 07:25] halljames commented on #280
Thanks for the response.  I think I have actually sorted it however.  The solution for some reason was to update the config file so that the summary field uses the default mapper.  For some reason, this started bringing through the summary/description updates.

[2020-09-30 07:25] #280 closed

[2020-09-30 07:46] madkoo commented on #280
@halljames that's good to hear that you were able to sort it out :)

[2020-09-30 07:47] madkoo commented on #274
@MahmoudBishr-IbnsinaPharma  closing this issue due to inactivity. Feel free to contact us if you have further questions.

[2020-09-30 07:47] #274 closed

[2020-09-30 08:22] MahmoudBishr-IbnsinaPharma commented on #274
@madkoo Thanks for feedback and apologise for delay in reply as I miss your comment
Yes, I'm using Jira Cloud to migrate projects to Azure DevOps
Is there a work around you suggest to bypass this issue and migrate work items with users' accounts successfully

[2020-10-01 19:07] jackpoz commented on #161
This issue happened to me today too using another software but with the exact same error. While troubleshooting I changed WorkItemStoreFlags from BypassRules to None and received a different error about the work item type being disabled. I checked in the process, re-enabled it and that fixed the "ChangedBy value cannot be empty when BypassRules is specified" issue.

Hope this will help people reac

[2020-10-06 11:37] Dushki opened #285 "How can Jira key can be placed in separate field in Azure Devops via Solidify."
Hi,
While migration through Solidify, Jira key is appended in the starting of summary title of Azure work items. I need to publish the same as a hyperlink(so that i can click on the jira key and navigate directly to jira) in a seprate field in Azure Devops. Is it possible? Where to change the code ?

[2020-10-06 14:30] MOlausson commented on #285
@Dushki you can specify in the config file how to map (transform) the different fields, there are multipe options as described here:

https://github.com/solidify/jira-azuredevops-migrator/blob/b273087406e88bc452ec1df9aeea856e7ee2d622/docs/config.md#mappers

You can then also create a custom mapper but in your scenario you can use the MapTitleWithoutKey mapper for the title and then a default mappi

[2020-10-07 13:47] Dushki commented on #285
Thanks @MOlausson , It seems i need to create custom mapper. Any reference on how i can create hyperlink in Jiramapper.cs file.

[2020-10-07 20:42] MOlausson commented on #285
Take a look at https://github.com/solidify/jira-azuredevops-migrator/blob/master/src/WorkItemMigrator/JiraExport/JiraMapper.cs. Then you can add a mapper to concatenate a proper URL. If you then map it to an HTML field it will render as a link.

[2020-10-08 19:34] gekap commented on #227
Hello

I get again the same error
The file is attached, I tried to fix it but I get the same error

[ODS-1484.zip](https://github.com/solidify/jira-azuredevops-migrator/files/5350955/ODS-1484.zip)

[2020-10-09 15:08] Dushki commented on #285
Thanks :)

[2020-10-09 15:08] #285 closed

[2020-10-09 15:09] Dushki commented on #285
Thanks

[2020-10-09 18:59] gekap opened #288 "Link Child to parent failed"
Hello,

I download the latest version and I start a migration.

During the export from jira I got the below error for many files.

[W][21:55:59] Cannot add 'Child' DATA-1335 link to 'Parent' DATA-1358, 'Child' link-map configuration missing.

I used the config-agile.json.

What can be wrong?

[2020-10-15 04:17] Jyu142 opened #290 "Custom Field Value export empty value"
The values are similiar to JIRA labels.
![image](https://user-images.githubusercontent.com/56811003/96072433-4ca6ea00-0e72-11eb-8888-f6dce387dfbb.png)
![image](https://user-images.githubusercontent.com/56811003/96072250-e7eb8f80-0e71-11eb-88b3-12f4b4126d31.png)
when using the PS Jira query, it displays that there is indeed a value inside of it
![image](https://user-images.githubusercontent.com/568

[2020-10-16 17:33] MOlausson commented on #266
@hema368 closing this one, feel free to reopen if you still face this issue.

[2020-10-16 17:33] #266 closed

[2020-10-16 17:39] #283 closed

[2020-10-16 17:39] #281 closed

[2020-10-16 17:40] MOlausson commented on #273
@rakeshagrahari closing this now, feel free to reopen if you still face this issue.

[2020-10-16 17:40] #273 closed

[2020-10-16 17:51] MOlausson commented on #290
Thanks for the detailed description @Jyu142, we'll investigate.

[2020-10-19 14:24] madkoo commented on #288
@gekap based on the provided information I would suggest saying that your parent-child link is not correct.

[2020-10-19 14:28] madkoo commented on #279
@shankar5885 Hi, try to add  ```{
        "source": "Child",
        "target": "System.LinkTypes.Hierarchy-Forward"
      }```  to you're link mapping configuration

[2020-10-20 10:57] gekap commented on #288
If you need more information let me know as it is blocked for the migration

[2020-10-21 12:28] shankar5885 commented on #279
Hi @madkoo ,
Thank you for reply,
Still i am getting same error
![image](https://user-images.githubusercontent.com/34203987/96719359-eb799c00-13c6-11eb-807b-058e4cc98d84.png)

Please find updated link mapping config in my config-scrum.json
"link-map": {
    "link": [

      { "source": "Child",
        "target": "System.LinkTypes.Hierarchy-Forward"
      },
      {
        "source": "Epic",

[2020-10-26 08:42] Isshin opened #291 "Issue mapping status with certain types"
**Describe the bug**
I am trying to map multiple jira types to the same type in devops.
I get an error saying that No target type "TYPE" is set and that the status cannot be mapped.

1. I've ran the export with the following type map.

`  "type-map":{
    "type": [
      {
        "source": "Improvement",
        "target": "User Story"
      },
	  {
        "source": "Story",
        "target": "Us

[2020-10-26 11:47] gekap opened #292 "Custom Field questions"
Hello,

I have 2 questions about custom fields on Jira.

1)  Can I map the values of a custom field with values in picklist list in AzDO?
2)  I have a custom field which have cascade pick list. Can I split this list in two different fields in AzDO?

If you need clarifications let me know.

Thank you,
George

[2020-10-27 20:50] #292 closed

[2020-10-27 20:53] #291 closed

[2020-10-30 10:49] charankumarneela opened #294 "Jira Export Query throwing errors when selecting multiple options"
**Describe the bug**

We are migrating from Jira to Azure Devops using solidify Tools and during the export of Jira Data, it is exporting all the DONE and Not Required Work Items  even though we have selected the filter

"query": "project = Test AND issuetype IN project in (XX, "Property API", "XX") AND issuetype in (Bug, Spike, Story, task, Sub-Bug, Sub-task) AND status in ("Initial Idea", "Bugs

[2020-11-02 13:40] Paddl1203 commented on #182
Hey, I have the same problem as @strn9r . Our Company is using JIRA V6.4.11 and I am also not able to export Jira Tickets with comments. The error-message is: Newtonsoft.Json.JsonReaderException: Could not convert string to DateTime: 16/Okt/19 1:22 PM. Path '[0].created', line 36, position 34.  When i exclude Tickets with comments in the jql-query the migration tool works fine.
It is also not poss

[2020-11-04 11:42] charankumarneela commented on #294
[E][11:41:10] Cannot deserialize the JSON text from configuration file. Please ensure it is formatted properly.
[E][11:41:10] Unexpected migration error.
[Newtonsoft.Json.JsonReaderException] Newtonsoft.Json.JsonReaderException: After parsing a value an unexpected character was encountered: I. Path 'query', line 4, position 109.
   at Newtonsoft.Json.JsonTextReader.ParsePostValue(Boolean ignoreCom

[2020-11-04 14:17] #294 closed

[2020-11-05 11:44] ShindhujaaR opened #295 "The work items of type bug are not aligned properly."
When migrating the work items from jira to AzureDevOps the work items of the type Bug are not aligned properly. The description of the issue in jira with the bullet formats are not displayed in AzureDevOps with the proper alignment and the content is displayed as entire paragraph. Attached the screenshot for reference

![image](https://user-images.githubusercontent.com/68641470/98236811-f5d09400-1

[2020-11-06 05:08] Nikhilnick1203 opened #296 "Migration in not working for on-premises Jira."
**Describe the bug**
When I ever I run the Jira-export command, I'm getting an **Unexpected migration error**. I tried with only username and with the domain name as well. Attached a log file

**To Reproduce**
Steps to reproduce the behavior:
1. The command I'm using Jira-export -u username -p xxxxxxx --url https://jira-url/ --config config-scrum.json --force
2. [E][10.35.03] Unexpected migration

[2020-11-06 10:02] ShindhujaaR commented on #295
Team can you please help on this

[2020-11-09 07:51] ShindhujaaR commented on #295
@MOlausson can you please help with this issue

[2020-11-09 22:17] Urglefloggah666 commented on #290
I am having a similar issue with mapping checkbox lists, please see below:
config:
![image](https://user-images.githubusercontent.com/20916516/98602975-67fffa80-2335-11eb-9e3e-21f9cb6d7e16.png)
JIRA fields:
![image](https://user-images.githubusercontent.com/20916516/98603011-7d752480-2335-11eb-822c-113d6726f53a.png)
export:
![image](https://user-images.githubusercontent.com/20916516/98603045-8960e

[2020-11-11 11:11] Paradox92 commented on #295
you need to define the correct mapper in the map section

[code]

[2020-11-11 14:56] gekap opened #297 "Custom Filed does not export always"
Hello,

I have create this custom field on a configuration to export Jira project to Azure DevOPS.

![image](https://user-images.githubusercontent.com/43109822/98826400-4b031e80-243e-11eb-8976-2af097db8893.png)

On a specific Jira issue this Field exists and it has value.

![image](https://user-images.githubusercontent.com/43109822/98826474-6706c000-243e-11eb-8403-6e3be4529651.png)

When I check o

[2020-11-13 11:01] gideonmulder opened #298 "Jira cloud export: Basic authentication with passwords is deprecated"
**Describe the bug**
I followed the step of https://solidify.dev/blog/jira-azure-devops-migration
I used the latest release and got this error:

[E][11:51:35] Unexpected migration error.
[System.AggregateException] System.AggregateException: One or more errors occurred. ---> System.Security.Authentication.AuthenticationException: Response Content: Basic authentication with passwords is deprecated.

[2020-11-13 12:36] #298 closed

[2020-11-13 16:15] gekap commented on #296
Hello,

What is your version of Jira?

[2020-11-13 16:33] Nikhilnick1203 commented on #296
Hi,

My Jira version is 8.8.1

On Fri, 13 Nov 2020 at 9:45 PM, Georgios Kapellakis <
notifications@github.com> wrote:

[2020-11-13 17:28] gekap commented on #296
Hello,

Please confirm that the  using-jira-cloud":  has value **false** in your configuration.

I have Jira 8.4.1 on premises and I do not have your issue.

Thank you,

[2020-11-16 11:06] gecon27 opened #300 "single & multi-select drop down list"
Refer to https://github.com/solidify/jira-azuredevops-migrator/issues/40#issuecomment-482722481 and previous comment. I haven't seen any further actions on this topic. What I'd like to see is single & multi-select drop down lists, similar to https://marketplace.visualstudio.com/items?itemName=ms-devlabs.vsts-extensions-multivalue-control. Thanks for the good work up to now.

[2020-11-16 14:08] carolinewarn commented on #226
We had the same issue with zip files and other less common file types. I added the suggested code changes locally and it worked. So thanks to @mahidharguggilam. Not sure what "Under observation" means, but it would be nice to have the fix included from the beginning.

[2020-11-17 14:47] ShindhujaaR commented on #295
I have also given the same mappers but still then am facing the same issues with alignments in the description of the work items of type Bug

[2020-11-17 14:51] Pairoba commented on #295
Double check if you have provided the correct config-file and that you don't have configured this map entry twice. For me it's working as expected since just changing the mapper from default configuration.

[2020-11-17 15:59] gekap commented on #297
Hello again,

It seems that the issue is on the jira-export as it cannot read correct all the fields on a jira Issue.

For example,
I have add this on the configuration file (due date on Jira)
![image](https://user-images.githubusercontent.com/43109822/99413198-36230100-28fe-11eb-80b3-aa722c868fb2.png)

On one json I have
![image](https://user-images.githubusercontent.com/43109822/99413423-6f5b710

[2020-11-18 11:38] madkoo commented on #288
@gekap Did you get this sorted out? If not please provide your configuration file.

[2020-11-23 14:02] saurabh-wagh opened #301 "Dates from the add-on "roadmaps in jira " are not getting recognised"
We are using "Roadmaps for JIRA" and thus  filling out the following fields in JIRA. Both are date type fields

- Target start
- Target end

But when we are trying to migrate these from JIRA to azure , the format of date is not getting recognised at Azure DevOps's side. How can we parse such different type of date formats using the tool ??

[2020-11-30 12:39] gekap commented on #288
Hello,

No I didnot sorted out. here my config file

[ritux.zip](https://github.com/solidify/jira-azuredevops-migrator/files/5615914/ritux.zip)

[2020-11-30 12:40] gekap commented on #297
Hello,

Any updates on the above? It's blocking issue for migration.

[2020-11-30 13:51] madkoo commented on #288
@gekap checked your config and as it is as I suspected you are missing a Child link as the error message says.
`   {
        "source": "Child",
        "target": "System.LinkTypes.Hierarchy-Forward"
      },`

[2020-12-08 15:31] bientt210 opened #304 "Error "target work item for Jira 'Project' is not yet created in Azure DevOps/TFS" when importing"
Hi Everyone,

I has issue when importing data to Azure:
**[W][10:34:33] '[Added] Project20-331/-1->Project20-347/-1 [System.LinkTypes.Hierarchy-Reverse]' - target work item for Jira 'Project20-347' is not yet created in Azure DevOps/TFS.**

It's happen so many time when I importing.
My config-agile.json with `child` and `parent` as below :

`  "link-map": {
    "link": [
      {
        "source":

[2020-12-09 22:56] gekap opened #305 "Wrong states mapping"
Hello,

I use the latest version of your tool to migrate Jira to Azure DevOps,

A user complained that the tool migrated the wrong states in Azure DevOps.

For example, In jira a issue was in Closed and instead of Complete and new state was Review which wrong.

Any ideas?

On Jira,

![image](https://user-images.githubusercontent.com/43109822/101697260-2bccd080-3a80-11eb-90a9-dad219f343d1.png)

Sam

[2020-12-10 08:27] gekap commented on #305
Hello

I run the export from jira to AzDO and I have wrong mapping

![image](https://user-images.githubusercontent.com/43109822/101740908-18e2ec00-3ad2-11eb-9387-7ad08990da5e.png)

My confing
![image](https://user-images.githubusercontent.com/43109822/101740989-30ba7000-3ad2-11eb-8062-d7c65b075eec.png)

As you can see it should be Development and not New.

What can be wrong?
It's a blocker as migr

[2020-12-20 16:28] #236 closed

[2020-12-21 05:18] Nagachandra3458 opened #310 "Mapping issue"
Hello Support,
I tried to move one of the projects from Jira to Azure DevOps, work items have not changed the State it's still in "New",
![image](https://user-images.githubusercontent.com/71813581/102741503-8582a400-4378-11eb-93dc-96466d3b213f.png)

In Boards, no data is moved.
![image](https://user-images.githubusercontent.com/71813581/102741818-59b3ee00-4379-11eb-8194-8369dc2df269.png)

In Jira

[2020-12-22 12:49] Nagachandra3458 commented on #310
Can you advise

[2020-12-23 15:21] gekap commented on #310
Hello,

I have the same issue and I noticed that the wrong mapping does not affect all the issues just some.

I have reported 14 days ago

[2020-12-23 15:32] AjayKumaraj opened #311 "Missing mapping value 'Merge to Trunk (SVN)' for field 'status' for item type 'Story'."
While running am getting this missing mapping value  anything am doing wrong in the configuration
58:57] Missing mapping value 'Merge to Trunk (SVN)' for field 'status' for item type 'Story'.
[W][20:58:57] Missing mapping value 'Code Review' for field 'status' for item type 'Story'.
[W][20:58:58] Missing mapping value 'Code Review' for field 'status' for item type 'Story'.
[W][20:58:58] Missing ma

[2021-01-07 07:42] Nagachandra3458 commented on #310
@Solidify : Can you please guide us on this issue.

[2021-01-14 08:49] gekap opened #316 "Missing field"
Hello,

I try to get the values from Components fields and in debug I get
Rendered field component contains unparsable type Null, using text , but in the json I do not see the value.

![image](https://user-images.githubusercontent.com/43109822/104566306-1ede6680-5656-11eb-907c-d1ea2e3cb024.png)

[2021-01-14 08:50] gekap commented on #316
The issue was on the source-type. I had to remove it

[2021-01-14 08:50] #316 closed

[2021-01-20 20:15] DouglasG96 opened #318 "System.ArgumentOutOfRangeException"
i'll try to describe this, i can't speak english good but...

**To Reproduce**
i was trying to migrate all my issues (finished, to do, etc), that i have in my Jira Project and in this project we're 4 developers everyone has issues linked but in the DevOps Project they aren't members and when i try to import from jira all my issues the cli show me the next error:

**[E][14:02:45] Unexpected migrati

[2021-01-20 22:12] MOlausson commented on #318
@DouglasG96 , thanks for the good issue report. Can you share your configuration file with us (here or send to support (at) solidify.se) to help us troubleshoot?

[2021-01-21 11:20] MochaboM opened #319 "System.InvalidOperationException: Response was not recognized as JSON"
I am trying to migrate data from our project Jira server using the Agile config file. When I run the import command on the cli I got the error [E][12:49:29] Unexpected migration error.
[System.AggregateException] System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Response was not recognized as JSON.

**To Reproduce**
Steps to reproduce the behavior:
1. C

[2021-01-21 16:00] DouglasG96 commented on #318
- This is my file configuration

confi-agile.json:

{
  "source-project": "SistemaMiSalud",
  "target-project": "Sistema Medico Mantenimientos",
  "query": "project = SistemaMiSalud AND status = 'To Do' ORDER BY createdDate ASC",
  "using-jira-cloud": true,
  "workspace": "C:\\Temp\\JiraExport\\",
  "epic-link-field": "",
  "sprint-field": "Sprint",
  "download-options": 7,
  "batch-size": 20,
  "

[2021-01-21 20:31] StephenWTurner commented on #152
I've also found this issue occurs if you poke around in the work items as they are being created by the importer. It seems they are updated just by looking at them.

The simple solution is to leave the project alone until the import is completed.

[2021-01-28 18:11] AjayKumaraj commented on #195
@MOlausson  any updates on this issue? am facing the same issue.

[2021-02-02 07:23] sgullluu commented on #257
after migration to azure devops , you can move that issue to project 2  a manually using " move to Team project" option in GUI

[2021-02-12 14:06] jerrodgeorge commented on #319
I am having the same error. With the same recreate steps.

[System.AggregateException] System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Response was not recognized as JSON. Content: <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

[2021-02-12 14:17] jerrodgeorge commented on #319
I read through more documentation and I was able to get past this error by using my UN and not an email. I have now encountered another error that I am working my way through.

NEW ERROR:
 Atlassian.Jira.Remote.ResourceNotFoundException: Response Content: <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

[2021-02-19 15:53] Yeronimo commented on #225
Will you be merging this as a PR? Else I will create one for this.

[2021-02-19 19:04] MOlausson commented on #225
@Yeronimo we're catching up with migration work so will look into this starting next week. If you could create a PR for this we'll test and merge. Thanks!

[2021-02-22 17:59] hochstetter opened #328 "Jira Export: System.NullReferenceException Object reference not set to an instance of an object"
Hello,

i need a little bit of help using your great tool and I didn't find the exact problem in your issue tracker. I translated the german part of the error message `Der Objektverweis wurde nicht auf eine Objektinstanz festgelegt.` with the title message. I think it is correct because I saw that english message in other issues here.

Kind regards,
Thomas Hochstetter

**Describe the bug**
I want

[2021-02-23 13:10] sgullluu commented on #311
u need add those missing status in Json file
 {
        "source": "status",
        "target": "System.State",
		"for": "Issue,Story,Bug,Task,Sub_task",
        "mapping": {
          "values": [
            {
              "source": "Pending Requirements",
              "target": "Pending Requirements"
            },
			{
              "source": "Merge to Trunk (SVN)",
              "target": "Mer

[2021-02-23 13:16] sgullluu commented on #310
u were mapping story of Jira to Feature of Azure devops.
1) have u created To Do , In progress , done ...   States in Azure devops , since your feature doesnot have To do , in progress state its workflow so it is taking New.
2) in kanban board u were looking into Story board , but data should be present in Feature Board , as u have done mapping from Story to feature.

[2021-02-23 19:25] hochstetter commented on #328
I identified the problem using your open source code 👍. There is no not null check in `JiraItem.BuildCommentRevisions()` for `c.AuthorUser`. In the affected Jira Server there are some items with c.AuthorUser = null

[code]

I changed the code to something like this.

[code]

I tried to push these changes to your git repo but I couldn't. Visual Studio gave this error:
[code]
This is the first time

[2021-02-25 12:07] snims opened #329 "Specified User does not exist."
I am getting the error that specified user 'xxxxxx' does not exist or you do not have required permissions.

I looked through previous issues and saw that this might be an issue for users who are no longer jira users.  I am getting this error for every single user,

I did some research and it appears that the jira account that is being used needs to have browse user access and I validated with our

[2021-03-02 14:24] #329 closed

[2021-03-04 11:03] attinder4u commented on #319
not able to export the data from jira getting below error
 One or more errors occurred. ---> System.InvalidOperationException: Response was not recognized as JSON
Using jira on premise server v8.5.4

Is there any work around to fix this?

[2021-03-07 21:33] Freakling commented on #101
Any progress on this?

[2021-03-08 09:04] ayushmaheswari opened #335 "Iteration Path of Sub-task in not moving to azure"
Hi,

Whenever I try to export data from Jira-export I am always getting the iteration path as null only for the Sub-task workitem even though data is present in my Jira account I am searching whole code But not able to get it please help me as soon as possible.

Here I am putting Json file for one Sub-task workitem for your reference

{
  "Type": "Task",
  "OriginId": "PROJ-15",
  "WiId": -1,
  "R

[2021-03-10 09:27] madkoo opened #342 "Sync items to Ado test issue - change title"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-03-10 09:40] madkoo commented on #342
New comment

[2021-03-10 09:41] #342 closed

[2021-03-11 14:11] Jonheidur opened #343 "Error Retrieving jira fields (default backend - 404) with jira on server"
Hi,

My jira system is on server and hosted by a third party so this might be due to access issue, but I had some issue with "Connecting to Jira" that were resolved when using email and accessToken. I did not include /jira in the url since when I did that I got a 401 error on "Retrieving Jira fields..." step.

I ran the following and got the error below.
C:\jira-azuredevops-migrator-2.3.117>jira-e

[2021-03-12 10:17] Nagachandra3458 commented on #310
Thank you Georgios for your reply, we did migration and all set, again thank you for your support.
________________________________
From: Sourabh ***@***.***>
Sent: Tuesday, February 23, 2021 6:46 PM
To: solidify/jira-azuredevops-migrator ***@***.***>
Cc: Nagachandra3458 ***@***.***>; Author ***@***.***>
Subject: Re: [solidify/jira-azuredevops-migrator] Mapping issue (#310)

u were mapping story o

[2021-03-12 15:57] kedarbhise opened #344 "Unable to map Fix Version from Jira"
**Describe the bug**
We are trying to migrate a number of Projects from Jira to Azure Boards.
One of fields we use in Jira is the Fix Version.
We tried several ways of representing that field in the config.json file, but it does not show up in the exported json files.

In JQL and in XML files exported from Jira, the field is represented as `fixVersion`.

**To Reproduce**
Steps to reproduce the beh

[2021-03-12 16:25] kedarbhise commented on #305
@gekap could you please take a look at #344?
In your output JSON, we can see that you have managed to export FixVersion correctly, which is the problem we are facing.
Thanks in advance for your help.

[2021-03-16 08:26] kedarbhise commented on #344
Solution:

After a bit of trial and error, this is what worked for us:
[code]
We were able to map Fix Versions correctly to Integration Build.

We also had success with below:
[code]

[2021-03-16 08:26] #344 closed

[2021-03-18 10:35] The-Judge opened #345 "jira-export crashes mid-job (System.ArgumentOutOfRangeException)"
**Describe the bug**
During `jira-export` execution, a `System.ArgumentOutOfRangeException` occurs. It first runs fine for the first projects but then crashes. In our config, we use a quite wide JQL to catch ALL issues:
`summary is not EMPTY ORDER BY createdDate ASC`
The export starts, successfully extract 6 projects and with the 7th, it suddenly crashes.

**To Reproduce**
Steps to reproduce the b

[2021-03-19 12:12] mebithomas opened #346 "Date fields (both custom and Jira fields) are not migrating"
**Describe the bug**

Trying to migrate issues from Jira cloud to ADO.

Two date fields available in few Jira issues , start date & due date, both are added in the config file, but both are not migrating into ADO.

Please refer the config below.

    {
        "source": "customfield_12004",
        "source-type": "name",
        "target": "Microsoft.VSTS.Scheduling.StartDate" ,
        "comment":"

[2021-03-22 12:21] madkoo commented on #346
@mebithomas , remove from your mapping source-type: "name" that makes the tool to try mapping against the name of the field but as you are using IDs so there is no need to have that.

[2021-03-22 13:35] mebithomas commented on #346
Hi @madkoo;

Thanks for the reply.

We tried without "source-type" and it was not working, so we tried with below and works as expected.

[2021-03-22 13:36] #346 closed

[2021-03-25 12:46] tchoujar01 opened #347 "Field-Reason, Status-'InvalidEmpty ' Value : '' ValidationException - Workitem is not ready to save"
Hi

I am unable to import more than half of my workitems as I get this error on import. I dont have  a feild -Reason, and I dont see it in the history as well, could be possible thta it was a part of the workitems before.
Logs:
[I][00:30:13] Field: 'Reason', Status: 'InvalidEmpty', Value: ''
[E][00:30:13] Failed to import revisions for '0'.
[Microsoft.TeamFoundation.WorkItemTracking.Client.Validat

[2021-03-26 11:27] Jonheidur commented on #343
This was solved by adding /jira to the URL and using a username and password for a local admin user.

[2021-03-26 11:27] #343 closed

[2021-04-02 20:23] snims opened #348 "Epic and Story links incorrect if items moved from one project to another"
Here’s an interesting one.
The linking between a story and an epic will pull up the original jira id – meaning a jira moved from one project to another.
Here’s my query -   "query": "id=gcs-392 or id=gcs-318 " – just doing a test for the two items.

In the json for 392:
        {
          "Change": 0,
          "TargetOriginId": "CTCA-3897",
          "TargetWiId": 0,
          "WiType": "System.

[2021-04-08 11:05] snims commented on #260
I am consistently running into this issue.  it would be nice to at least have the issues logged and the rest of the load finished.

[2021-04-09 06:10] madkoo commented on #260
@snims can you give more details?
* How what are the arguments you are using when running the tool?
* Can you share your config file?
* Can you share the exception happening?

[2021-04-09 06:14] madkoo commented on #348
Not sure I 100% follow what you are trying to test here?
The linking is based on the metadata received from Jira APIs.

[2021-04-09 10:42] snims commented on #260
here's what I execute: jira-export -u [uid] -p [pwd] --url [url] --config Samples\config-scrum.json --force

config file:
{
  "source-project": "SPREL",
  "target-project": "Research Apps POC",
  "query": "fixversion = 'Backlog 2021' and project = silmvp order by rank ",
  "using-jira-cloud": true,
  "workspace": "C:\\Migration\\MAF\\BAU",
  "epic-link-field": "Epic Link",
  "sprint-field": "Sprin

[2021-04-09 10:46] snims commented on #348
why would the api return the original id versus the current id?

do you have any ideas on how that can be switched?  Things like:
do something in Jira to make it pass the current id
do something post writing of the json to have them switched

[2021-04-21 06:52] Django0 opened #352 "config-scrum.json does not like base-area-path and base-iteration path with "\" or "\\""
The config-scrum.json does not  path with "\" or "\\"

This works: `"workspace": "C:\\Temp\\JiraExport\\",`

But, it failes for the below paths
[code]

Kindly fix this. Thanks.

[2021-04-21 19:11] lasseporsch commented on #352
Hi @Django0,

we ran into the same problem. Counterintuitively, the correct notation for sprint/area hierarchies in the config file is to use single forward slashes:
`
  "base-area-path": "Workstreams/Hardware/Firmware",
  "base-iteration-path": "2021/2021-4",
`
Make sure to include the "root" sprint/area, which should be the same as your project name.

[2021-05-05 06:50] vvprasanth opened #355 "Unable to Migrate Custom field"
**Describe the bug**
Custom Field from Jira cloud is not getting migrated.

Custom field with user mapping field where values cannot be migrated and it does not show in JSON file from jira ticket

AB#4945

[2021-05-05 11:33] dakimaz opened #356 "Wrong epic link if task has changed epic"
If a given task has changed epic in its history the import will throw an error:

When parsing the tasks it sees that the task in question already has an epic assigned and it fails.

It seems that instead of replacing the epic that is linked, it is simply trying to add another epic link. The result is a missing revision entry and incorrect epic link.

Could it be that I am missing an entry in the l

[2021-05-08 03:55] kedarbhise commented on #344
@dakimaz Happy that this helped you as well.

[2021-05-12 15:02] Jonheidur opened #359 "How do I migrate the 'Rank' of issues in backlog in Jira to Order or 'StackRank' in Azure DevOps"
Hi,

I have been testing export from Jira server to Azure Dev Ops and even if I rank the issues in the JQL query used in the config file when exported the issues seem to appear in random order in the backlog in Azure Boards.

Is there some known way of keeping the rank of issues between the two systems? I have tried googling but can not find any information on this so I feel that I am either missi

[2021-05-17 06:05] smehto opened #360 "How to map custom fields having epic link pointing to the epic issue type"
Hello Team,
My Issue: When i export Epic, all the "subtask" of epic exported but "Issues in Epic" not exported. is there any configuration to add "Issue in epic "? (refer screen shot)
"Issues in Epic" is similar to Sub-tasks in Issue, and that's it.
![image](https://user-images.githubusercontent.com/80322213/118439482-b5ee2480-b703-11eb-8e63-a2658373728c.png)

Q1. How to migrate custom fields havi

[2021-05-17 16:27] Skymogul opened #361 "Exception Migrating Renamed Project"
https://github.com/solidify/jira-azuredevops-migrator/blob/ee1fd4128e37ea9cf1e582ddd3d8956e67473b65/src/WorkItemMigrator/JiraExport/JiraMapper.cs#L228

This code assumes that the length of the `OriginId` and `value` segment before the `-` are the same. In the case of a renamed project, they will differ, yielding a `System.ArgumentOutOfRangeException` exception.

AB#5037

[2021-05-17 16:29] Skymogul commented on #361
This was actually fixed in #276 but never merged.

[2021-05-23 09:40] lula-code commented on #359
Hi,
Jira and AzureDevops use different ranking systems.
You have to convert the Jira strings (like: "1|dfla1xx") into a double number.

Jira ranking system: https://tmcalm.nl/blog/lexorank-jira-ranking-system-explained/
DevOps: https://docs.microsoft.com/en-us/azure/devops/boards/queries/planning-ranking-priorities?view=azure-devops

Use a scripting language (e.g. Python) between export and import

[2021-05-25 15:45] advitakhadke24 opened #366 "System.NullReferenceException"
Hi,
I was able to export multiple items using Solidify from our On-Prem Jira. For some items I am getting a System.NullReferenceException (attached below) For now I just skipped the tasks which were giving me this error but now I  would like to migrate the items that were throwing me the exception.

Exception:
[I][15:49:46] Connecting to Jira...
[I][15:49:46] Retrieving Jira fields...
[I][15:49:46

[2021-05-26 10:06] lula-code commented on #366
Hi,
check: https://github.com/solidify/jira-azuredevops-migrator/issues/328

If it is only one ticket: Check that a user is set everywhere on the ticket (reporter, assignee, etc.).

[2021-05-27 07:34] Harshithagp commented on #275
in which file should we change that

[2021-05-27 07:42] MattCodd2 commented on #275
@Harshithagp In JiraMapper.cs.  The pull request contains the change

[2021-05-27 07:47] Harshithagp commented on #275
i am getting the same error and in which file should i change that line i am not getting

[2021-05-27 07:59] Harshithagp commented on #275
thank you

[2021-05-27 09:37] Harshithagp commented on #275
same error even after replacing

[2021-06-01 14:40] advitakhadke24 commented on #366
Hi,

It's not just one ticket instead there are multiple, I did check the user, the user is set everywhere on the ticket.

[2021-06-07 14:20] advitakhadke24 commented on #366
@lula-code Just wondering if you have any inputs on my previous  post, Thanks!

[2021-06-07 14:30] madkoo commented on #366
@advitakhadke24  based on the provided info i would guess that on the tasks its trying to get comments but it fails to retrieve rendered fields.
If you make a query "https://ADD_YOUR_URL/rest/api/2/issue/'IDO-839?expand=renderedFields" and if you search under rendered filled for comments then are there any comments ?

[2021-06-08 07:19] Harshithagp opened #369 "can i exclude jira ids while importing"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-08 14:35] advitakhadke24 commented on #366
@lula-code @madkoo Thanks for getting back,  I think I found out the issue, All the tasks that were throwing exceptions seems like for all those tasks there is 1 common thing all those tasks have anonymous users in comments which  I guess Solidify could not identity and that's why it is throwing error.
Is there a solution to get pass this issue?
Thank you!

[2021-06-10 05:30] lula-code commented on #366
Hi,
As I have already written: Check: https://github.com/solidify/jira-azuredevops-migrator/issues/328
The user had the same problem and was able to solve it.
This solution is not complex, but it solves the problem.

Your steps:
1. Download the source code.
2. Open the code in Visual Studio
3. Add the following changes: https://github.com/hochstetter/jira-azuredevops-migrator/commit/0214fc461791a0

[2021-06-11 00:55] oarm14 commented on #345
Following.  Same issue here on Windows 10 using Jira Cloud.   I've migrated around 10 project with no issue.  This one started doing the same as @The-Judge.

The export says it exported all the items that I see in the JQL query (880) but there are only around 60 json files in the export folder.

Jira version : 1001.0.0-SNAPSHOT
Jira type    : Cloud
System       : Microsoft Windows 10.0.19042
jira-

[2021-06-12 05:37] abarua4 opened #370 "Unable to map Fix Version from JIRA to Azure DevOps (on Prem)"
While migrating fix version from JIRA to ADO, we need to map text from "Fix Version" of JIRA to Date field in ADO using mapping set in configuration.
But the output json files does not contain transformed Fix version.

Using below snippet for mapping -
![image](https://user-images.githubusercontent.com/31831440/121766375-3eb48080-cb49-11eb-88e3-be6bef714736.png)

For example -
Fix version in JIRA

[2021-06-14 23:45] oarm14 commented on #345
Looks like this was resolved in #276 but never merged.

[2021-06-16 21:18] junejaalok opened #371 "Mention in Jira = Mention in Azure DevOps"
Hi,

So far we are happy about the migration that we did from Jira Server to Azure DevOps. There is one thing that is bothering us is that the user mention in comment section in Jira are broken in Azure DevOps. Is there some setting we are missing or some mapping that is needed. Does this feature exist?

BR
Alok

[2021-06-18 08:08] V-MTHOMAS6 commented on #105
@MOlausson ,

Is this functionality available now ?

[2021-06-19 08:39] MOlausson commented on #105
@V-MTHOMAS6 let me sync up on this, I know we have code for it but not sure if it ever got to the public codebase.

[2021-06-21 06:30] V-MTHOMAS6 commented on #105
Thanks for the reply, could you please let me know further details?

[2021-06-23 06:51] sungalyr opened #374 "If the multi select custom field in Jira has more than 2 values selected, the jira export returns value as ;;;"
**Describe the bug**
In Jira, i've a multiselect custom field and if the field selected with more than 2 values, the jira export results the value as ; ; ; instead the value1;value2;value3

Sample config-agile.json:
{
"source": "customfield_15625",
"target": "Custom.AccountableTeam",
"mapper": "MapArray"
}
Jira JSON data of that custom field
"customfield_15625": [
      {
        "self": "urlxxxxx

[2021-06-28 13:31] Ryn-Ash opened #376 "Jira Basic Authentication deprecated"
I've viewed previously reported issues such as #3 but haven't been able to find a solution to access Jira. Using the PAT only provides with an error stating that Basic Authentication is deprecated for Jira and their provided documentation isn't something I can implement in the time I have available with my lack of PowerShell and REST API knowledge.

Would it be possible to add functionality to use

[2021-06-28 15:29] #376 closed

[2021-06-28 15:31] Ryn-Ash commented on #376
I had some difficulty figuring out what needed to be used where but got there eventually.

I had to use the email instead of username in my particular instance - I eventually got access after attempting various curl commands to see if I can actually get to atlassian.net etc.

Part of the learning experience, thanks.

[2021-06-28 23:15] rheidt opened #377 "AzDO Rate Limiting Handling"
Azure DevOps being a SAAS, rate limiting applies and for large amounts of work items (the reason a tool like this is handy :P) it will impact the ability of the tool to get all the way through the import step.

How to properly handle through AzDO response headers:
- https://docs.microsoft.com/en-us/azure/devops/integrate/concepts/rate-limits?view=azure-devops
- Responses give a nice way to adjust

[2021-06-30 14:47] advitakhadke24 commented on #366
Thanks @lula-code @madkoo Closing the issue

[2021-06-30 14:47] #366 closed

[2021-06-30 16:20] advitakhadke24 opened #378 "Importing multiple tags to ADO"
I was able to export tasks from On-Prem Jira using Solidify and import to ADO.
We have fields in our Jira like Labels, ClientCode, Component fields which I want to convert into tags in ADO and I have written the configuration for that :
{
        "source": "labels",
        "target": "System.Tags",
        "mapper": "MapTags"
      },

      {
        "source": "Component",
        "target": "Syst

[2021-07-01 21:20] junejaalok commented on #253
@madkoo We have pulled the latest version and that is still the issue. We encounter that very frequently. Any solution to it.

[2021-07-01 21:47] junejaalok commented on #163
@madkoo @calvinmichel @TMHLS-Ultron Do we have any solution to this issue. We are having the latest version of the tool and still encountering the problem

[2021-07-01 22:48] junejaalok opened #379 "Child items that were created before the parent, has "not yet created" error."
We are encountering the same issue as in https://github.com/solidify/jira-azuredevops-migrator/issues/163#issuecomment-600650846

I am wondering if there is some solution to it that someone has found.

BR

AB#5351

[2021-07-02 04:52] yogi001 commented on #163
I am still facing the same problem as on 2nd July 2021.
"target work item for Jira 'XXX-143' is not yet created in Azure DevOps/TFS."

Experts, please try to resolve this, so that many of us get benefitted from this.

[2021-07-02 10:51] madkoo commented on #379
@junejaalok you could import first the parent items, keep the journal file that is generated and then import the rest of the items as a workaround.

The issue will be received if you don't have a proper mapping set to get the child items with the parent link.  This can be logged either as a warning or an error depending on your configuration. If it's a warning then this can be fine as long as the

[2021-07-02 21:17] junejaalok commented on #379
@madkoo Do you have some example showing mapping set to get the child items. I would like to compare to what I have it.
@yogi001, might be this be any help for you.

[2021-07-03 06:28] madkoo commented on #379
It is easier if you share your mapping file. I can then provide tips what to change etc.

[2021-07-03 13:39] yogi001 commented on #379
@madkoo : Thanks for your quick reply!
See below is the example of @junejaalok file:
    "link": [
      {
        "source": "Epic",
        "target": "System.LinkTypes.Hierarchy-Reverse"
      },
      {
        "source": "Parent",
        "target": "System.LinkTypes.Hierarchy-Reverse"
      },
      {
        "source": "Relates",
        "target": "System.LinkTypes.Related"
      },
      {

[2021-07-05 07:00] madkoo commented on #379
@junejaalok
@yogi001

I would add this one as well :
 `
  {
        "source": "Child",
        "target": "System.LinkTypes.Hierarchy-Forward"
      },
`

Duplicate I would change to
`
  {
        "source": "Duplicate",
        "target": "System.LinkTypes.Duplicate-Reverse"
      },
`

[2021-07-08 13:07] ShindhujaaR opened #380 "Certain issues are missing after migrating from JIRA to Azure Devops"
Hi Team,

We have executed the migration activity to move issues from On-Prem JIRA instance to Azure Devops.
But when performing the import we have obtained the following error "**TF26027: A field definition Microsoft.VSTS.Common.Priority in the work item type definition file does not exist.**" and also after this some of the work items were moved to Azure DevOps but some of the issues were missin

[2021-07-09 07:54] ShindhujaaR commented on #380
Hi Team,

Can we please hear an update for this issue.

Regards,
Shindhujaa R

[2021-07-12 07:21] casey-lambie commented on #260
We also experienced this during our JIRA (6.6) migration. Turning off relative dates inside JIRA stopped the problem for us.

https://github.com/solidify/jira-azuredevops-migrator/issues/77#issuecomment-550984251

[2021-07-15 10:14] ShindhujaaR commented on #380
Can we hear an update on this issue

[2021-07-27 15:42] advitakhadke24 commented on #378
Do you know if there is a way to do this? @madkoo
Thanks in advance!

[2021-07-28 11:46] The-Judge commented on #345
Just wanted to inform that for as long as this Bug is open, in the meantime I switched employers and aren't in need if a solution anymore. I'll unsubscribe, but will leave it open since others seem to have similar issues.
Sad, that even after more than 4 months, there is not even a reply from a project member. Future users should take this into account when evaluating this software/agency behind i

[2021-07-29 16:05] mbogi opened #381 "Not able to assign users for issues in Azure devops after export"
I have imported the issues successfully by mentioning users in users.txt, but still Im unable to assign issues in target azure devops project after exporting. Instead it shows guid there.

Can anyone please help

AB#5413

[2021-08-09 08:32] madkoo commented on #378
@advitakhadke24  no that can't be done. What you are trying to do is aggregate values to a single field from multiple fields. In the current scenario, you are just overwriting the value in "System.Tags" field with the last field configuration.
What you can do is create custom target fields where to import the data that you want.

[2021-08-09 08:53] madkoo commented on #381
@mbogi Hi, are you using exporting from Jira Cloud or Jira server?
After you have exported how do the exported files look like? Does the Author field with have an actual name(email) or guid?
Can you share your configuration file?

[2021-08-14 05:32] PrashantRanjanTR commented on #105
@MOlausson please share the code to combine multiple Jira fields to 1 ADO string field.

[2021-08-16 06:56] V-MTHOMAS6 commented on #105
@PrashantRanjanTR  - Thanks, the code base we took got it from this repository doesn't have the code base for this functionality.

If you can refer any branches with latest code, that would be helpful.

[2021-09-04 16:00] carun opened #384 "Sample of CMMI process template"
At the moment, the samples are available for Agile, Scrum and Basic process templates.

I would like to have a sample to migrate Agile Jira project to CMMI ADO process.

AB#5570

[2021-09-09 12:51] IbrahimUmar opened #385 "Migration to Other Process Templats in Azure DevOps"
I want to migrate to some other proces template in azure devops like ,

**Agile , CMMI or some custom ones. Any possibillity?**

[2021-09-10 11:15] IbrahimUmar commented on #385
I have fixed the above error.

There is another error when i try to import Jira Items to Azure DevOps Server

**TF31002: Unable to connect to this Azure DevOps Server:** https://Mydomain/tfs/CollectionName/tfsmigration

I already created PAT with full rights at Collection Level.

[2021-09-14 12:16] IbrahimUmar commented on #384
Any answer or feedback on this question?

I am also looking for the way to migrate to other process templates like ,

CMMI , Agile ....
It always asking for mapping pf Story to Product Backlog items , which i dont want.

Any idea?

[2021-09-15 08:11] madkoo commented on #380
@ShindhujaaR based on the error description I would assume that the exception you are getting is due to trying to import a field, in this case, the priority field, for a work item that does not have that field defined.
Can you find out which work item type it might be?

[2021-09-16 09:06] #384 closed

[2021-09-16 15:57] MOlausson commented on #385
Yes, it's "just" mapping. Take a look at https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/config.md for reference and https://github.com/solidify/jira-azuredevops-migrator/tree/master/docs/Samples for examples.

[2021-09-16 18:36] changwanpeng opened #387 "Response was not recognized as JSON after run jira-export tool"
**Describe the bug**
jira-export.exe generated the following error:
[System.AggregateException] System.AggregateException: One or more errors occurred. ---> System.InvalidOperationException: Response was not recognized as JSON.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Powershell
2. cd C:\Temp\jira-azuredevops-migrator-2.3.117
3. Copy Sample\config-basic.json in the root
4. Ru

[2021-09-26 03:18] tung-nt-niteco commented on #328
Cool, thanks.

[2021-09-26 03:22] tung-nt-niteco commented on #226
I faced this issue as well. Did we have a solution, anyone? :)

[2021-09-28 18:52] sheyincp commented on #102
@MOlausson @JeffBor @cforce  or is it possible to customize the code to support filter (Param will be a date) in import commands ?

[2021-09-30 08:37] IbrahimUmar commented on #385
Thanks for your feedback.
Why Jira considered STORY as FEATURE? because in agile template of Azure DevOps , we have "User stories" and we dont think this is right to map STORY to FEATURE. It should be STORY as USER STORY.

How can i change this mapping accoridng to right template?

Why do you considered this mapping in such way. Kindly share your feedback?
Thanks and Regards

[2021-09-30 08:58] tung-nt-niteco commented on #385
@IbrahimUmar I think it is just a matter of config. In the sample config, it actually maps Story to Product Backlog Item in scrum methodology: https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/Samples/config-scrum.json
In my practical case, I also map Story to User Story in Agile methodology, different with the given sample (https://github.com/solidify/jira-azuredevops-migrato

[2021-09-30 09:10] IbrahimUmar commented on #385
I want to use AGILE TEMPLATE of Azure DevOps.

In this scenario , STORY in Jira should be translated in User Story in Azure DevOps. is this possible? Because i can't see any config file which doing that.

This is my question.

Target: target is to move Items types from Jira to Azure DevOps in same way. No alternative.

STORY = USER STORY
TASK = TASK
EPIC = EPIC
FEATURE = FEATURE
this is the ultima

[2021-09-30 10:54] tung-nt-niteco commented on #385
@IbrahimUmar And I already answered you, it is possible, just change the "target" value in the config and start experiencing :)

[2021-10-05 13:45] gevorkca opened #394 "System.InvalidOperationException: Response was not recognized as JSON."
**Describe the bug**
When I run the command line to export Jira tickets I'm getting an error Response was not recognized as JSON. I trimmed down my request to only 1 bug thinking maybe it is the content of the issue that is causing the problem but that was not the case.

AB#5726

[2021-10-06 10:40] tung-nt-niteco commented on #275
@MattCodd2 do r.OriginId and value?.ToString() have the same value?

[2021-10-06 12:22] #275 closed

[2021-10-07 18:18] sheyincp commented on #102
@MOlausson @JeffBor @cforce or is it possible to customize the code to support filter (Param will be a date) in import commands ?

[2021-10-07 18:24] sheyincp opened #395 "import is always duplicating work items even if it is already imported"
import is always duplicating work items even if it  is already imported

AB#5740

[2021-10-09 12:43] C-F-Palmer opened #396 "Jira Test Case Migration using an API call instead of a JQL query"
Hi,

Is it possible to use an API call such as https://{host and port}/jira/rest/atm/1.0/testcase/search?query=projectKey = "TM"&maxResults=400 in place of the JQL query as per the config.json file?

![image](https://user-images.githubusercontent.com/92213401/136658316-8c7740b1-93f8-40eb-8644-846f5061af3d.png)

Thanks

Chris

AB#5742

[2021-10-14 16:51] FacePath21 opened #397 "Export of Jira Server attachments not working for attachments with spaces in their name."
When we're running this tool, a large portion of our attachments are being truncated into 2kb files that cannot be opened.

I've checked all of our Jira logs and cannot find anything obvious. The logs on the exporter just say the following:

[D][17:16:33]    Mapping revision 1.
[D][17:16:33]    Downloading attachment info for attachment 'XXXX'.
[D][17:16:33]    Downloaded attachment '<Name of atta

[2021-10-25 19:15] lgalardi1965 opened #398 "Jira Portfolio issue links migrate to ADO"
**Is your feature request related to a problem? Please describe.**
I am trying to migrate **Jira Portfolio issue links** to ADO.  The issues migrate but the links do not.  Is Jira Portfolio with the "Parent Link" field supported?

**Describe the solution you'd like**
I would like the parent link field in jira portfolio to be supported in the migration from Jira to ADO

**Describe alternatives you'

[2021-11-11 14:52] wardmg opened #402 "Configuration file not recognized during import building execution plan"
When using wi-import to import a JIRA bug into Azure DevOps it is giving the error
[I][09:39:41] Building execution plan...
[W][09:39:41] Failed to load 'MigrationConfiguration.json' (perhaps not a migration file?).

This same Migration Configuration worked fine for the export command and is being used in the first few steps of the import. I know this because if I change that file, the changes are

[2021-11-11 16:02] wardmg commented on #402
Actually, although I still get the error, it is now recognizing the values in that file.

[2021-11-11 16:02] #402 closed

[2021-11-25 16:50] IbrahimUmar opened #404 "Migrating Users:"
Hi ,

I am migrating the Jira work items to Azure DevOps Cloud Services. Jira Export has done for 15k Work items perfectly fine. When i do import , There are two Challenges.

1. I created a token with FULL ACCESS in azure devops and on import , it throws en error. tf401289: the current user does not have permissions to create tags.  User in migration has VS Subscription and Project Admin. Then why

[2021-11-26 12:34] IbrahimUmar commented on #381
Hi , What is the format of Users.txt file in case of 100s users.

[2021-11-26 13:43] IbrahimUmar commented on #404
Is there any , or ; required between two email addresses?  Am i missing anything? Thanks

[2021-11-26 14:42] IbrahimUmar commented on #381
Hi ,After Migration , I am only having GUID in the assigned to and history areas. What i am missing?

[2021-12-02 18:51] cbladd commented on #281
Does this issue refer only to Azure DevOps.x-special/nautilus-clipboard or is there, more generally, no current support for importing commit/ticket links from jira to ADO?

[2021-12-06 05:17] ccheyyyyyyy commented on #163
@madkoo I am facing this same issue described as of 12/06/2021. To answer your question referenced at the bottom of my comment here; in my case, the Parent type in Jira is always an Epic and the Child item type in Jira is either a Task, Experience Task, Bug, or Documentation Task.

Further, in Jira, the "Epic Link" field on the Child item links back to the "Epic Name" field on the Epic.

Please le

[2021-12-06 06:51] Alexander-Hjelm commented on #404
Hi!

Make sure that the user to whom the PAT belongs has the "Create Tag Definition" permission at the Team Project level, either directly or via a security group.

Verify that the user mapping adheres to the following format:
[code]

If all else fails, provide us the log for one of the failing work items!

// Alexander

[2021-12-06 06:59] Alexander-Hjelm commented on #397
Hi!

Thank you noticing this bug. We will verify it on our end and implement a fix in an upcoming release.

Unfortunately there is no quick solution. Until further notice, you can rename all of your attachments in JIRA prior to exporting them, and rename them back in azure devops. If there are too many issues to go through manually, you can also implement an API solution to do a bulk rename. Tag t

[2021-12-06 07:03] Alexander-Hjelm commented on #371
Hi! :)

This feature does not currently exist. I will add it to the internal backlog, but whether we get to it will depend on the the complexity of implementing it.

// Alexander

[2021-12-06 08:41] Alexander-Hjelm commented on #378
Closing due to inactivity

[2021-12-06 08:41] #378 closed

[2021-12-06 08:44] Alexander-Hjelm commented on #398
Hi! Have you tried using the IncludeParents flag as described here? https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/config.md#download-options

// Alexander

[2021-12-06 08:46] Alexander-Hjelm commented on #396
Hi Chris!

No, unfortunately not, and we will not be implementing this feature.

You can remediate this by going into the Issues tab of your JIRA project, creating the query there and pasting it into your config file.

// Alexander

[2021-12-06 08:46] #396 closed

[2021-12-06 08:50] Alexander-Hjelm commented on #395
Hi!

This behavior should not hinder you. Simply do a workitem query that catches all work items from your migration, then do a bulk delete and start the migration over.

// Alexander

[2021-12-06 08:50] #395 closed

[2021-12-06 08:52] Alexander-Hjelm commented on #381
Closing due to inactivity

[2021-12-06 08:52] #381 closed

[2021-12-06 08:52] Alexander-Hjelm commented on #394
Hi! Please share the log and config file you're using

// Alexander

[2021-12-06 08:53] Alexander-Hjelm commented on #387
Hi! Please share the config file

// Alexander

[2021-12-06 08:53] #385 closed

[2021-12-06 08:54] #379 closed

[2021-12-06 08:56] #359 closed

[2021-12-06 08:57] Alexander-Hjelm commented on #355
Check the FAQ for mapping custom fields

[2021-12-06 08:57] #355 closed

[2021-12-06 08:57] #2 closed

[2021-12-06 08:59] #102 closed

[2021-12-06 08:59] #103 closed

[2021-12-06 09:00] #101 closed

[2021-12-06 09:01] #62 closed

[2021-12-06 09:01] #100 closed

[2021-12-06 09:05] Alexander-Hjelm commented on #370
Hi! See the FAQ for how to map custom fields: https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/faq.md

// Alexander

[2021-12-06 09:05] #370 closed

[2021-12-06 09:05] #361 closed

[2021-12-06 09:06] Alexander-Hjelm commented on #318
Fixed by: https://github.com/solidify/jira-azuredevops-migrator/pull/276 (not yet merged)

[2021-12-06 09:06] #318 closed

[2021-12-06 09:13] #310 closed

[2021-12-06 09:14] #297 closed

[2021-12-06 09:14] #305 closed

[2021-12-06 09:16] #64 closed

[2021-12-06 09:20] #260 closed

[2021-12-06 09:21] Alexander-Hjelm commented on #120
Continued in #223

[2021-12-06 09:21] #120 closed

[2021-12-06 09:23] Alexander-Hjelm commented on #380
Closing due to inactivity. Please open again if the issue is still relevant

[2021-12-06 09:23] #380 closed

[2021-12-06 09:43] Alexander-Hjelm commented on #271
Closing due to inactivity

[2021-12-06 09:43] #271 closed

[2021-12-06 09:45] #352 closed

[2021-12-06 09:47] Alexander-Hjelm commented on #288
Closing due to inactivity

[2021-12-06 09:47] #288 closed

[2021-12-06 12:31] Alexander-Hjelm commented on #304
Closed due to inactivity. Feel free to open again if this is still an issue

[2021-12-06 12:31] #304 closed

[2021-12-06 12:35] Alexander-Hjelm commented on #301
Generally, add-on data can be mapped, but the process can be a bit tricky. You would have to find out what the name of the custom field is on the JIRA side.

Then my advice would be to map the data to a custom string field on the AzDo workitems, then do a bulk edit (in excel or via the api) to parse the date string and map it to the custom date field.

I'm closing this issue due to inactivity. Fee

[2021-12-06 12:35] #301 closed

[2021-12-06 12:38] Alexander-Hjelm commented on #335
Hi Ayush!

Paste your config file here and I will try and help you.

Since this is an old issue, I will close it due to inactivity. Feel free to open again if you require further help.

[2021-12-06 12:38] #335 closed

[2021-12-06 12:39] Alexander-Hjelm commented on #377
This is above my knowledge, but perhaps @madkoo or @MOlausson can look into it?

[2021-12-06 12:46] Alexander-Hjelm commented on #296
Verfiy that you are using a JIRA access token and not your account password.

Closed due to inactivity. Feel free to open again if this is still an issue

[2021-12-06 12:46] #296 closed

[2021-12-06 12:48] ayushmaheswari commented on #335
Thankyou so much but i am able to complete that task.

On Mon, 6 Dec, 2021, 6:08 pm Alexander Hjelm, ***@***.***>
wrote:

[2021-12-06 12:48] Alexander-Hjelm commented on #290
Duplicate of issue #374, contd there

[2021-12-06 12:48] #290 closed

[2021-12-06 12:51] Alexander-Hjelm commented on #209
We will likely not be fixing this. If you don't have connectivity to your JIRA server then there are no issues with the Jira migrator itself.

Closed due to inactivity. Feel free to open again if this is still an issue

[2021-12-06 12:51] #209 closed

[2021-12-06 12:53] Alexander-Hjelm commented on #328
Will merge this change at a later stage. Thank you!

[2021-12-06 12:56] Alexander-Hjelm commented on #347
Hi!

This is a common issue after switching process templates. You will either have to make sure that all items have the Reason field set, or try migrating to a project with a different temaplte

Closed due to inactivity. Feel free to open again if this is still an issue

[2021-12-06 12:56] #347 closed

[2021-12-06 12:57] Alexander-Hjelm commented on #311
Resolved by @sgullluu , closing

[2021-12-06 12:57] #311 closed

[2021-12-06 13:03] Alexander-Hjelm commented on #335
Ok, no worries!

And apologies for the long inactivity. We have had a change of staff, during which no one was monitoring issues.

[2021-12-06 13:07] Alexander-Hjelm commented on #360
Try using the Epic Link Field in the config. You can find more information in the FAQ: https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/config.md

Closed due to inactivity. Feel free to open again if this is still an issue

[2021-12-06 13:07] #360 closed

[2021-12-06 13:10] Alexander-Hjelm commented on #348
Closed due to inactivity. Feel free to open again if this is still an issue

[2021-12-06 13:10] #348 closed

[2021-12-06 13:12] Alexander-Hjelm commented on #319
The "Response was not recognized as JSON" is likely a problem with authentication, since the unauthorized page renders as html.

I will close this issue due to inactivity. If you are still having problems, reopen the issue and mention me and I will try and help.

[2021-12-06 13:12] #319 closed

[2021-12-06 13:18] Alexander-Hjelm commented on #295
See solution by @Pairoba

Closed due to inactivity. Feel free to open again if this is still an issue

[2021-12-06 13:18] #295 closed

[2021-12-06 16:21] changwanpeng commented on #387
{
  "source-project": "AQUIIS",
  "target-project": "AQ",
  "query": "project=ProjectName ORDER BY Prio ASC",
  "using-jira-cloud": true,
  "workspace": "C:\\Temp\\JiraExport\\",
  "epic-link-field": "Epic Link",
  "sprint-field": "Sprint",
  "download-options": 7,
  "batch-size": 20,
  "log-level": "Info",
  "attachment-folder": "Attachments",
  "user-mapping-file": "users.txt",
  "base-area-path

[2021-12-07 09:03] Alexander-Hjelm commented on #387
@changwanpeng First of all, ensure that you have the correct project name in the JQL query ("ProjectName") is just a placeholder. Second, ensure that you are authenticating correctly to the JIRA server. Verify your username and access token.

[2021-12-07 10:21] punyautkalika opened #405 "I am not able to get parent/child link for epic and feature when using issue type link .But if i am using Epic link it worked fine ."
I have issue linked in jira but that has not transferred to azure board .
My feature is part of epic and story is part of feature but i could not see the links between epic/feature /pbi .
Please find my config file  and snapshot from jira

![image](https://user-images.githubusercontent.com/40838628/145011474-d4655352-7cfb-47af-afa7-c3b108412ca9.png)

{
  "source-project": "TEST",
  "target-project

[2021-12-07 12:24] punyautkalika commented on #405
@Alexander-Hjelm  Thanks for your response.

I have added parent child link in my jira where feature is part of Epic and story is part of Feature . But when i am migrating those work items i am having below in my logs :

 Link with description 'This issue is part of INNOAUTHEN-2' is either not found or this issue (INNOAUTHEN-7) is not inward issue.

But INNOAUTHEN-2 is already downloaded as i am e

[2021-12-07 13:28] punyautkalika commented on #405
As per you comment i have modified my config and used the below but still he link didn't created
{
"source": "Split From",
"target": "System.LinkTypes.Related"
},
{
"source": "Split To",
"target": "System.LinkTypes.Related"
},

[2021-12-07 17:43] punyautkalika commented on #170
@mihirsaxena-ril  I am having the same issue . can you please let me know how you have solved

[2021-12-07 18:32] punyautkalika opened #406 "Links are not created between parent/child"
Link has not created between the feature and story . I am posting my config file and the log :

"link-map": {
    "link": [
      {
        "source": "Epic",
        "target": "System.LinkTypes.Hierarchy-Reverse"
        },
        {
        "source": "parent",
        "target": "System.LinkTypes.Hierarchy-Reverse"
        },
        {
        "source": "Relates",
        "target": "System.LinkTyp

[2021-12-07 21:05] GaryRogers commented on #398
I think so, but the dual exports worked for us. We can probably close this Issue.

[2021-12-07 21:59] Alexander-Hjelm commented on #398
Ok! Closing this issue for now. Let us know if you require additional support :)

[2021-12-07 21:59] #398 closed

[2021-12-08 10:50] punyautkalika commented on #406
@madkoo @Alexander-Hjelm  can you please help

[2021-12-10 15:06] Alexander-Hjelm commented on #406
I have no idea, but shouldn't it be Parent with a big P?
Otherwise set "ignore-failed-links": false, and see if there are any more detailed errors

[2021-12-10 15:08] Alexander-Hjelm commented on #405
Is this issue still separate from #406 ?

[2021-12-10 15:09] Alexander-Hjelm commented on #405
Try setting "ignore-failed-links": false and see if there are any additional errors

[2021-12-12 10:03] Alexander-Hjelm commented on #387
@changwanpeng Is this still an issue? :)

[2021-12-12 10:04] Alexander-Hjelm commented on #394
@gevorkca  Is this still an issue? :)

[2021-12-12 10:04] Alexander-Hjelm commented on #404
@IbrahimUmar  Is this still an issue? :)

[2021-12-12 18:41] changwanpeng commented on #387
Both project name and credentials are correct.

[2021-12-13 06:29] Alexander-Hjelm commented on #387
The url should be the root of your jira server, not the issues

[2021-12-14 13:08] frjon92 commented on #394
Hi,

Sorry for my late reply! No there is no issue any more. you can mark this as resolved.

Kind regards,
Fredrik

[2021-12-14 13:13] #394 closed

[2021-12-20 08:14] punyautkalika commented on #406
Hello @Alexander-Hjelm  I have tried with ""ignore-failed-links": false," what i have observed if there is no epic link then we are not getting any child parent relation .

[2021-12-20 09:16] Alexander-Hjelm commented on #406
Ok! How did you find that out? Provide us with any errors/warnings from the log. If there are no errors, provide us the log for that issue.

my knowledge ends here, so @madkoo or @MOlausson will have to take over

[2021-12-20 10:46] punyautkalika commented on #406
@Alexander-Hjelm  If i have one feature and which have 3 story  linked in Jira . After migrating from  jira the links are missing in azdo .
INNOAUTHEN-7- Story
INNOAUTHEN-2- Feature
The link in jira type is parent/child as i have fetched the link details from jira api as shown in above image.
**Feature and pbi in jira**
![image](https://user-images.githubusercontent.com/40838628/146754779-80742e66

[2021-12-22 10:43] monishcm-msft opened #408 "Unable to migrate resolved/closed date (to a custom field in ADO)"
**The bug**
Trying to run a  migration between Jira and ADO for 1000s of items.
From issue #346 and #117 it is understood that we cannot migrate resolved date field from Jira to closed date field in ADO. Hence, we are trying to migrate it to a custom field and that does not work either.

**Configuration file mapping**
Config file mapping
      `{`
        `"source": "resolutiondate",`
        `"so

[2021-12-22 11:14] Alexander-Hjelm commented on #408
Hi Monish.

Have you tried migrating to a custom field of type Date/Time instead of string?

![image](https://user-images.githubusercontent.com/10683896/147084439-055bfb16-55c8-4a43-9af1-34d24329b7bc.png)

[2021-12-22 11:15] Alexander-Hjelm commented on #405
Continued in #406

[2021-12-22 11:15] #405 closed

[2021-12-22 14:25] monishcm-msft commented on #408
@Alexander-Hjelm - Yes, the custom field I am using - closed_date is a Date/Time field.

![image](https://user-images.githubusercontent.com/84397640/147107241-c4da7516-a015-43bc-927d-7b9a0260a43e.png)

_Note: The internal name of the field is closed_date._

Interestingly I have a custom date field in Jira that migrates properly to yet another custom field in ADO (both Date/Time). I am not sure why

[2021-12-22 14:44] monishcm-msft commented on #408
As per https://github.com/solidify/jira-azuredevops-migrator/issues/346#issuecomment-804066181 i used `id` as the source-type also used using `resolved` instead of `resolutiondate`.

`      {`
`"source": "resolved",`
`        "source-type": "id",`
`        "target": "Custom.Closed_Date"`
`      },`

Now I do not get any errors, but still the values are not migrated. 😞

[2021-12-22 14:56] Alexander-Hjelm commented on #408
I would say start by trying to map another field to Custom.Closed_Date, to verify that your azure devops custom field is set up properly.

[2022-01-04 11:50] punyautkalika opened #409 "Can i Map a jira external link with hyperlink in azure devops using solidfy"
I have one external link field in jira and i want to migrate that links to Azure board . Can i migrate as Hyperlink .Is it supported by solidify .

{
        "source": "customfield_10003",
        "target": "Hyperlink"
        },

AB#5994

[2022-01-04 13:16] Alexander-Hjelm commented on #409
If you map the link as a string value ("https://example.com/..."), the full text will be copied over and converted into a hyperlink on the azure devops side.

I don't think we support transformation of field values, so if you need to transform your hyperlinks you may need to script this solution yourself

[2022-01-04 19:48] punyautkalika commented on #409
@Alexander-Hjelm  Thanks a lot for the response , I am trying to migrate the a custom link field  from jira to the Target link which is hyperlink
![image](https://user-images.githubusercontent.com/40838628/148114871-4e3caea1-80fc-4251-ada1-99bc1f89555f.png)
![image](https://user-images.githubusercontent.com/40838628/148115278-6252465c-993b-4aab-a6fa-c5674bab37de.png)
![image](https://user-images.g

[2022-01-05 06:29] Alexander-Hjelm commented on #409
It might be that this is not supported. I would recommend migrating the hyperlink to a custom field, and then writing a script yourself that copies over the value of that custom field to a new hyperlink, via the workitem update API!

[2022-01-05 09:30] harishtc opened #410 "Unable to import data into ADO"
Hi Team,

I am trying to import data from Jira to ADO though solidify (version : 2.3.117). export has been done smooth. but, while coming to import, i am facing challenges.
i've shared you the log file data below, could you please check and help me on this.

-------------------------------------------------------------------------------------------
[I][12:54:48] Connecting to Azure DevOps/TFS...
[

[2022-01-05 17:07] harishtc commented on #410
guess there is a problem with access token i am using in cmd promt . but exactly not sure.

[2022-01-06 07:40] Alexander-Hjelm commented on #410
We cannot support you with authentication errors, as there is nothing wrong with the tool itself. Make sure you are using a valid Azure Devops PAT for you organization, and that the PAT is entered correctly in the config file.

[2022-01-06 08:50] tg1991 opened #411 "The value 'SPV' does not exist for the field 'project'."],"warningMessages""
**Describe the bug**
I am admin of my project and trying to run the tool for getting everything from Jira, it is strange as I ran it once and it connected with no issues but without changing anything I can no longer get it to work without the following errors.
As can see from the shot below the details of U P and rest of the settings appear to be what they should be.

![image](https://user-images.

[2022-01-06 08:51] tg1991 commented on #411
Forgot to add my file is in the root as it asks
![image](https://user-images.githubusercontent.com/36793219/148355962-b95f3797-fc16-4ea2-8ba2-59849c7b7ee6.png)

[2022-01-06 08:56] tg1991 commented on #411
If wat a text version here is the cmd module after ran, including what is being passed in

C:\Users\*******\Downloads\jira-azuredevops-migrator-2.3.117>jira-export -u ******@******.co.uk -p API KEY --url https://*****dev.atlassian.net --config config-scrum.json --force
Jira Exporter v2.3.117
Copyright (c) Solidify
[I][08:54:03] Connecting to Jira...
[I][08:54:03] Retrieving Jira fields...
[I][08:5

[2022-01-06 08:57] tg1991 commented on #411
Full config file

{
  "source-project": "SPV",
  "target-project": "Synergist Test",
  "query": "project = SPV ORDER BY Rank ASC",
  "using-jira-cloud": true,
  "workspace": "C:\\Temp\\JiraExport\\",
  "epic-link-field": "Epic Link",
  "sprint-field": "Sprint",
  "download-options": 7,
  "batch-size": 20,
  "log-level": "Info",
  "attachment-folder": "Attachments",
  "user-mapping-file": "users.tx

[2022-01-06 08:58] Alexander-Hjelm commented on #411
Going over some previous migrations, I saw that we used quotes around the project name. Try something like this:
[code]

[2022-01-06 09:10] tg1991 commented on #411
Hey Thank you for the fast response, just tried this and had the same issue :(
![image](https://user-images.githubusercontent.com/36793219/148358331-2dd2b6fc-097c-4ba5-a41c-0df7e09fa8ce.png)

[2022-01-06 09:20] Alexander-Hjelm commented on #411
Ok! Here are some more things you should try:
- Verify that the porject key is indeed "SPV" in jira
- Verify your jira access token

What happens if you run the exact same query inside JIRA issues? Do you find any items=

[2022-01-06 09:25] tg1991 commented on #411
from trying the above I get this, confirms the project name is SPV and that the search works in jira
![image](https://user-images.githubusercontent.com/36793219/148360279-df1659c6-1db2-4270-acd1-a387d384a63b.png)

And below shows my API token is working as it shows it was last accessed 15min ago which is when I last ran the script
![image](https://user-images.githubusercontent.com/36793219/1483603

[2022-01-06 09:37] Alexander-Hjelm commented on #411
So have ruled out the project setup and authentication, I'm wondering if the user you are trying to authenticate as maybe doesn't have access to the SPV project. Try the Permission helper as an admin account to verify that you actually have permission over the project:
https://confluence.atlassian.com/adminjiraserver/jira-admin-helper-938847791.html#JiraAdminHelper-PermissionHelper

FYI: This is n

[2022-01-06 09:50] tg1991 commented on #411
I have tried a lot of scenarios through this and they all show I have permission, are you sure there is nothing wrong in my settings etc?

here is an image showing my admin rights etc are set up so dont think its an atlassian issue
![image](https://user-images.githubusercontent.com/36793219/148363825-2b5cf9e2-5d4f-4d9b-807c-d163df1db095.png)

[2022-01-06 09:59] tg1991 commented on #411
I have got it to work, not sure why this worked, I changed log level to debug and removed this line completely "download-options": 7,
works perfect now, thank you so much for the help and looking into this

[2022-01-06 09:59] #411 closed

[2022-01-06 13:18] Alexander-Hjelm commented on #411
The download-options field specifiec wether to download additional issues or not (such as parents, linked items, etc...) not caught by the query. See the reference here:
https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/config.md#download-options

It might have been that you had linked items outside you user's access area?

Regardless, glad that it worked out for you :)

[2022-01-07 09:19] harishtc commented on #410
Hi Alexander,

May i know the mapper we can use to copy the reporter value from Jira to ADO. could you please let me know on this ?.

Regards,
Harish.

[2022-01-08 20:56] Alexander-Hjelm commented on #410
It should be MapUser, as of https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/config.md

[2022-01-10 20:15] mturpen opened #413 "Work Items Importing without Title"
Hello,

When importing from Jira Server to ADO Cloud using the migrator tool, there are some items that come into ADO with a blank title.

We have checked that there are no weird characters and the title is not too long and this does not appear to be the issue.

Tools:
Azure DevOps Cloud
Jira Server v8.5.1

Thank you,
Matt

[2022-01-10 20:32] Alexander-Hjelm commented on #413
Hi Matt!

You will need to supply us with the following:
- your config file
- and ideally the migration log files (or an excerpt of the log files that shows your issue being exported and imported)
- a jira issue and it's corresponding work item post-migration.

[2022-01-10 20:33] Alexander-Hjelm commented on #404
Closing due to inactviity. Feel free to reopen this issue if the problem persists.

[2022-01-10 20:33] #404 closed

[2022-01-10 20:33] Alexander-Hjelm commented on #387
Closing due to inactivity. Feel free to reopen this issue if the problem persists.

[2022-01-10 20:33] #387 closed

[2022-01-18 16:59] mturpen commented on #413
[troubleshoot_solidify.zip](https://github.com/solidify/jira-azuredevops-migrator/files/7890960/troubleshoot_solidify.zip)

I have attached a file with the logs, the .json export of the item that is coming in with no title, the config file, and an image of the (bug) work item in ADO without the title.

I have removed some of the data so if you see 'xxx' that is what happened.

Thank you,
Matt

[2022-01-19 02:24] tung-nt-niteco commented on #413
I have been migrating 100+ projects so far and faced this issue sometimes, too. Luckily, there were normally just a few of errors like this which I corrected manually. Interested in knowing the answer/solution.
I kept no error log or config so nothing to share.

[2022-01-19 08:17] tung-nt-niteco commented on #408
As I looked at the code, it seems that you would need to add this to the config in addition to source and target:
"type": "datetime"
For example:
{ "source": "resolutiondate", "target": "Microsoft.VSTS.CodeReview.AcceptedDate", "type": "datetime" }

More advance, in JiraMapper.cs InitializeFieldMappings() function, you can also do:
if (item.SourceType == "id" && item.Source == "resolutiondate") it

[2022-01-19 08:22] tung-nt-niteco commented on #397
Not sure if a fix I have done is related but I think it would be helpful:
https://github.com/tung-nt-niteco/jira-azuredevops-migrator/commit/95d9d5c8d3041239bf162e81bc74846884a0bf27

[2022-01-19 09:16] Alexander-Hjelm commented on #397
URL encoding the file name should do the trick yes. Please open a pull request if it's possible for you, and I will notify the dev team to look at it :) @tung-nt-niteco

[2022-01-19 09:34] tung-nt-niteco commented on #397
Thanks @Alexander-Hjelm it has been sometime so I can't remember all lines of code that I wrote, and also in fact someone already had a pull request here although Kookabura and I made a slightly improvement: https://github.com/solidify/jira-azuredevops-migrator/pull/327

Some other discussions:
https://github.com/solidify/jira-azuredevops-migrator/issues/267
https://github.com/solidify/jira-azured

[2022-01-19 10:00] Alexander-Hjelm commented on #397
Perfect! :)

[2022-01-24 10:57] harishtc commented on #410
Hi Team,

I could see similar type of error "Cannot add 'Child' CEN-164 link to 'Parent' CEN-165, 'Child' link-map configuration missing." many times during the import. can you help me how can i resolve this.

Regards,
Harish.

[2022-01-25 08:27] harishtc commented on #410
Team, any update on this ?.

[2022-01-25 09:25] Alexander-Hjelm commented on #410
With regards to the Effort field missing, this field is specific to PBIs in the Scrum process template. It might be that you are migrating to a different proccess or work item type. Refer to:
https://docs.microsoft.com/en-us/azure/devops/reference/xml/reportable-fields-reference?view=azure-devops-2020#measure

As for the child links not being added. Maybe you are trying to create a child-parent re

[2022-01-25 09:32] Alexander-Hjelm commented on #413
I noticed the following error in the export log:

[Microsoft.TeamFoundation.WorkItemTracking.Client.VerbatimMessageException] Microsoft.TeamFoundation.WorkItemTracking.Client.VerbatimMessageException: TF401289: The current user does not have permissions to create tags. ---> System.Web.Services.Protocols.SoapException: TF401289: The current user does not have permissions to create tags.

It seems t

[2022-01-25 09:33] Alexander-Hjelm commented on #409
Any update on this? @punyautkalika

[2022-01-26 16:23] #406 closed

[2022-01-26 16:23] punyautkalika commented on #409
@Alexander-Hjelm  i have resolved .Thank you :)

[2022-01-26 16:23] #409 closed

[2022-01-26 16:58] Alexander-Hjelm commented on #409
Great that it worked out! :) If you have the opportunity, we would greatly appreciate it if you could describe your solution in a few lines. Otherwise happy hacking!

[2022-02-07 12:44] Alexander-Hjelm opened #418 "Import step reads User Mapping file from the incorrect path"
See: https://github.com/solidify/jira-azuredevops-migrator/discussions/417#discussioncomment-2125053

AB#6098

[2022-02-07 19:52] IbrahimUmar commented on #404
Could not find user 'username@domain.com' identity in user map. Using original identity 'username@domain.com'.
Format of file is like below.

a@test.com=a@test.com
b@test.com=b@test.com
c@test.com=c_tst@test.com
*=a@test.com

[2022-02-08 07:50] DominikWalli commented on #413
I have the same Problem, it seems it has something to do with more than 1 Epic Link.
But it only happens to some items during migration, not sure why.
I am migration the type "task customizing" from Jira to a Task in DevOps

[2022-02-08 13:44] DominikWalli commented on #413
Deleted the double Epics in the JSON, now i have no Problems.
Seems it has to do with double EPIC Links.
A fix would be highly appreciated due to high workload of editing the jsons.

[2022-02-16 15:35] Alexander-Hjelm commented on #413
Perfect, let us know the results :)

[2022-02-23 16:33] Alexander-Hjelm commented on #413
Of course, stakeholders do not have access to create work items :)

Happy that you resolved it! I will close the issue

[2022-03-04 11:38] Ashok2781 opened #428 "Azure pipeline build failed"
Hello,

Good day to you all.

Im getting below error while trying to run the azure pipeline yaml file on Azure DevOps.

A task is missing. The pipeline references a task called 'richardfennellBM.BM-VSTS-Versioning-Task.Version-Assemblies-Task.VersionAssemblies'. This usually indicates the task isn't installed, and you may be able to install it from the Marketplace: https://marketplace.visualstudio

[2022-03-04 13:00] Alexander-Hjelm commented on #428
If you wish to build the jira migrator in an Azure Pipeline, you will need to install some additional tasks from the marketplace:
- https://marketplace.visualstudio.com/items?itemName=ms-devlabs.vsts-developer-tools-build-tasks&ssr=false#overview

[2022-03-21 10:16] rambaliga commented on #40
Hi,

We are now running into this same issue where we cannot migrate components, fix versions. Is this something that can be configured through solidify?

[2022-03-31 07:45] rambaliga opened #433 "Unable to connect to JIRA server"
Hi,
We are running solidify to migrate from Jira version 8.13.15 to Azure Devops.
I ran export command: jira-export -u Username -p Password--url https://yourjira.site.com/ --config config.json --force.

This was working fine until yesterday and we started facing issues since this morning. Below is the error message. we are still able to access JIRA through browser using the same username and passw

[2022-03-31 08:43] Alexander-Hjelm commented on #433
Try authenticating with an API token instead of your account password. Are you authenticating with your email or username? Try both

Otherwise if it's a network connectivity issue we can't really help :)

[2022-04-05 11:05] rambaliga commented on #191
Hi @madkoo , I am running into this issue for a custom field ( single user picker ). Can I know if this was fixed in the latest version of the tool? Below are my configurations. We will not be able to modify the field name to all lower case in JIRA.

{
		"source": "Deployement Approved By",
		"target": "Custom.DeploymentApprovedBy",
		"mapper": "MapUser"
	}

The export JSON doesn't have the value

[2022-04-05 16:24] rambaliga commented on #408
Hi @Alexander-Hjelm , @tung-nt-niteco

I am trying to migrate a custom date field from jira to custom date/time field in AzDO. In the export JSON, the value for this date field is as below

<img width="264" alt="image" src="https://user-images.githubusercontent.com/45536124/161800434-4040f76d-d949-43ac-820b-120943a85ace.png">

However, when this field is migrated , the date and time value gets imp

[2022-04-06 01:38] tung-nt-niteco commented on #408
@rambaliga It's the time zone difference between Azure DevOps and Jira. Make them the same before importing, then it will be correct.

[2022-04-06 02:45] rambaliga commented on #408
Hi @tung-nt-niteco ,

Both AZDO and JIRA server have the same time zone.
AzDO:
![image](https://user-images.githubusercontent.com/45536124/161885274-4861ceb0-d4a9-41d4-a29d-48f728daad90.png)
JIRA:
![image](https://user-images.githubusercontent.com/45536124/161885294-e5d5ad47-595e-4066-9370-7f372e81f667.png)

Values for the standard date fields are reflecting correctly, its only the custom fields (

[2022-04-06 04:31] tung-nt-niteco commented on #408
@rambaliga I guess you should check the personal settings of Azure DevOps for the time zone as well.

[2022-04-06 05:18] rambaliga commented on #408
@tung-nt-niteco - like I mentioned in my previous reply, time settings in my Azure Devops profile is also same as JIRA. Not sure why I am still seeing this difference.

[2022-04-06 06:07] tung-nt-niteco commented on #408
@rambaliga There are 2 places to set the time zone in Azure DevOps: Organization Settings, Personal Settings.
If they all look good, then I don't know :)  Perhaps Alexander or the developers of this tool knows why.

[2022-04-06 06:21] Alexander-Hjelm commented on #408
@rambaliga please create a new issue, this issue is monishcm-msft’s support errand

[2022-04-06 07:49] rambaliga opened #435 "Value for custom date field isn't migrating correctly in AzDO"
While trying to migrate a custom date field from jira to custom date/time field in AzDO, values aren't migrating correctly.
In the export JSON, the value for this date field is as below:
![image](https://user-images.githubusercontent.com/45536124/161922724-c6070e8e-451b-4f92-8a37-e423671e0ac3.png)

However, when this field is migrated , the date and time value gets imported as below:
![image](http

[2022-04-06 07:55] Alexander-Hjelm commented on #435
What does the mapping look like in the config file? And what is the type of the Custom.InQADate field?

[2022-04-06 08:42] rambaliga commented on #435
Mapping done in config file is as below:
{
	"source": "customfield_12010",
        "target": "Custom.InQADate"
    },

The API call gives below values

{
   "expand":"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations",
   "id":"317717",
   "self":"https://<site>/rest/api/latest/issue/317717",
   "key":"NWNA-13651",
   "fields":{
      "customfield_12010":"2020-07-0

[2022-04-06 08:55] Alexander-Hjelm commented on #435
Not sure, but it sounds like the date format is wrong, Azure DevOps uses ISO 8601 UTC, with "YYYY-MM-DD" accepted, for example.

As per #408, try the following and see if any of them work:

- Try adding "type": "datetime" to your mapping
- Try adding "source-type": "id" to your mapping

[2022-04-06 12:48] rambaliga commented on #435
@Alexander-Hjelm do you mean like this?

[code]

With this the tool doesn't pick the value at all in the export json.
Without "type": "datetime" the value is picked but still facing the same issue.

[2022-04-06 13:37] tung-nt-niteco commented on #435
@rambaliga Not sure but I think source-type should be "name" in your case.

[2022-04-13 05:22] RoyalWulf commented on #279
Hi,
I am getting the same error.  Has this been fixed?
Cheers

[2022-04-13 05:38] Alexander-Hjelm commented on #279
@RoyalWulf if this is indeed a bug, then no fix has been worked on yet to my knowledge.

I’m wondering if perhaps you have links to issues in other projects? Or otherwise links to issues that are outside of the migration svope? Could that be the problem?

[2022-04-13 05:45] RoyalWulf commented on #279
Hi,
Thank you for your quick reply.
The issue is in the same project and in scope of the migration.
I am migrating the whole project.

I have lots of these errors with issues linked to Epics.
It seems that issues created before the Epic is a problem

[2022-04-13 05:51] Alexander-Hjelm commented on #279
Is it possible to do the migration in 2 steps? First the epics and then the issues? As a workaround got now

[2022-04-13 06:30] RoyalWulf commented on #279
will try that

[2022-04-14 09:58] rambaliga opened #438 "Sprint value not getting mapped"
Hi Team,

Need support on the below issue,
[code]
The iteration **Hybris API Sprint 6** is already created when a work item was migrated. However it is giving error when a new work item with same sprint value is getting imported. This new work item should have been mapped to the existing iteration if my understanding is not wrong. Please advise.

Below is my config file ( I have added it as text f

[2022-04-19 12:43] Alexander-Hjelm commented on #438
Looks like the sprint name is already in use somewhere else in the Iteration hierarchy? Could this be the problem? Try to delete or rename the already existing iteration and try again

[2022-04-24 22:05] raja9787 commented on #105
Hello,
Has there been any progress on this request? I'm looking for this exact feature on our migration too. would be great if this is possible.

[2022-04-25 22:42] emanuellimabr commented on #194
It is happening with me, I am using Jira Cloud and when I try to map users using ID I get the error " Could not find user identity in user map". Can you share how did you fixed it?

[2022-04-26 14:54] emanuellimabr opened #443 "Comments are assigned to whoever runs the import tool"
**Describe the bug**
When I run the import command all the imported comments in DevOps shows me as author or whoever runs the import tool.
I am using Jira Cloud and mapping the users by email since when I tried to use JiraID I get the error "Could not find user identity in user map". I read the comments in this issue #194  but I could not solve my problem.

[2022-04-26 17:10] Alexander-Hjelm commented on #435
Is the error systematic? Is the date always being offset by 21.5 hours as in your example? If so, then it's an indicator that it could still be due to the time zone settings in your TFS or Jira.

Does mapping the custom field to a String field in AzDO give better results? If not, what value gets stored on the AzDO side? Is it a ISO 8601 UTC-string or just YYYY-MM-DD?

[2022-04-26 17:45] emanuellimabr commented on #443
Bellow is my configuration file, and yes, it is using the right mapper.
`{
  "source-project": "WFMKYNRPTS",
  "target-project": "CIO IT - WFM Reports",
  "query": "project = WFMKYNRPTS ORDER BY Rank ASC",
  "using-jira-cloud": true,
  "workspace": "C:\\Temp\\JiraExport-Hub-Reports\\",
  "epic-link-field": "Epic Link",
  "sprint-field": "Sprint",
  "download-options": 7,
  "batch-size": 20,
  "log

[2022-04-26 18:00] emanuellimabr commented on #443
Yes!

[2022-04-27 02:21] tung-nt-niteco commented on #443
It seems that you got the same problem like mine here: https://github.com/solidify/jira-azuredevops-migrator/discussions/415
I only got the problem on 1 AzureDevOps org and I finished all the work a couple of months ago, so I did not dig in further to understand why.

[2022-04-27 11:34] rambaliga commented on #435
Hi @Alexander-Hjelm , sorry I missed to update here- this was fixed by setting the time zone in Azure Devops same as that of JIRA. Although after changing the time zone settings it took quite a while for the changes to reflect correctly across projects.

[2022-04-27 11:34] #435 closed

[2022-04-27 11:40] #433 closed

[2022-04-27 11:41] rambaliga commented on #433
The issue was with the CAPTCHA on the JIRA server side :)

[2022-04-27 11:43] Alexander-Hjelm commented on #435
Ok, glad to hear that it worked :)

[2022-04-27 17:53] emanuellimabr commented on #443
So you are saying that it can be something related with the MS account?

[2022-04-27 20:05] emanuellimabr commented on #443
Hey guys, I just notice that in the history tab the comments are assigned to the right author, however, in the "Details" tab under the "Discussion" section it shows me as the author. Any thoughts on that?

[2022-04-28 02:36] tung-nt-niteco commented on #443
@emanuellimabr For your question, you can read the details in https://github.com/solidify/jira-azuredevops-migrator/discussions/415
It was not MS account in my case, it happened on a specific Azure DevOps org.

[2022-05-02 07:32] ChristianLejdstrom opened #444 "Fix Jira Bug"

[2022-05-02 08:10] punyautkalika opened #445 "[System.ArgumentOutOfRangeException] System.ArgumentOutOfRangeException: startIndex cannot be larger than length of string. Parameter name: startIndex"
I am getting the below error and unable to proceed .
[System.ArgumentOutOfRangeException] System.ArgumentOutOfRangeException: startIndex cannot be larger than length of string.
Parameter name: startIndex

{
  "source-project": "FX",
  "target-project": "Target_Migration_AzDp",
  "query": "project = FX  order BY key ASC",
  "workspace": "C:\\Temp\\JiraExport\\",
  "epic-link-field": "Epic Link",

[2022-05-02 08:11] punyautkalika commented on #445
Please suggest me a workaround to proceed

[2022-05-02 08:13] Alexander-Hjelm commented on #445
Can you paste the whole log?

[2022-05-02 09:17] punyautkalika commented on #445
@Alexander-Hjelm  please find the below :
2022-05-02T07:53:15.4560162Z [D][07:53:15]    Mapped value '[CCECARDSTP-212] Card Handling Integration and Modernization Program' to field 'System.Title'.
2022-05-02T07:53:15.5032320Z [D][07:53:15]    Mapped value '4' to field 'Microsoft.VSTS.Common.Priority'.
2022-05-02T07:53:15.5037121Z [D][07:53:15]    Mapped value '' to field 'System.IterationPath'.
20

[2022-05-02 11:22] Alexander-Hjelm commented on #445
Looks like this is an open bug, similar to: https://github.com/solidify/jira-azuredevops-migrator/issues/345

The bug was apparently resolved by this PR: https://github.com/solidify/jira-azuredevops-migrator/pull/276

We will try and merge the open PRs and create a new release soon. We can't give any dates yet, likely it is still some time away :)

In the meantime you can try and check out PR 276

[2022-05-02 12:24] Alexander-Hjelm commented on #410
Closing support ticket due to inactivity. Feel free to open the issue again if the issue persists :)

[2022-05-02 12:24] #410 closed

[2022-05-02 12:24] Alexander-Hjelm commented on #428
Closing support ticket due to inactivity. Feel free to open the issue again if the issue persists :)

[2022-05-02 12:24] #428 closed

[2022-05-04 07:38] adzz25 opened #447 "Links Partially added to work item."
Hello,

I download the latest version and I start a migration. But i am facing the same issue mentioned in  #163

"When child item is getting imported first and missing to add link to parent item as it does not exist in Azure yet, but when the parent epic is getting imported, the link to child is not getting added as its JSON itself does not contain this link."
I have some configs, logs and images

[2022-05-05 22:59] RoyalWulf commented on #443
I have the same issue.  All comments are under my name and the date of the comment is the date I ran the import.

[2022-05-05 23:05] RoyalWulf commented on #443
I have this in my configuration:
            {
                "source": "comment",
                "target": "System.History",
                "mapper": "MapRendered"
            },
in ADO the history looks better, has the right user making the comment, but the date is wrong, it is today
the comment can be seen in the Discussion section and has me as the user and today as date (both wrong)

[2022-05-05 23:11] RoyalWulf commented on #447
I have this same issue
I have it with Epics and links to Jira sub tasks
i brought this up in Discussion forum:
https://github.com/solidify/jira-azuredevops-migrator/discussions/448#discussioncomment-2691405

[2022-05-05 23:37] RoyalWulf commented on #300
Hi, Would like this feature, any progress? Cheers

[2022-05-06 01:55] RoyalWulf commented on #226
Have same issue

[2022-05-06 02:42] emanuellimabr commented on #443
You have the same problem as me. Probably is something related to ADO, I tried using the ADO REST API and the behavior was the same.

[2022-05-06 09:09] Tejanarni opened #449 "unable to import to Azure Boards"
Hello Everyone.

I am unable to import to Azure Boards>

Here are the logs & kindly please help . Thank you

Work Item Importer v2.3.117
Copyright (c) Solidify
[W][14:38:39] User mapping file 'C:\Temp\JiraExport\users.txt' not found, ignoring mapping user identities.
[I][14:38:39] Connecting to Azure DevOps/TFS...
[I][14:38:41] Retreiving project info from Azure DevOps/TFS...
[I][14:38:42] Buildin

[2022-05-06 10:01] Alexander-Hjelm commented on #449
The Work Item type "Product Backlog Item" does not exist on your target Azure DevOps oragnization :)

[2022-05-06 10:02] Alexander-Hjelm commented on #447
No immediate fix, but I have marked the issue as a bug, so likely we will look at it in the future.

[2022-05-09 15:51] emanuellimabr opened #450 "Fork Repository"
Hi guys, my question is not a bug or any other problem with this tool, it works like a charm. My question is regarding the use of this tool. My company has a policy in using third part software that is not approved by security team and it would take a while to go through the process to get this approval so I was wondering if I could fork this repository and use it to create my own private app. Is

[2022-05-09 17:24] #450 closed, assigned to Alexander-Hjelm

[2022-05-12 05:23] PerSundqvist opened #452 "JIRA migrator, Releases"

[2022-05-12 05:30] PerSundqvist commented on #452
Add functionality in the migrator to:
configure what work item type in ADO is to be target for Releases/Versions in JIRA
configure workitem mappings for release in JIRA with Release Item in ADO
- JIRA Release Start Date = ?? in ADO on Release Item
- JIRA Release Release Date ?? IN ADO on Release Item
- Release Name -> Should be Title in ADO on Release Item
configure workitem status mappings for re

[2022-05-18 05:05] #408 closed

[2022-05-19 15:03] jdewa opened #456 "Migrating multiple JIRA projects at once to azure DevOps"
Just wanted to know if it is possible to migrate multiple JIRA projects at once using the configuration JSON file to azure DevOps using the jira to azure DevOps/TFS work item tool - since the example provided only shows one project's work items being migrated.

[2022-05-19 15:06] jdewa opened #457 "Migrating multiple JIRA projects at once to azure DevOps"
Just wanted to know if it is possible to migrate multiple JIRA projects at once using the configuration JSON file to azure DevOps u

[2022-05-20 09:47] Alexander-Hjelm commented on #457
Duplicate of #456 , closing

[2022-05-20 09:47] #457 closed

[2022-05-20 09:51] Alexander-Hjelm commented on #456
Nope, you will have to script your own solution for generating a config file + running the migrator for each project :)

To migrate the issues of several projects into one ADO project, you can include multiple JIRA projects in your query like this:

![image](https://user-images.githubusercontent.com/10683896/169503029-491938b1-f4d2-4f40-9b4f-4f3fa187de6e.png)

Just make sure that your JIRA token h

[2022-06-01 17:39] bggo commented on #356
Guys!

Any thoughts on that! Same error here, its only happening with histories that have changed epic!

Regards

[2022-06-02 07:28] Alexander-Hjelm commented on #356
No immediate thoughts. We will possibly address it in an upcoming release, since we have introduced automated testing with my latest PR:

https://github.com/solidify/jira-azuredevops-migrator/pull/458

@bggo  if possible, could you describe more about under what circumstances the bug appears? For any task/issue that has changed their parent epic?

[2022-06-16 12:07] rambaliga commented on #374
Hi @Alexander-Hjelm - can you please let me know if there was a fix for this issue? we are facing the same issue and unable to figure out a way to make it work.

[2022-06-16 19:07] jdewa opened #474 "Previous project's revisions to issues happening during an import of a new project"
hello,

While importing a new project's issues into devops, the import is doing revisions and importing previous project's issues as well - is there any fix to this so that the runtime is quicker?

[2022-06-16 19:32] Alexander-Hjelm commented on #474
Nope, not through config at least. You'll have to edit the source code

[2022-06-16 19:57] jdewa opened #475 "warning in mapping to item type 'bug'"
Hello,

I am getting the following warning while exporting:

![image](https://user-images.githubusercontent.com/73182458/174153655-60cbbeba-ad63-4c59-9135-ee328b5a24f4.png)
 however, i am not mapping my issue types to 'bug' - bugs from jira are getting mapped to user stories and hence i have defined the states for user stories and not for bugs

is there a fix for this? @Alexander-Hjelm

[2022-06-16 22:36] jdewa opened #476 "sprint field from jira - map to devops"
hello,

is there a way to map the 'Sprint' field from jira issues to devops tasks and user stories?

@Alexander-Hjelm

[2022-06-17 06:44] Alexander-Hjelm commented on #475
You need to map the state "Require Additional Information". Read the documentation!

[2022-06-17 06:46] Alexander-Hjelm commented on #476
If the field is a simple string field, then it should be easy. You can find a config sample that shows how to do the mapping here: https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/config.md

[2022-06-17 11:27] Alexander-Hjelm commented on #452
Write a custom mapper that maps releases to a given work item type

[2022-06-17 11:30] Alexander-Hjelm commented on #452
https://solidifydemo.atlassian.net/projects/AGILEDEMO/versions/10004/tab/release-report-all-issues

[2022-06-17 11:41] #452 closed

[2022-06-20 06:56] Alexander-Hjelm commented on #444
Closing empty issue.

[2022-06-20 06:56] #444 closed

[2022-06-22 11:41] MuthumariPonnusamy opened #478 "Links are not imported into ADO for cross projects"
While migrating work items of 2 different projects into single project in ADO, their corresponding links are not imported into ADO.

[2022-06-27 23:24] RoyalWulf commented on #443
Interestly this is working now.  So something has changed in Jira or ADO.

[2022-06-27 23:42] emanuellimabr commented on #443
Yes! Somehow it got fixed!

[2022-06-27 23:42] #443 closed

[2022-06-28 10:42] MuthumariPonnusamy commented on #478
Please find the cofig files and Json files.
[cross projects.zip](https://github.com/solidify/jira-azuredevops-migrator/files/9000242/cross.projects.zip)

[2022-07-03 17:33] #456 closed

[2022-07-03 17:33] #449 closed

[2022-07-03 17:33] #445 closed

[2022-07-03 17:33] #438 closed

[2022-07-06 08:30] gnimor opened #491 "Migrated shows "Closed" as first state"
I am trying to import our JIRA server entries to Azure Devops. The migration completed without error, but I have a strange behaviour. In the history of all imported entries the first state is "Closed" instead of "Proposed" or "Active". I have attached the history of an imported item:

History in Azure Devops:
![devops](https://user-images.githubusercontent.com/14901306/177506010-77442a07-f2f1-498b

[2022-07-06 11:04] Alexander-Hjelm commented on #491
Strange behavior indeed. Marking this as a bug.

Any chance you can share the migration log file as a pastebin? @gnimor

[2022-07-06 11:39] gnimor commented on #491
@Alexander-Hjelm: What log files do you need? wi-import or jira-export log?

[2022-07-06 12:37] Alexander-Hjelm commented on #491
Both if possible!
________________________________
From: gnimor ***@***.***>
Sent: Wednesday, July 6, 2022 1:39:32 PM
To: solidify/jira-azuredevops-migrator ***@***.***>
Cc: Alexander Hjelm ***@***.***>; Mention ***@***.***>
Subject: Re: [solidify/jira-azuredevops-migrator] Migrated shows "Closed" as first state (Issue #491)

@Alexander-Hjelm<https://eur02.safelinks.protection.outlook.com/?url=htt

[2022-07-06 12:50] gnimor commented on #491
Sure..

[jira-export-log-220706-082414.txt](https://github.com/solidify/jira-azuredevops-migrator/files/9054851/jira-export-log-220706-082414.txt)

[wi-import-log-220706-082605.txt](https://github.com/solidify/jira-azuredevops-migrator/files/9054854/wi-import-log-220706-082605.txt)

[2022-07-06 16:58] MuthumariPonnusamy commented on #270
@madkoo Could you please let me know any fix is given for this issue. I'm also getting a same error message.
[System.NullReferenceException] System.NullReferenceException: Object reference not set to an instance of an object.
   at JiraExport.JiraMapper.<>c__DisplayClass21_0.<MapValue>b__2(Value s)
   at System.Linq.Enumerable.WhereSelectListIterator`2.MoveNext()
   at System.Linq.Enumerable.First

[2022-07-13 14:34] Alexander-Hjelm commented on #478
@MuthumariPonnusamy Not yet sadly. Since this feature is out-of-scope for what we originally intended for the tool, I can't give an estimate on how long it will take until we fix it.

In the meantime, we always welcome the community to implement it :)

If we can help you with your migration, you are always welcome to make a business inquiry to Solidify AB, Sweden.

[2022-07-18 05:28] rambaliga commented on #491
Hi @Alexander-Hjelm , any idea if there will be a fix for this anytime soon? We are facing the same issue with the tool.

[2022-07-18 10:54] Alexander-Hjelm commented on #491
@rambaliga
No estimate unfortunately. Since we don't have any direct funding for the jira-azdo migration tool, we can only work on it as soon as time allows us to. But we always welcome community fixes :)

If you are in urgent need, or if we can help you with your migration in some other way, you are always welcome to make a business inquiry to Solidify AB, Sweden.

[2022-07-18 10:55] Alexander-Hjelm opened #494 "Countries and GEO in Jira are not being adding in Azure"
### Discussed in https://github.com/solidify/jira-azuredevops-migrator/discussions/493

<div type='discussions-op-text'>

<sup>Originally posted by **KumarNSR** July 17, 2022</sup>
Countries and GEO assigned in Jira are not being adding in Azure, below is the code pls look into the issue and provide solution asap.
     {
        "source": "countries",
        "source-type":"name",
        "target"

[2022-07-18 10:56] Alexander-Hjelm commented on #494
@KumarNSR, I created an issue on this discussion

[2022-07-18 12:08] Alexander-Hjelm opened #495 "Links in Jira Subtask are not adding"
### Discussed in https://github.com/solidify/jira-azuredevops-migrator/discussions/492

<div type='discussions-op-text'>

<sup>Originally posted by **KumarNSR** July 17, 2022</sup>
Links in Jira SubTask section are not getting exported if there are two types of links (i.e - Sub-Task & Approval),only either sub-task or Approval is adding but not the both, below is the code pls provide the solution

[2022-07-18 13:01] Alexander-Hjelm commented on #494
Check the FAQ for mapping custom fields
https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/faq.md

Maybe your field name on the ADO side should be something like "Countries" or "Custom.Countries"?

[2022-07-19 20:27] KumarNSR commented on #406
@punyautkalika ,

 Am facing same type of issue , if any parent item has child links i.e in subtask - approvals and taks then only tasks are exported in jira log

Same issue with "relates to" links as well

Can you pls help on this issue

[2022-07-21 07:11] reallyandrew commented on #445
Is there any update on when a new release will be available containing this fix?

[2022-07-21 09:49] Alexander-Hjelm commented on #445
Hi @reallyandrew. This fix is merged into master already, but the master branch is largely untested at the moment, therefore we haven't released yet. Feel free to clone the master branch yourself and build the tool in visual studio :)

[2022-07-26 11:29] Alexander-Hjelm opened #500 "Cannot add a new link because one of work items being linked will exceed 1000 link limit"
### Discussed in https://github.com/solidify/jira-azuredevops-migrator/discussions/497

<div type='discussions-op-text'>

<sup>Originally posted by **NarendraBabuTR** July 25, 2022</sup>
Hello,
   We are hitting a problem with link exceeding 1000 limit for one of the test case which does not seems to have any links exceeding 1000. This has just 4 links only. Is there a solution to overcome this is

[2022-07-26 11:30] Alexander-Hjelm commented on #500
@NarendraBabuTR, please post the migration configs and the contents of the .json file for the problematic work item

[2022-07-26 16:26] abbinenis commented on #335
Hi Ayush. Could you please tell on how you were able to fix this issue. i am facing the same problem.

[2022-07-28 20:06] Alexander-Hjelm opened #502 "[System.OutOfMemoryException] System.OutOfMemoryException: Exception of type 'System.OutOfMemoryException' was thrown."
### Discussed in https://github.com/solidify/jira-azuredevops-migrator/discussions/501

<div type='discussions-op-text'>

<sup>Originally posted by **KumarNSR** July 28, 2022</sup>
@Alexander-Hjelm

While Importing to Azure getting error message as below
[E][23:42:24] Failed to import revisions for '0'.
[System.OutOfMemoryException] System.OutOfMemoryException: Exception of type 'System.OutOfMemor

[2022-07-28 20:07] Alexander-Hjelm commented on #502
@KumarNSR, please share the config file and migration log. Share the json file for the offending work item if possible

[2022-07-28 20:20] KumarNSR commented on #502
@Alexander-Hjelm ,

Config file

{
  "source-project": "SAP HRMS Change Management",
  "target-project": "SAPHRMSCM",
  "query": "project=HRMSCM AND type = Change Request",
  "query": "project = HRMSCM AND status = Done ORDER BY created DESC",
  "using-jira-cloud": true,
  "workspace": "C:\\Temp\\JiraExport\\",
  "epic-link-field": "Epic Link",
  "sprint-field": "Sprint",
  "download-options": 15,

[2022-07-29 04:19] NarendraBabuTR commented on #500
Hello @Alexander-Hjelm ,
  The problematic work item Json details as below.
  {
  "Type": "Test Case",
  "OriginId": "GCMSQABANG-1968",
  "WiId": -1,
  "Revisions": [
    {
      "Author": "himabindu.goteti@thomsonreuters.com",
      "Time": "2017-06-30T10:11:40+00:00",
      "Index": 0,
      "Fields": [
        {
          "ReferenceName": "System.CreatedBy",
          "Value": "himabindu.goteti

[2022-07-29 05:54] Alexander-Hjelm commented on #502
I see a lot of this error:

Which means that you are trying to import some custom field that does not exist in your work item definition. Have a look at which field it could be.

Otherwise it could be that maybe your migration job has too much data and your machine just isn't beefy enough to hold it all in memory at once?

You could try to split up the migration job in two parts but moving the non

[2022-07-29 06:01] Alexander-Hjelm commented on #500
Use the "query" field in the configuration file to regulate which items are migrated and not.

Maybe it's worth assigning the offending test case to a separate tag, and excluding that tag from the query, just for debugging purposes?

A quick way to see if the test case was exported or not would be to just open the folder with your exported issues in any IDE and do a project-wide search for the tes

[2022-07-29 06:02] Alexander-Hjelm commented on #500
Send the migration log as a pastebin as well, if possible

[2022-07-29 06:19] NarendraBabuTR commented on #500
Hello @Alexander-Hjelm , we see the test case coming thru as the query in the configuration is just to pull the "Test case" only as below.

project = 'GCMSQABANG' and (ID='GCMSQABANG-1968') ORDER BY id ASC",

But like I mentioned, this test case has a "Test execution" mentioned in JIRA and how this is getting pulled ( we dont have a mapping ) is the question. The one highlighted in yellow.

![imag

[2022-07-29 06:28] Alexander-Hjelm commented on #500
The query you posted should only find one issue, correct?

Is the jira exporter truly exporting only one work item? Or does it export the executions as well?

What are the contents of your workspace? Is only the test case there or are there more items? Maybe delete the offending test execution manually?

Have a look in the config file and play around with the Download-options flag maybe?
- https:/

[2022-07-29 06:34] NarendraBabuTR commented on #500
The output is just one JSON file. There is no whereabouts of "Test execution" at all as part of JIRA export. Unsure how its pulling in "Test Execution".

I can delete the offending Test execution manually, but if it creates again as part of migration, this is something we dont know.

I think instead of "7" download option we can try "3" ( 1 + 2 + 0). But if we ignore "4", would it ignore any links

[2022-07-29 06:37] Alexander-Hjelm commented on #500
I think your only choices are to ignore the link to the test execution, delete it manually, or reduce the number of links. Either way Azure DevOps will not be able to import work items with link count > 1000. Which option do you prefer?

[2022-07-29 06:40] NarendraBabuTR commented on #500
Hello @Alexander-Hjelm , how to ignore the link to "Test execution". What modification I can do in the above attached JSON file for the Work item.

[2022-07-29 06:41] NarendraBabuTR commented on #500
You mean select the "Download" option to be "( 1 + 2 + 0 = 3) and then try it out?

[2022-07-29 06:43] Alexander-Hjelm commented on #500
I would say start with setting download-options to be 0 to see if that does any change, and then go higher.

But what's wrong with just letting the migration run to the finish and then deleting the work item manually in Azure DevOps? AFAK it won't affect the rest of your data negatively.

[2022-07-29 06:46] NarendraBabuTR commented on #500
okay @Alexander-Hjelm . The migration completes good, but there are 1000 of test case which are missing the 'Test steps" data coming thru because of this issue.

We will try with "0" and go higher.

[2022-07-29 06:47] Alexander-Hjelm commented on #500
Ah ok!

[2022-07-30 07:34] Alexander-Hjelm opened #504 "Rendered field contains unparsable type Null, using text error message"
### Discussed in https://github.com/solidify/jira-azuredevops-migrator/discussions/503

<div type='discussions-op-text'>

<sup>Originally posted by **C-F-Palmer** July 30, 2022</sup>
Hi,

I have successfully exported and imported one issue from Jira to Azure DevOps but not all fields in my mapping have come across. The fields that are not exporting are showing the following error:

![image](https:

[2022-07-30 07:35] Alexander-Hjelm commented on #504
@C-F-Palmer, have a look in the exported work item .json file. Does the Custom.AffectedBuildNumber field appear there? If so then it's a problem with the exporter. Otherwise it's a problem with the importer. Let me know what you find out.

[2022-07-30 17:57] C-F-Palmer commented on #504
@Alexander-Hjelm , yes it does:
![image](https://user-images.githubusercontent.com/92213401/181935767-b46fc216-f929-4dd2-a993-e73c8b5b4840.png)

[2022-07-30 19:21] Alexander-Hjelm commented on #504
Then likely an issue with the work item model in Azure DevOps. Does the field ”Custom.AffectedBuildNumber” exist on the work item type that you are trying to import into?
________________________________
From: C-F-Palmer ***@***.***>
Sent: Saturday, July 30, 2022 7:57:20 PM
To: solidify/jira-azuredevops-migrator ***@***.***>
Cc: Alexander Hjelm ***@***.***>; Mention ***@***.***>
Subject: Re: [soli

[2022-07-30 21:20] C-F-Palmer commented on #504
Hi Alexander, thanks for replying so promptly on a weekend. Below is a screen shot from the ADO environment I am trying to migrate to. The field is there and I can't see anything obvious that would be stopping it from coming across:

![image](https://user-images.githubusercontent.com/92213401/181996506-4ccec954-c334-4663-bde0-701e4f490819.png)

Thanks
Chris

[2022-07-30 21:32] Alexander-Hjelm commented on #504
Not sure, I’ll look into it. Meanwhile it seems that for some people it has helped to remove the source-type property in the config file for your fields. Maybe try that? See: https://github.com/solidify/jira-azuredevops-migrator/issues/316
________________________________
From: C-F-Palmer ***@***.***>
Sent: Saturday, July 30, 2022 11:20:44 PM
To: solidify/jira-azuredevops-migrator ***@***.***>
Cc:

[2022-07-30 22:24] C-F-Palmer commented on #504
Hi Alexander, I just tried again with using the following:

{
        "source": "Affects Build Number",
	"source-type": "name",
	"target": "Custom.AffectedBuildNumber"
      },

      It has worked this time. Not sure what has happened here except that I removed comma at the end of the "target" line.

      Thanks again for all your help.

[2022-07-30 22:43] Alexander-Hjelm commented on #504
Aha! I didn’t catch that ^^

But it makes sense. JSON doesn’t allow trailing commas, so there could be issues with parsing the config file in that case.

But glad that it worked for you. I would go over the whole config file and ensure that there are no trailing commas in any json object or array. Maybe use a json linter!
________________________________
From: C-F-Palmer ***@***.***>
Sent: Sunday,

[2022-07-31 08:48] #504 closed

[2022-08-01 09:43] MorningsWait opened #505 "I am trying to export but nothing get exported nor no errors"

[2022-08-01 09:46] Alexander-Hjelm commented on #505
Hi @MorningsWait !

We need a bit more information to help you :)

Please upload your migration log and your config file in this issue, preferable as pastebins or gists

[2022-08-02 04:38] MorningsWait commented on #505
It is related to export side , it is able to login shows 139
[jira-export-log-220802-133508.txt](https://github.com/solidify/jira-azuredevops-migrator/files/9239053/jira-export-log-220802-133508.txt)
,

[2022-08-02 05:57] Alexander-Hjelm commented on #505
Have you set the target folder in your config file? Otherwise share the config file here

[2022-08-02 07:24] ViswaMohan88 opened #506 "Hi Team, Do we have any code to migrate Filters and dashboards from Jira to Azure. Please let me know if we have anything."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-02 07:24] ViswaMohan88 commented on #506
Do we have any code to migrate Filters and dashboards from Jira to Azure. Please let me know if we have anything.

[2022-08-02 07:25] Alexander-Hjelm commented on #506
Nope, this tool only migrates the issues. Nothing more and nothing less :)

[2022-08-02 07:27] ViswaMohan88 commented on #506
Hi Alex, Thank you for the quick response. Do you have any idea on how to migrate the filters and dashboards. Or any other applications or plugins which can do this?

[2022-08-02 07:38] Alexander-Hjelm commented on #506
Not on the top of my head, sadly. It should be possible to write such a migrator but the challenges are mapping the JQL syntax to the Azure DevOps WorkItem Query Languange (for filters) and provisioning individual widgets in Azure Dashboards that may or may not completely match the features of JIRA widgets, if any corresponding widget exists at all. Another question is how you would migrate custom

[2022-08-02 08:49] MorningsWait commented on #505
{
  "source-project": "TF",
  "target-project": "Tech Foundation",
  "query": "project=TF",
  "using-jira-cloud": false,
  "workspace": "C:\\Temp\\JiraExport\\",
  "epic-link-field": "Epic Link",
  "sprint-field": "Sprint",
  "download-options": 7,
  "batch-size": 20,
  "log-level": "debug",
  "attachment-folder": "Attachments",
  "user-mapping-file": "users.txt",
  "base-area-path": "Migrated",

[2022-08-02 08:52] Alexander-Hjelm commented on #505
Ok, looks fine. And C:\\Temp\\JiraExport\\ is empty?

[2022-08-02 09:02] MorningsWait commented on #505
Yes

[2022-08-02 09:58] Alexander-Hjelm commented on #505
Maybe something to do with file permissions? Try invoking the script from an administrator shell?

[2022-08-03 03:29] MorningsWait commented on #505
still same

[2022-08-03 07:09] Alexander-Hjelm opened #508 "Which port is the tool using?"
### Discussed in https://github.com/solidify/jira-azuredevops-migrator/discussions/507

<div type='discussions-op-text'>

<sup>Originally posted by **dacula** August  3, 2022</sup>
Hello together,
i'm not very skilled with network administration but it looks like the application is blocked by our firewall.
Can you tell me which port i need to open to get access?

Kind regards
dacula</div>

[2022-08-03 07:10] Alexander-Hjelm commented on #508
For on-prem use cases, the server where you run the jira migrator will need openings to these:
- Your Azure DevOps Server Instance
- Your JIRA Server instance

[2022-08-03 07:15] dacula commented on #508
Our Jira Server instance is behind an Akamai CDN with Microsoft OAuth Authentication. Is there a way to Authenticate with Microsoft OAuth?

[2022-08-03 07:15] Alexander-Hjelm commented on #505
Then hard for me to say. A few more things you can try:
- If you are running JIRA Server, make sure that the JIRA Server version is listed in the offically tests versions in the documentation of this tool.
- Can you manually download the issues with the JIRA API?
- Maybe something funky with your file permissions, try exporting to a different disk or folder
- Try running the tool on another machin

[2022-08-03 07:17] Alexander-Hjelm commented on #508
Nope, you need a valid JIRA API token to authenticate :)

[2022-08-03 07:38] dacula commented on #508
i tried it with an API token but it just gives me an outh http page back

Jira Exporter v2.3.117
Copyright (c) Solidify
[I][09:34:32] Connecting to Jira...
[I][09:34:32] Retrieving Jira fields...
[E][09:34:32] Unexpected migration error.
[System.AggregateException] System.AggregateException: Mindestens ein Fehler ist aufgetreten. ---> System.InvalidOperationException: Response was not recognized a

[2022-08-03 07:43] Alexander-Hjelm commented on #508
Then I can't really say, sadly. The rest API token is the preferred way to access the rest API, so that's how we have implemented it. To my knowledge there is no native way to authenticate with the rest API using OAuth tokens. So if you cannot authenticate to the API, how to you expect to be able to run the tool? :)

[2022-08-03 07:55] dacula commented on #508
Alright, i think i used a PAT not an API token, i will try it again with an API token, sorry and thank you!
The API token has to be used as password right?

[2022-08-03 08:04] Alexander-Hjelm commented on #508
Yup! You can find some usage examples in the docs. :)

Here is an article that shows you how to manages API tokens in case you need it: https://support.atlassian.com/atlassian-account/docs/manage-api-tokens-for-your-atlassian-account/

[2022-08-03 08:06] dacula commented on #508
Thanks a lot!

[2022-08-03 08:06] Alexander-Hjelm commented on #508
No worries :)

[2022-08-03 18:06] C-F-Palmer opened #509 "Mapping Jira Cascading fields to seperate fields in ADO"
**Describe the bug**

As referenced in #292

I am trying to map the cascading fields I have in Jira that looks like this:

![image](https://user-images.githubusercontent.com/92213401/182675300-12a33d17-7d76-4a89-92bc-cc6129203066.png)

![image](https://user-images.githubusercontent.com/92213401/182675402-7a5420c3-bca8-44c7-b432-9ba9b92b3777.png)

I am trying to map them to separate fields in ADO t

[2022-08-03 21:31] Alexander-Hjelm commented on #509
To my knowledge, we haven't implemented support for cascading picklists as of #292, and no plan to do it in the foreseeable future.

Are you sure that "customfield_10007:1" is a field that lives directly on the object model of the Jira issue? And not some kind of field property? The tool will only migrate FIELDS. You can pull the issue via the REST API to find out for yourself.

[2022-08-03 22:25] C-F-Palmer commented on #509
Hi Alexander,

Thanks for the late night response again. Here is an extract from the issue via the API:

"customfield_10007": {
      "self": "https://xxxxxxxxxxx/jira/rest/api/2/customFieldOption/10242",
      "value": "Ikon Science",
      "id": "10242",
      "child": {
        "self": "https://xxxxxxxxxx/jira/rest/api/2/customFieldOption/15020",
        "value": "Support / CCT",
        "id":

[2022-08-04 06:58] ViswaMohan88 commented on #506
Thanks for your inputs Alex.

[2022-08-04 07:03] ViswaMohan88 commented on #506
And do we have any code or tool to migrate Confluence to Azure WIKI?

[2022-08-04 07:15] Alexander-Hjelm commented on #506
At Solidify we provide Confluence->AzDO Wiki migrations as a paid service :)

[2022-08-04 07:29] ViswaMohan88 commented on #506
Ohh. May I know the charges for that.

[2022-08-04 07:45] Alexander-Hjelm commented on #506
Of course, shoot me an email at alexander.hjelm@solidify.dev and I'll send you the rates :)

[2022-08-04 08:46] Alexander-Hjelm commented on #509
Yeah, looks like the missing property is actually a child that lives on the field itself. I'm pretty sure we don't have support for child features today. Since we lack funding for this feature, it will probably not be prioritized. We always welcome community contributions, though.

If it's feasible for you, I would recommend doing an initial migration run with our tool, and writing a custom script

[2022-08-04 08:46] Alexander-Hjelm commented on #509
I will mark this as a feature request :)

[2022-08-05 06:09] ViswaMohan88 commented on #506
Thanks for the Email Alex. We will think about it.
I have one doubt in Jira Migration. Can we pass a customfield value to Azure using Config file?
Note: That custom field is not present in Jira.
For Example: there is a Custom field called Area in Azure. While doing the export and import, I need to give the value as DevOps . Is that possible?

[2022-08-05 08:05] Alexander-Hjelm commented on #506
You can map custom JIRA fields yes :) Check the docs: https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/faq.md

[2022-08-05 08:46] ViswaMohan88 commented on #506
Alex, I am asking about the field which is not present in Jira. We need to pass a value to Azure Devops using Config file.
Is that possible?

[2022-08-05 10:13] Alexander-Hjelm commented on #506
Don’t think that is possible today. You can either write your own mapper that only takes one target ADO field, or write your own rest api integration that populates your ADO work items with a field and value, based on a WIQL query
________________________________
From: ViswaMohan88 ***@***.***>
Sent: Friday, August 5, 2022 10:46:18 AM
To: solidify/jira-azuredevops-migrator ***@***.***>
Cc: Alexand

[2022-08-05 11:54] C-F-Palmer opened #510 "Images not appearing in ADO Text (multiple lines) field after import."
I have two Text (multiple lines) fields in my Bug WIT.  Only one of the fields is rendering the images correctly after the import. The images themselves are being migrated to ADO and appear in the Attachments tab as expected (Screenshot 3) but for some reason the image is not showing in one of the fields.

I have also manually attached the image to this field and that works as expected.

I have al

[2022-08-09 02:05] mbenachour-premierinc commented on #237
@MOlausson  facing same issue, any plans to ship in future releases ?

[2022-08-09 07:01] Alexander-Hjelm commented on #510
Not 100% sure what is happening. The Importer has some logic for converting html img-tags to the correct format. Probably something funky is going on under the hood. You could try either:
- Experiment with the faulty image url and try to get it on a correct format. See if the image manages to load. If it does, you could write a custom rest api script that updates the description of each bug in the

[2022-08-12 12:45] moerketh opened #511 "Jira export crashes with NullReferenceException in GetCustomId"
**Describe the bug**
Latest version of Jira export (master branch) crashes with NullReferenceException.

[code]
The version in this log may be ignored, I used the included azure-pipelines.yaml to build the master branch.

This has been raised earlier by @nk111 as comment on the commit [here](https://github.com/solidify/jira-azuredevops-migrator/commit/fce48f0f26f468be4a3fd34f435b4d40b4e369d8#r7864

[2022-08-12 13:22] moerketh opened #513 "WorkItemMigrator Azure pipelines artifact is missing a dependency"
**Describe the bug**
Latest version of Work Item Importer (master branch) crashes because it is missing a required assembly when build with the included azure-pipelines.yaml

The error is:
[code]
The version in this log may be ignored, I used the included azure-pipelines.yaml to build the master branch.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the jira-azuredevops-migrator with

[2022-08-12 13:40] Alexander-Hjelm commented on #513
Hi Thomas! Good find :) Does your PR solve the issue?

If you find yourself waiting, you can always use the latest stable Release here: https://github.com/solidify/jira-azuredevops-migrator/releases/tag/v2.3.117

If you opt for going with the latest version on the master branch, please report any findings through the GitHub issues. We would love to get it tested more thoroughly :)

[2022-08-12 13:40] Alexander-Hjelm commented on #511
Good find! Did your PR solve the issue?

[2022-08-12 16:37] moerketh opened #515 "Connection to Azure DevOps does not work"
**Describe the bug**
Latest version of Work Item Importer (master branch)  shows a Chromium Edge Browser pop-up when connecting to Azure DevOps where I can select the correct Microsoft Login credential. The pop-up does not present a problem per se, however it does not work in my environment. My environment has too many restrictions (VPN, proxy, viruscanners, laptop policies, AAD policies, etc.) to

[2022-08-13 17:58] moerketh commented on #513
This fixed the error, yes. However I've since learned that Microsoft.VisualStudio.Services.Client was used because the WitClientWrapper.cs was not using the configured PAT. So I'm closing this in favor of issue #515 with PR #516

[2022-08-13 17:58] #513 closed

[2022-08-13 18:15] moerketh commented on #511
Yes, works for me

[2022-08-15 09:38] moerketh commented on #513
@Alexander-Hjelm just a question regarding your comment. The latest release is 2 years old at this time. Will I miss a lot of functionality\bugfixes when I go with this release compared to the master branch? What would you say is the main difference?

[2022-08-15 09:41] Alexander-Hjelm commented on #513
The only difference is a couple of bugfixes related to rendering HTML fields and images. If the migrator is running smoothly for you with in 2.3.117, then likely the master branch will work just as well.

[2022-08-15 09:56] Alexander-Hjelm opened #517 "Receiving an error when I try to run jira-exporter"
(Originally emailed to the JIRA support box by spm6711@psu.edu)

Hello,

I am trying to migrate from Jira to Azure Devop’s.   We are running a type: Kanban in Jira, and I would like to try to migrate to a Agile framework in Azure Devop’s.   Every time I run, I am receiving the following error message, and after looking through the documentation, and debugging the code, I am unable to figure out wh

[2022-08-15 10:04] Alexander-Hjelm commented on #517
Sounds very strange. This behavior doesn't usually happen, so most likely it's related to your JIRA instance.

Judging by the error message, it seems that the list of fields from the JIRA API is not JSON-parsable, which sounds very strange...

A few suggestions:
- Try and see if you can intercept the HTTP response inside GetCustomFieldsAsync(), or maybe that class is from the JIRA api library? The

[2022-08-16 09:08] ViswaMohan88 opened #518 "Getting error while doing the export"
Hi Team,

I am getting below error while i am doing the jira export.
Please help me to resolve this issue ASAP.

Copyright (c) Solidify
[I][10:00:59] Connecting to Jira...
[I][10:00:59] Retrieving Jira fields...
[E][10:00:59] Unexpected migration error.
[System.AggregateException] System.AggregateException: One or more errors occurred. ---> System.Configuration.ConfigurationErrorsException: Error

[2022-08-16 10:07] Alexander-Hjelm commented on #518
Looks to me like you might be having problems with your proxy configuration? Or otherwise have problems connecting to JIRA from the terminal

[2022-08-16 10:26] ViswaMohan88 commented on #518
What is the solution for that Alex.
We have scheduled a Production migration of one jira project. Please suggest me some solution.

[2022-08-16 12:17] Alexander-Hjelm commented on #518
We can't help you with your own environment.

Have you set everything up in accordance with the docs? See:
- https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/overview.md
- https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/jira-export.md
- https://github.com/solidify/jira-azuredevops-migrator/blob/master/docs/config.md